- provide(:title, 'Questions')
- provide(:sub_title, 'People discussing stuff')


.row
  .panel.dark.kill_bottom
    .row
      .span
        = form_tag questions_path, method: 'get' do

          = text_field_tag :search, params[:search], placeholder: "Search questions...", class: 'search-query'
      .span.pull-right

        = link_to "Ask a question", new_question_path
.row


  - if @questions.count > 0
    - for questions_item in @questions

      #questions_index_questions_item.panel.dark
        .row
          .span5
            = questions_item.plusminus

          .span
            .row
              = link_to questions_item do
                = questions_item.title
            .row
              = questions_item.user.name
            .row
              Tags:
              / = raw questions_item.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ')
              = raw questions_item.tags.map { |t| link_to t.name, tag_path(t.name) }.join(', ')
  - else
    No questions found


