- provide(:title, 'Questions')
- provide(:sub_title, 'People discussing stuff')


.row
  .panel.dark.kill_bottom
    .row
      .span
        = form_tag questions_path, method: 'get' do

          = text_field_tag :search, params[:search], placeholder: "Search questions...", class: 'search-query'
      .span.pull-right

        = link_to "Ask a question", new_question_path, class: "btn btn-primary btn-embossed"
.row


  #questions_index_questions_item.panel.dark
    - if @questions.count > 0
      - for questions_item in @questions

        .row
          .span7
            .questions_index_questions_item_stats.votes
              = questions_item.plusminus
              .questions_index_questions_item_stats_label
                votes
              
            .questions_index_questions_item_stats.answers
              = questions_item.answers.count
              .questions_index_questions_item_stats_label
                answers
            
          .span55.offset1
            .row.questions_index_questions_item_title
              = link_to questions_item do
                = questions_item.title
            .spacer10
            .row
              = questions_item.content_trunc
            .row.pull-right
              .row.questions_date
                = time_ago_in_words(questions_item.last_active_at)
                ago
              .spacer5
              .row
                .span2
                  %span.fui-user
                .span15.offset1
                  .row
                    = questions_item.user.username
                  .row
                    / = questions_item.user.points
            .spacer5
            .row.questions_index_questions_item_tags.application_tags_container
              / = raw questions_item.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ')
              = raw questions_item.tags.map { |t| link_to t.name, tag_path(t.name), class: "btn btn-default btn-mini" }.join('')

    - else
      No questions found
  .row
    = paginate @questions





- content_for :questions_sidecolumn_includes do

  = render partial: "sidecolumn_tags"