- provide(:title, @question.title)
- provide(:sub_title, @question.title)

- provide(:breadcrumb, "Questions")
- provide(:breadcrumb_url, "/questions")


.row
  .panel.dark
    .row
      .span5
        %div
          %i.icon-caret-up.application_vote{ "data-vote_direction" => "up" , "data-voteable_id" => @question.id }
        %div
          = @question.plusminus
        %div
          %i.icon-caret-down.application_vote{ "data-vote_direction" => "down" , "data-voteable_id" => @question.id }
      .span50
        .row
          = @question.title
        .row
          = @question.content
        .row.pull-right
          = link_to @question.user.name, "/map?user_id=" +  @question.user.id.to_s

    .row
      .offset5
        - if @question.comments.count > 0
          .spacer10
          - @question.comments.each do |question_comment|
            .row
              .span4
                %div
                  %i.icon-caret-up.application_vote{ "data-vote_direction" => "up" , "data-voteable_id" => question_comment.id }
                %div
                  %i.icon-caret-down.application_vote{ "data-vote_direction" => "down" , "data-voteable_id" => question_comment.id }
              .span1
                = question_comment.plusminus

              .span50
                = question_comment.content
                = link_to question_comment.user.name, "/map?user_id=" +  question_comment.user.id.to_s
        .spacer10
        .row
          = questions_addcomment_link(@question.id,"Question")

- if @question.answers.count > 0
  - @question.answers.each do |question_answer|
    .row
      .panel.dark.kill_top
        .row
          .span5
            = question_answer.plusminus
          .span50
            .row
              = question_answer.content
            .row.pull-right
              = link_to question_answer.user.name, "/map?user_id=" +  question_answer.user.id.to_s

        .row
          .offset5
            - if question_answer.comments.count > 0
              .spacer10
              - question_answer.comments.each do |question_answer_comment|
                .row
                  .span4
                    %div
                      %i.icon-caret-up.application_vote{ "data-vote_direction" => "up" , "data-voteable_id" => question_answer_comment.id }
                    %div
                      %i.icon-caret-down.application_vote{ "data-vote_direction" => "down" , "data-voteable_id" => question_answer_comment.id }
                  .span1
                    = question_answer_comment.plusminus

                  .span50
                    = question_answer_comment.content
                    = link_to question_answer_comment.user.name, "/map?user_id=" +  question_answer_comment.user.id.to_s
              .spacer10
              .row
                = questions_addcomment_link(@question.id,"Question")



.row.panel.darker
  #questions_show_answer_label
    Your Answer
    .spacer5
    = form_for @answer do |f|
      .row
        = f.text_area :content, id:"questions_show_answer_content"
        = f.hidden_field :question_id, value: @question.id
      .row
        = f.submit "Submit answer", class: "btn btn-inverse"
