- provide(:title, @question.title)
- provide(:sub_title, @question.title)

- provide(:breadcrumb, "Questions")
- provide(:breadcrumb_url, "/questions")


.row
  .panel.dark
    .row
      .span6
        .application_vote{ "data-vote_direction" => "up" , "data-voteable_id" => @question.id }
          %i.icon-caret-up
        .questions_show_votes
          = @question.plusminus
        .application_vote{ "data-vote_direction" => "down" , "data-voteable_id" => @question.id }
          %i.icon-caret-down
      .span65
        .row#questions_show_title
          = @question.title
        .spacer10
        .row
          = @question.content
        .spacer10

        / - if @question.user == current_user
        .row
          %span.questions_show_edit
            = link_to "edit", edit_question_path(@question)
          %span.questions_show_delete
            = link_to("delete", @question, method: :delete, confirm: "Are you sure you want to delete your question?")

        .row.pull-right
          .row.questions_date
            = time_ago_in_words(@question.last_active_at)
            ago
          .spacer5
          .span2
            = image_tag "avatars/icon.png"
          .span13.offset1
            = link_to @question.user.name, "/map?user_id=" +  @question.user.id.to_s

    .row
      .offset6.span60
        - if @question.comments.count > 0
          .spacer10
          - @question.comments.each do |question_comment|
            .row.questions_comment
              .span1
                - unless question_comment.plusminus == 0
                  = question_comment.plusminus
              .span2
                .span1.application_vote.comment{ "data-vote_direction" => "up" , "data-voteable_id" => question_comment.id }
                  %i.icon-caret-up
                / .span1.application_vote.comment{ "data-vote_direction" => "down" , "data-voteable_id" => question_comment.id }
                /   %i.icon-caret-down
              .span56
                .questions_comment_container
                  = question_comment.content
                  = "- "
                  = link_to question_comment.user.name, "/map?user_id=" +  question_comment.user.id.to_s
                  %span.questions_date
                    #{time_ago_in_words(question_comment.created_at)} ago

                  %span.questions_show_edit{"data-comment_id"=> question_comment.id, class: "questions_comment_edit_button"}
                    %i.icon-edit

                  %span.questions_show_delete
                    = link_to question_comment, method: :delete, confirm: "Are you sure you want to delete your comment?" do
                      %i.icon-remove

        .spacer10
        .row
          = questions_addcomment_link(@question.id,"Question")

- if @question.answers.count > 0
  - @question.answers.each do |question_answer|
    .row
      .panel.dark.kill_top
        .row
          .span5
            .application_vote{ "data-vote_direction" => "up" , "data-voteable_id" => question_answer.id }
              %i.icon-caret-up
            .questions_show_votes
              = question_answer.plusminus
            .application_vote{ "data-vote_direction" => "down" , "data-voteable_id" => question_answer.id }
              %i.icon-caret-down
          .span65
            .row
              = question_answer.content

            .spacer10

            .row
              %span.questions_show_edit{ "data-question_id" => question_answer.id }
                = link_to "edit", edit_answer_path(question_answer)
              %span.questions_show_delete
                = link_to("delete", question_answer, method: :delete, confirm: "Are you sure you want to delete your question?")

            .row.pull-right
              .row.questions_date
                = time_ago_in_words(question_answer.created_at)
                ago
              .spacer5
              .span2
                = image_tag "avatars/icon.png"
              .span13.offset1
                = link_to question_answer.user.name, "/map?user_id=" +  question_answer.user.id.to_s
        .row
          .offset5.span60
            - if question_answer.comments.count > 0
              .spacer10
              - question_answer.comments.each do |question_answer_comment|
                .row.questions_comment
                  .span1
                    - unless question_answer_comment.plusminus == 0
                      = question_answer_comment.plusminus
                  .span2
                    .span1.application_vote.comment{ "data-vote_direction" => "up" , "data-voteable_id" => question_answer_comment.id }
                      %i.icon-caret-up
                    / .span1.application_vote.comment{ "data-vote_direction" => "down" , "data-voteable_id" => question_answer_comment.id }
                    /   %i.icon-caret-down
                  .span56
                    = question_answer_comment.content
                    = "- "
                    = link_to question_answer_comment.user.name, "/map?user_id=" +  question_answer_comment.user.id.to_s
                    %span.questions_date
                      #{time_ago_in_words(question_answer_comment.created_at)} ago
                    
                    %span.questions_show_edit{"data-comment_id"=> question_answer_comment.id, class: "questions_comment_edit_button"}
                      %i.icon-edit

                    %span.questions_show_delete
                      = link_to question_answer_comment, method: :delete, confirm: "Are you sure you want to delete your comment?" do
                        %i.icon-remove


              .spacer10
              .row
                = questions_addcomment_link(question_answer.id,"Answer")



.row.panel.darker
  #questions_show_answer_label
    Your Answer
    .spacer5
    = form_for @answer do |f|
      .row
        .application_countchar_count#questions_show_answer_countchar
          500 characters left
        = f.text_area :content, id:"questions_show_answer_content", class: "application_countchar"
        = f.hidden_field :question_id, value: @question.id
      .row
        = f.submit "Post your answer", class: "btn btn-inverse"


- content_for :questions_sidecolumn_includes do
  = render partial: "sidecolumn_question"