- provide(:title, 'Map')

- content_for :javascript_includes do
  = javascript_include_tag "users"

  = javascript_include_tag "http://download.skype.com/share/skypebuttons/js/skypeCheck.js"

  :javascript
    var users_index_map_lat_start = "#{current_user.lat}";
    var users_index_map_lng_start = "#{current_user.lng}";

#users_index_map_footerspacer
#users_index_map.map

#users_index_mappanel_control.users_index_mappanel
  / = render 'control'
#users_index_mappanel_tooltip.users_index_mappanel
#users_index_mappanel_footer.users_index_mappanel
  = render 'footer_map'

#users_index_mapcontainer_users.mapcontainer{style:"padding:10px;"}

  = render 'users_form'

  #users_index_users
  / content is rendered by members#index.js.erb

#users_index_mapcontainer_user.mapcontainer
  #users_index_user
    / content is rendered by on marker click (in users.js)