.arrownav

  %nav
    %ul
      %li
        %a{:href => "#1"} *
      %li
        %a{:href => "#2"} Find Partners
      %li
        %a{:href => "#3"} Roulette
      %li
        %a{:href => "#4"} Feedback
      %li
        %a{:href => "#5"} Track Progress
    %span.arrow

#static_home_arrownav_1.arrownav_page
  = image_tag('home/banner.png', id: 'static_home_banner')

#static_home_arrownav_2.arrownav_page
  = image_tag('home/banner.png', id: 'static_home_banner')

#static_home_arrownav_3.arrownav_page
  = image_tag('home/banner.png', id: 'static_home_banner')

#static_home_arrownav_4.arrownav_page
  = image_tag('home/banner.png', id: 'static_home_banner')

#static_home_arrownav_5.arrownav_page
  = image_tag('home/banner.png', id: 'static_home_banner')