#static_home_signup
  .panel.gradient.kill_left.kill_right
    #static_home_signup_title
      Get Started
    .spacer5
    .row
      .span23

        = simple_form_for(@user, url: user_registration_path(@user)) do |f|

          / = f.text_field :roulette_token, placeholder: 'Enter your 8-digit invite code...'
          .row
            = f.text_field :invitation_code, placeholder: "Enter your invitation code...", tabindex: "6"
          .row
            #static_home_signup_option
              .btn-group
                %a#static_home_signup_option_university_button.btn.btn-small.active{ tabindex: "7" } via University
                %a#static_home_signup_option_linkedin_button.btn.btn-small
                  via 
                  %span
                    / #static_home_signup_option_linkedin_button_highlight{ tabindex: "8" }
                    = image_tag 'icons/linkedin_button_mini.png'


          .spacer10
          #static_home_signup_option_university

            = render 'shared/error_messages', object: f.object

            = render 'static_pages/universities_select'

            .spacer5
            = f.text_field :email, placeholder: 'University email address', tabindex: "10"
            .spacer5
            = f.password_field :password, placeholder: 'Password', tabindex: "11"
            = f.password_field :password_confirmation, placeholder: 'Confirm password', tabindex: "12"
          .spacer5
          .row
            .span21.font-small
              .static_home_signup_checkbox_label
                I agree to the 
                = link_to "Terms and Conditions", terms_path, tabindex: "13"
            .span2
              = f.check_box :confirm_tac, tabindex: "14"

          .spacer10
          #static_home_signup_option_linkedin.font-small
            .row
              .span21.font-small
                .static_home_signup_checkbox_label
                  As required by Section III(B).4 of 
                  = link_to "the LinkedIn APIs Terms of Use", "https://developer.linkedin.com/documents/linkedin-apis-terms-use"
                  , I agree that my 
                  %span.font-underline email address 
                  and 
                  %span.font-underline LinkedIn Headline 
                  (only) can be saved
              .span2
                = check_box_tag :confirm_linkedin, tabindex: "15"
          .row
            = f.hidden_field :ip_address, value: request.remote_ip
            


            #static_home_signup_option_university_submit
              = f.submit "Sign up", class: "btn btn-inverse btn-large", id: "static_home_signup_option_university_button_submit", tabindex: "16"


            #static_home_signup_option_linkedin_submit
              .spacer15
              %a#static_home_signup_option_linkedin_button_submit.btn.btn-large.btn-inverse{ href: user_omniauth_authorize_path('linkedin'), tabindex: "17" }
                %span#static_home_signup_option_linkedin_button_submit_logo
                  = image_tag 'icons/linkedin_button_signup.png'
                %span#static_home_signup_option_linkedin_button_submit_text
                  Sign up via 
                %span#static_home_signup_option_linkedin_button_submit_text2 LinkedIn
