#static_home_signup{style:("display:block;" if params[:controller] == "registrations" && params[:action] == "create" || !params[:code].blank?)}

  .static_home_form_title
    Sign up for an account

  .row
    = simple_form_for @user, url: user_registration_path(@user), :html => { "autocomplete"=>"off" } do |f|

      = f.hidden_field :invitation_code, placeholder: "Invitation code (optional)", tabindex: "6", class: "span30 large"
      
      = render 'shared/error_messages', object: f.object

      = render 'static_pages/universities_select'
      .spacer5
      .row
        Your university not listed?
        = link_to "Tell us", "#", id: "static_home_signup_notlisted_button"
      .spacer10

      = f.text_field :email, placeholder: 'University email address', tabindex: "10", class: "span30 large"
      = f.password_field :password, placeholder: 'New password', tabindex: "11", class: "span30 large"
      = f.password_field :password_confirmation, placeholder: 'Confirm password', tabindex: "12", class: "span30 large"

      %div
        #static_home_signup_terms_text
          I agree to the 
          = link_to "Terms & Conditions", terms_path, target:"_new", tabindex: "13", style:"display:inline;"
        #static_home_signup_terms_checkbox
          = f.check_box :confirm_tac, tabindex: "14"

      = f.hidden_field :ip_address, value: request.remote_ip
      
      .spacer15
      
      .application_submit_button_with_disable.with_icon.btn.btn-red.btn-large.btn-block{tabindex: "16"}
        = image_tag "icons/submit_button.png"

  #static_home_switch_link_signin.static_home_switch_link.btn.btn-small.btn-green{"data-switch_to"=>"signin", "data-switch_from"=>"signup"}
    %i.icon-arrow-left-1
    Return