- @login ||= User.new

#static_home_signin{style:("display:none;" if params[:controller] == "registrations" && params[:action] == "create" || !params[:code].blank?)}
  = simple_form_for(@login, url: session_path(@login)) do |f|

    .static_home_form_title
      Login to your account

    .static_home_form_input_container
      .static_home_form_input_icon_container
        = image_tag "icons/forms/user.png"
      = f.text_field :email, tabindex: "1", placeholder: "University email", class: "span30 large"

    .static_home_form_input_container
      .static_home_form_input_icon_container
        = image_tag "icons/forms/password.png"
      = f.password_field :password, tabindex: "2", placeholder: "Password", class: "span30 large"
    
    = f.hidden_field :remember_me, :as => :boolean, value: true

    .application_submit_button_with_disable.with_icon.btn.btn-red.btn-large.btn-block{tabindex: "3"}
      = image_tag "icons/submit_button.png"

    #static_home_signin_lostpassword_link
      = link_to "Lost your password?", new_password_path('user'), tabindex: "4" 



  #static_home_switch_link_signup.static_home_switch_link.btn.btn-small{"data-switch_to"=>"signup", "data-switch_from"=>"signin"}
    Not yet registered? Sign up
