#static_home_signup.static_home_slideable
  .row
    = simple_form_for @user, url: user_registration_path(@user), :html => { "autocomplete"=>"off" } do |f|

      .row
        = f.text_field :invitation_code, placeholder: "Enter your invitation code...", tabindex: "6"
      
      = render 'shared/error_messages', object: f.object

      = render 'static_pages/universities_select'

      #static_home_signup_notlisted
        Your university not listed?
        = link_to "Contact us", "#"

      .spacer5
      = f.text_field :email, placeholder: 'University email address', tabindex: "10"
      .spacer5
      = f.password_field :password, placeholder: 'New Password', tabindex: "11"
      = f.password_field :password_confirmation, placeholder: 'Confirm password', tabindex: "12"

      .row
        I agree to the 
        = link_to "Terms & Conditions", terms_path, tabindex: "13"
        = f.check_box :confirm_tac, tabindex: "14"

      .spacer10

      .row
        = f.hidden_field :ip_address, value: request.remote_ip
      .row
        = f.submit "Sign up", class: "btn btn-primary btn-embossed btn-large", tabindex: "16"
