.row
  .span50.offset22
    .panel
      = render 'layouts/flash', flash: flash

      %h4 Resend email confirmation instructions

      = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
        = f.error_notification

        .form-inputs
          .offset8
            Email:
            = f.text_field :email

        .form-actions
          .offset9
            = f.button :submit, "Resend confirmation instructions"

      = render "devise/shared/links"
