- provide(:title, 'Reset your Password')

= content_for :content do

  .row
    .span35.offset30
      .panel

        = form_for @user, :url => password_reset_path(params[:id]) do |f|
          
          / = render 'shared/error_messages', object: @user
          
          = f.label :password
          = f.password_field :password
          = f.label :password_confirmation
          = f.password_field :password_confirmation
          = f.submit "Update Password", class: "btn btn-inverse pull-right"