- provide(:title, 'Roulette')
- provide(:sub_title, 'Other candidates online now, ready to do a case')

- content_for :javascript_includes do
  = javascript_include_tag 'roulette'
  = javascript_include_tag 'lib/socket.io'
  
  :javascript
    var roulette_index_user_id = "#{current_user.id}";
    var roulette_index_user_name = "#{current_user.name}";

  - if current_user.help_3_checked
    :javascript
      $(document).ready(function() {
        window.setTimeout("window.application_show_help(3)", 1000);
      });

.panel.dark
  .row
    .span88.offset1
      .row
        .span34
          .row
            .span17
              %button#roulette_index_button_connect.btn.btn-inverse.btn-large.roulette_index_button_connection
                %i.icon-link.icon-white
                %span#roulette_index_button_connect_text
                  Join
            .span16
              %button#roulette_index_button_disconnect.btn.btn-inverse.btn-large.roulette_index_button_connection
                %i.icon-off.icon-white
                %span
                  Disconnect
          .row
            .span33
              #roulette_index_log.panel.dark.kill_all

        .span53.offset1
          #roulette_index_token_panel.panel.dark.kill_all
            .row
              .span13.offset1.font-small
                .row
                  #roulette_index_token_text
                    Your roulette token
                .row
                  #roulette_index_token.panel.dark.kill_all
                    = current_user.roulette_token

              .span33.offset2
                .row.font-small
                  From a Skype call, ask the interviewee for their roulette token
                .spacer5
                .row
                  = form_tag('/cases/new', method: "get", id: 'roulette_index_token_form') do
                    .input-append
                      = text_field_tag :roulette_token, nil, id: "roulette_index_token_form_field", placeholder: "Interviewee's Token"
                      %button.btn.btn-inverse{ type: "submit" }
                        Feedback Form
                        %i.icon-arrow-right.icon-white


.panel.darker.roulette.kill_bottom
  .row
    #roulette_index_users
    
= render 'shared/modal_roulette_req' if signed_in?
