- provide(:title, 'Roulette')

- content_for :javascript_includes do

  :javascript
    var roulette_index_user_id = "#{current_user.id}";

= content_for :content do

  .panel.gradient.roulette

    .span90

      .row
        .span13
          %button#roulette_index_button_connect.btn.btn-inverse
            %i.icon-share-alt.icon-white
            %span#roulette_index_button_connect_text
              Connect
        .span13
          %button#roulette_index_button_disconnect.btn.btn-inverse
            %i.icon-share-alt.icon-white
            %span
              Disconnect
        .span20.font-small
          .row
            Your roulette token
          .row
            #roulette_index_token
              = current_user.roulette_token
        .span25
          = text_field_tag :roulette_token
        .span15
          = link_to raw("Feedback Form"), { controller: "cases", action: "new", roulette_token: "TOKEN" }, class: "btn btn-inverse"
      .row
        #roulette_index_users
      .row
        #roulette_index_log