.row
  .span5
    .spacer10
    = avatar_for(@user)
  .span20.offset3
    .spacer15
    .application_name
      = @user.name
  .span45.offset3
    .spacer20
    .span25
      = link_to image_tag("icons/linkedin.png", alt: "View xx's profile on LinkedIn", height: "15", width: "20", border:"0") + "LinkedIn", 'http://uk.linkedin.com/in/xx'
    .span20
      %a{:href => "skype:#{@user.skype}?call"}
        %img{:alt => "#{@user.skype} status", :height => "20", :src => "http://mystatus.skype.com/smallclassic/#{@user.skype}", :style => "border: none;", :width => "114"}/

  .span5.offset3
    .roulette_index_users_item_casecount
      .panel.darker.kill_all
        = @user.casecount
        .font-small
          cases