.row
  .span5
    .spacer10
    = avatar_for(@roulette_user, 'icon')
  .span20.offset3
    .spacer15
    .application_name
      = @roulette_user.name
  .span45.offset3
    .spacer20
    .span15
      = link_to image_tag("icons/linkedin.png", alt: "View xx's profile on LinkedIn", height: "15", width: "20", border:"0") + "LinkedIn", 'http://uk.linkedin.com/in/xx'
    .span10.roulette_index_users_item_button_expand{"date-id" => @roulette_user.id }
      Expand ^
    .span10
      .btn.btn-small.roulette_index_users_item_button_request{"data-user_id" => @roulette_user.id}
        Send Request

  .span5.offset3
    .roulette_index_users_item_casecount
      = avatar_for(@roulette_user, 'chevron')

.row{ id: "roulette_index_users_item_status_" + @roulette_user.id, class: "roulette_index_users_item_status"}
  .span50.offset10
    = @roulette_user.status