%table{align: "left", border: "0", cellpadding: "0", cellspacing: "0", style: "width:100%; max-width:600px; background: #ffffff;padding-top: 20px;padding-bottom:20px;"}
  %tbody
    %tr
      %td{style: "padding-left: 5.2%;padding-right:5.2%;font-size:16px;"}

        - if @ntype == "event_set_sender"
          You have booked a case appointment with #{@user_target.username}
        - elsif @ntype == "event_change_sender"
          You have amended your case appointment with #{@user_target.username}
        - elsif @ntype == "event_cancel_sender"
          You have cancelled your case appointment with #{@user_target.username} has
        - elsif @ntype == "event_remind_sender"
          Reminder: you have a case appointment with #{@user_target.username}


%table{style:"padding-bottom:10px;margin-left:50px;"}
  %tr
    %td
      %img{src: "https://www.casenexus.com/assets/universities/" + @user_target.university.image, style: "font-size: 20px; text-align: left; border: none; font-size: 14px; max-height: 30px; outline: none; text-decoration: none;font-weight: bold;"}/

    %td{style: "font-size:13px;margin-left:10px;text-align:left;"}
      %strong
        #{@user_target.username}
      %br
      #{@event.datetime.strftime("%A %e %B at %I:%M%p")}


- unless @ntype == "event_cancel_sender"
  %table{style: "border:1px solid #f0f1f2;padding:5px;margin-left:50px;"}
    %tr
      %td
        %table
          %tr{style:"height:40px;"}
            %td{style: "border-bottom:1px solid #f0f1f2;padding:5px;margin-bottom:5px;"}
              - unless @event.book_id_partnertoprepare.blank?
                You have asked #{@user_target.username} to prepare a case
                %br
                %div{style:"text-align:center;font-weight:bold;padding-top:5px;"}
                  = @book_partnertoprepare.author.split(' ')[0] + " - " + @book_partnertoprepare.title
              - else
                You have not yet asked #{@user_target.username} to prepare a case
                %div{style:"background-color:#e7f6ff;height:35px;width:180px;margin:2px;padding:3px;"}
                  = link_to "CHOOSE CASE FOR THEM TO PREPARE NOW", @url

            %td
              = link_to "skype:#{@user_target.skype}?call", "data-original-title"=>"Call #{@user_target.username} on Skype" do
                %img{height: "30", src: "https://www.casenexus.com/assets/icons/email/skype.jpg", style: "font-size: 20px; text-align: left; border: none; font-size: 14px; height: 30px; outline: none; text-decoration: none;font-weight: bold;", width: "30"}/
                Call #{@user_target.username}

          %tr{style:"height:40px;"}
            %td{style: "padding:5px;"}
              - unless @event.book_id_usertoprepare.blank?
                You have been asked to prepare (see PDF attached)
                %strong
                  = @book_usertoprepare.author.split(' ')[0] + " - " + @book_usertoprepare.title
              - else
                You have not yet been asked to prepare a case

            %td
              - unless @event.book_id_usertoprepare.blank?

                %a{ href:"https://www.casenexus.com/console?friend_id=" + @event.partner.id.to_s + "&book_id=" + @book_usertoprepare.id.to_s }
                  %img{height: "30", src: "https://www.casenexus.com/assets/icons/email/start.jpg", style: "font-size: 20px; text-align: left; border: none; font-size: 14px; height: 30px; outline: none; text-decoration: none;font-weight: bold;", width: "30"}/
                  Start case as Interviewer
              - else

                %a{ href:"https://www.casenexus.com/console?friend_id=" + @event.partner.id.to_s }
                  %img{height: "30", src: "https://www.casenexus.com/assets/icons/email/start.jpg", style: "font-size: 20px; text-align: left; border: none; font-size: 14px; height: 30px; outline: none; text-decoration: none;font-weight: bold;", width: "30"}/
                  Start case as Interviewer now

%br
- unless @ntype == "event_cancel_sender"
  %p= link_to "Click here to view or change this appointment", @url
- else
  %p= link_to "Click here to arrange another appointment", @url