%h3
  Your case appointment with #{@user_target.name} is now booked for #{@event.datetime.strftime("%A %e %B at %I:%M%p")} 

%p You'll be sent an email to remind you about the appointment 2 hours before it starts.

- unless @event.book_id_partnertoprepare.blank?
  %p #{@user_target.first_name} has been sent the case that you have asked them to prepare via email:

  %p= @book_partnertoprepare.author.split(' ')[0] + " - " + @book_partnertoprepare.title
- else
  %p You have not asked #{@user_target.first_name} to prepare a case for you. If you would like them to prepare one, use the link below to choose a case:

  ::Choose case for event link::

%p #{@user_target.first_name} has been asked to choose a case for you to prepare - you will be notified of this via email if/when they do.

%p If you're ready to start the case now, you can call #{@user_target.first_name} using the button below

= link_to "skype:#{@user_target.skype}?call", "data-original-title"=>"Call #{@user_target.first_name} on Skype" do
  = image_tag "https://www.casenexus.com/assets/icons/skype_button.png"
  Call #{@user_target.first_name} now

%p And if you want to start as the interviewer now, use this button to go to the case console, where you can select a case to give, and fill out a feedback form for #{@user_target.first_name}:

%a{ href: "https://www.casenexus.com/console?friend_id=" + @event.partner.id.to_s }
  Start case now as Interviewer

%p= link_to "Click here to see the appointment", @url
