
%table{align: "left", border: "0", cellpadding: "0", cellspacing: "0", style: "width:100%; max-width:600px; background: #ffffff;padding-top: 20px;padding-bottom:20px;"}
  %tbody
    %tr
      %td{style: "padding-left: 5.2%;padding-right:5.2%;font-size:16px;"}

        - if @ntype == "event_set_partner"
          #{@user_current.username} has booked a case appointment with you
        - elsif @ntype == "event_change_partner"
          #{@user_current.username} has amended your case appointment
        - elsif @ntype == "event_cancel_partner"
          #{@user_current.username} has cancelled your case appointment
        - elsif @ntype == "event_remind_partner"
          Reminder: you have a case appointment with #{@user_current.username}

%table{style:"padding-bottom:10px;margin-left:10%;"}
  %tr
    %td
      %img{ src: "https://www.casenexus.com/assets/universities/" + @user_current.university.image, style: "font-size: 20px; text-align: left; border: none; font-size: 14px; max-height: 30px; outline: none; text-decoration: none;font-weight: bold;margin-right:7px;"}/

    %td{style: "font-size:13px;margin-left:10px;text-align:left;"}
      %strong
        #{@user_current.username}
      %br
      #{@event.datetime.strftime("%A %e %B at %I:%M%p")}


- unless @ntype == "event_cancel_partner"
  %table{style: "border:1px solid #f0f1f2;padding:5px;margin-left:10%;"}
    %tr
      %td
        %table
          %tr{style:"height:40px;"}
            %td{style: "border-bottom:1px solid #f0f1f2;padding:5px;margin-bottom:5px;"}
              - unless @event.book_id_partnertoprepare.blank?
                You have asked #{@user_current.username} to prepare a case
                %br
                %div{style:"text-align:center;font-weight:bold;padding-top:5px;"}
                  = @book_partnertoprepare.author.split(' ')[0] + " - " + @book_partnertoprepare.title
              - else
                You have not yet asked #{@user_current.username} to prepare a case
                %br
                = link_to "CHOOSE CASE FOR THEM TO PREPARE", @url

            %td{style:"text-align:left;"}
              = link_to "skype:#{@user_current.skype}?call", "data-original-title"=>"Call #{@user_current.username} on Skype" do
                %img{height: "35", src: "https://www.casenexus.com/assets/icons/email/skype.jpg", style: "font-size: 20px; text-align: left; border: none; height: 35px; outline: none; text-decoration: none;font-weight: bold;display:inline-block;vertical-align:middle;", width: "35"}/
                %span{style:"display:inline-block;vertical-align:middle;margin-left:7px;"}
                  Call #{@user_current.username}

          %tr{style:"height:40px;"}
            %td{style: "padding:5px;"}
              - unless @event.book_id_usertoprepare.blank?
                You have been asked to prepare (see PDF attached)
                %br
                %strong
                  = @book_usertoprepare.author.split(' ')[0] + " - " + @book_usertoprepare.title
              - else
                You have not yet been asked to prepare a case

            %td{style:"text-align:left;"}
              - unless @event.book_id_usertoprepare.blank?

                %a{ href:"https://www.casenexus.com/console?friend_id=" + @event.partner.id.to_s + "&book_id=" + @book_usertoprepare.id.to_s }
                  %div{style: "color: #73bf72; border: 2px solid #73bf72; font-size:9px; font-weight:bold; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; padding:1px !important; width:35px; height:35px; line-height:37px; background: transparent; text-decoration: none;display:inline-block; vertical-align:middle;text-align:center;"}
                    START
                  %span{style:"display:inline-block;vertical-align:middle;margin-left:7px;"}
                    Start case as Interviewer
              - else

                %a{ href:"https://www.casenexus.com/console?friend_id=" + @event.partner.id.to_s }
                  %div{style: "color: #73bf72; border: 2px solid #73bf72; font-size:9px; font-weight:bold; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; padding:1px !important; width:35px; height:35px; line-height:37px; background: transparent; text-decoration: none;display:inline-block; vertical-align:middle;text-align:center;"}
                    START
                  %span{style:"display:inline-block;vertical-align:middle;margin-left:7px;"}
                    Start case as Interviewer



%br
- unless @ntype == "event_cancel_partner"
  %p= link_to "Click here to view or change this appointment", @url
- else
  %p= link_to "Click here to arrange another appointment", @url