- if @ntype == "event_set_partner"
  You have booked a case appointment with #{@user_target.name}
- elsif @ntype == "event_change_partner"
  You have ammended your case appointment with #{@user_target.name}
- elsif @ntype == "event_cancel_partner"
  You have cancelled your case appointment with #{@user_target.name} has
- elsif @ntype == "event_chosen_partner"
  Reminder: #{@user_target.name} has chosen a case for you to prepare
- elsif @ntype == "event_remind_partner"
  Reminder: you have a case appointment with #{@user_target.name}

%table
  %tr
    %td
      = image_tag "http://casenexus-staging.herokuapp.com/assets/avatars/icon.png", style: "height:30px;"
    %td{style: "font-size:13px;margin-left:10px;"}
      %strong
        #{@user_target.name}
      %br
      #{@event.datetime.strftime("%A %e %B at %I:%M%p")}

%table{style: "border:5px solid #e3e3e3;padding:5px;"}
  %tr
    %td

      %table
        %tr
          %td{style: "border:5px solid #e3e3e3;padding:3px;margin-bottom:5px;"}
            - unless @event.book_id_partnertoprepare.blank?
              You have asked #{@user_target.first_name} to prepare
              %br
              %div{style:"text-align:center;"}
              = @book_partnertoprepare.author.split(' ')[0] + " - " + @book_partnertoprepare.title
            - else
              You have not asked #{@user_target.first_name} to prepare a case
              %br
        %tr
          %td{style: "border:5px solid #e3e3e3;padding:3px;"}
            - unless @event.book_id_usertoprepare.blank?
              You have been asked to prepare
              = @book_usertoprepare.author.split(' ')[0] + " - " + @book_usertoprepare.title
            - else
              You have not been asked to prepare a case
    %td

      %table
        %tr
          %td
            %div{style:"background-color:#a8d5ff;height:30px;width:100px;margin:2px;"}
            = link_to "skype:#{@user_target.skype}?call", "data-original-title"=>"Call #{@user_target.first_name} on Skype" do
              = image_tag "https://casenexus-staging.herokuapp.com/assets/icons/skype_button.png"
              Call #{@user_target.first_name}
        %tr
          %td
            %div{style:"background-color:#a8d5ff;height:30px;width:100px;margin:2px;"}
            - unless @event.book_id_partnertoprepare.blank?

              %a{ href:"https://www.casenexus.com/console?friend_id=" + @event.partner.id.to_s + "&book_id=" + @book_partnertoprepare.id.to_s }
                Start case as Interviewer
                %br
            - else

              %a{ href:"https://www.casenexus.com/console?friend_id=" + @event.partner.id.to_s }
                Start case as Interviewer
                %br

%br
%p= link_to "Click here to login and see the appointment", @url