%h3
  #{@user_from.username} from #{@user_from.city}, #{@user_from.country.name} 

%p ...has asked to add you as their Case Partner.

%p
  = @message
 
%p= link_to "Sign in to see this request from " + @user_from.username, @url, :method => "put"
