%h4
  #{@user_from.username} from #{@user_from.city}, #{@user_from.country.name} 

%p ...has sent you a partner request

%p{style:"text-align:left;"}
  = @message
 
%p Christian is #{@distance}km away from you, and has done #{@case_count} cases

%p= link_to "Sign in to see this request from " + @user_from.username, @url, :method => "put"
