%h3 Welcome, #{@user_target.first_name}

%p Thank you for joining casenexus.com, we very much hope you find it useful.

%p If you signed up with your university email address, sign in using the form at the top of the home page with: #{@user_target.email}. If you signed up with your LinkedIn account, just click the button in the top right hand corner to sign in.

%p= link_to("Sign in to casenexus.com", @url)

%p A few points to note:
%ul
  %li We take your privacy seriously. Scores and comments you receive in your case feedback are your own, and are not shared with anyone else
  %li The site is designed to complement your existing case interview preparation materials and scripts, and we don't provide any

%p As you start to explore the site, the help dialog will pop-up automatically to explain certain pages - do take a minute to read it so you don't miss anything. To stop it popping-up on that page in the future, uncheck the box in the bottom left.

%p Once you've had a look around, the first step is to search for other users and send them a 'Case Partner request'. Once they've accepted you, you can communicate freely to schedule practice cases in person or via Skype, and send eachother feedback on cases you do.

%p Alternatively, use the Roulette to start a case with someone whenever you wish.

%p You are the founding users. We'd be incredibly grateful if you could, as much as you can, tell us about any bugs you find. In fact we're expecting a bit of a bumpy ride to start with, and are counting on your help! We would also be very interested to hear your suggestions on how we could improve the site, no matter how big or small.

%p Apart from the different contact forms on the site, feel free to contact us directly any time, at #{link_to 'info@casenexus.com', 'mailto:info@casenexus.com'}

%p= link_to("casenexus.com", @url)