.row.questions_comment
  .span1
    - unless comment.plusminus == 0
      = comment.plusminus
  .span2
    .span1.votes_control.comment
      %i.icon-caret-up{ "data-vote_direction" => "up" , "data-voteable_id" => comment.id, "data-voteable_type" => "comment" }
    / .span1.votes_control.comment{ "data-vote_direction" => "down" , "data-voteable_id" => comment.id }
    /   %i.icon-caret-down
  .span56
    .questions_comment_container
      = comment.content
      = "- "
      = link_to comment.user.name, "/map?user_id=" +  comment.user.id.to_s
      %span.questions_date
        #{time_ago_in_words(comment.created_at)} ago

      - if comment.user == current_user

        %span.questions_show_edit{"data-comment_id"=> comment.id, class: "questions_comment_edit_button"}
          %i.icon-edit

          %span.questions_show_delete
            = link_to comment, method: :delete, confirm: "Are you sure you want to delete your comment?" do
              %i.icon-remove