.row.questions_comment
  .span3.votes_control_container{ "data-voteable_id" => comment.id, "data-voteable_type" => comment.class.name, "data-is_comments" => "comments" }
    = render partial: "/votes/control_comments", locals: { voteable: comment }
  .span56
    .questions_comment_container
      = comment.content
      = "- "
      = link_to comment.user.username, "/map?user_id=" +  comment.user.id.to_s
      %span.questions_date
        #{time_ago_in_words(comment.created_at)} ago

      - if comment.user == current_user

        %span.questions_show_edit{"data-comment_id"=> comment.id, class: "questions_comment_edit_button"}
          %i.icon-edit

          %span.questions_show_delete
            = link_to comment, method: :delete, confirm: "Are you sure you want to delete your comment?" do
              %i.icon-remove