.books_show_comments_item
  .row
    .span3.books_show_comments_item_avatar
      = avatar_for(comment.user, size:"medium")
    .span12.offset2
      .row
        %strong
          = comment.user.username
      .row.books_show_comments_item_date
        = comment.date_fb
    .span35.offset2
      = comment.content
    .span#books_show_comments_item_panel_rating.pull-right
      .row
        .span.books_comment_rating_read_container
          .books_rating_read{"data-rating" => comment.rating}
          = comment.rating.round(1).to_s + "/5"

      - if comment.user == current_user
        .spacer20
        .row

          .books_show_comment_edit_button.btn.btn-micro{"data-comment_id"=> comment.id}
            %i.icon-edit-modify-streamline

          = link_to comment, method: :delete, confirm: "Are you sure you want to delete your comment? This cannot be undone.", class: "btnbtn-micro" do
            %i.icon-cancel
