#books_show_comments
  - @comments.each do |comment|
    .books_show_comments_item.panel.darker.kill_top
      .row
        .span4.books_show_comments_item_avatar
          = image_tag "avatars/icon.png"
        .span10.offset1
          .row
            %strong
              = comment.user.name
          .row.books_show_comments_item_date
            = comment.created_at.strftime("%a %d %b %Y %I:%M%p")
        .span62.offset1
          = comment.content
        .span.pull-right
          .span.books_rating_read_container.panel.darker.kill_all
            .books_rating_read{"data-rating" => comment.rating}
            .books_rating_read_text
              User rating:
              = pluralize(comment.rating.round(0),"Star")

= will_paginate @comments, inner_window: 2, outer_window: 2, class: "application_pagination application_pagination_books"