.offset3
  .row
    = form_for @comment, url: { controller: :comments, action: :update } do |f|

      .span43
        #flash_notifications
          = render 'shared/error_messages', object: @comment

          
          = f.text_area :content, rows: 4, class: "span40", placeholder: "Write a comment here..."

      .span12.offset1

        / Just for book comment
        - if params[:controller] == "books"
          #books_show_form_rating_panel
            .books_rating_set
            How do you rate it?
            = f.hidden_field :rating, id: "books_rating_set_field"


        = f.hidden_field :user_id, value: current_user.id

        = f.submit "Save edits", class: "btnbtn-micro"