- if !@commentable_model then @commentable_model = @commentable.class.to_s end

.offset3
  .row
    = form_for @comment, remote: (true unless (params[:controller] == "books")), url: { controller: :comments, action: :create } do |f|

      .span44
        #flash_notifications
          = render 'shared/error_messages', object: @comment

          
          = f.text_area :content, rows: 4, class: "span44", placeholder: "Write a comment here...", id: "books_show_comments_form_textarea"

      .span12.offset1

        / Just for book comment
        - if params[:controller] == "books"
          .spacer5
          #books_show_form_rating_panel
            .books_rating_set
            How do you rate it?
            = f.hidden_field :rating, id: "books_rating_set_field"
          .spacer15
        = f.hidden_field :user_id, value: current_user.id
        = f.hidden_field :commentable_type, value: @commentable_model
        = f.hidden_field :commentable_id, value: @commentable.id
        = f.submit "Add comment", class: "btn btn-colour btn-large ", id: "books_show_comments_form_submit"