.notifications_index_notifications_item{'data-id' => notifications_item.id.to_s, :class => ("read" if notifications_item.read?)}
  .row
    .span7
      = avatar_for(notifications_item.sender, 'icon', '')
    .span15
      .row
        %strong 
          = notifications_item.sender.name
      .row.application_timestamp
        #{time_ago_in_words(notifications_item.created_at)} ago.
    .span25
      .notifications_index_notifications_item_content_trunc{id: 'notifications_index_notifications_item_content_trunc_' + notifications_item.id.to_s }
        = notifications_item.content_trunc

    .span3.notifications_index_notifications_item_button_expand{}
      %i.icon-arrow-down.icon-large

    .span12.notifications_index_notifications_item_action.pull-right
      = render partial: 'notifications_item_actions' , locals: { notifications_item: notifications_item }
  .row
    .span25.offset22
      .notifications_index_notifications_item_content{id: 'notifications_index_notifications_item_content_' + notifications_item.id.to_s }
        = notifications_item.content