- case notifications_item.ntype
  - when "message"
    = link_to "Conversation history", notification_path(notifications_item), class: "notifications_index_notifications_item_button_history", 'data-id' => notifications_item.sender_id.to_s
  - when "feedback"
    = link_to 'Jump to case record', '/cases/' + notifications_item.notificable.id.try(:to_s)
  - when "feedback_req"
    = link_to 'Jump to feedback form', ({ controller: "cases", action: "new", user_id: notifications_item.sender_id, subject: notifications_item.content.html_safe, date: notifications_item.event_date })
  - when "friendship_req"
    - if notifications_item.notificable
      - if notifications_item.notificable.status == Friendship::ACCEPTED
        Request accepted
      - elsif notifications_item.notificable.status == Friendship::REJECTED
        Request rejected
      - else
        = link_to("Accept", accept_friendship_path(id: notifications_item.notificable, back_url: notifications_path), method: :put, class: "btn btn-inverse btn-mini")
        = link_to("Reject", reject_friendship_path(id: notifications_item.notificable, back_url: notifications_path), method: :put, class: "btn btn-mini")
        / = link_to("Block", block_friendship_path(notifications_item.notificable), method: :put)
  - when "friendship_app"
    - if notifications_item.notificable
      = link_to "Jump to their profile", "/map?user_id=" + notifications_item.notificable.friend.id.to_s


      