= form_tag notifications_path, method: 'get', id: "notifications_index_notifications_form" do
  .row
    .span15
      / search field
      = text_field_tag :search, params[:search], placeholder: "Search...", id: "notifications_index_notifications_form_searchfield", class: 'search-query span13'
    .span4
      / sort/filter pulldown menu
      #notifications_index_notifications_form_sort
        
        .btn-group
          %a#notifications_index_notifications_button_filter.btn.btn-mini.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            Sort
            %span.caret
          %ul.dropdown-menu
            %li
              = sortable "content"
            %li
              = sortable "user.first_name"
  .spacer10
  .panel.dark.kill_all
    #notifications_index_notifications_filter_title
      Filter
    .row
      = filterable('all', 'All')
    .row
      = filterable('message', 'Messages')
    .row
      = filterable('feedback_req', 'Feedback Requests')
    .row
      = filterable('feedback', 'Feedback')
    .row
      = filterable('friend_req', 'Case Partner Requests')
