= link_to ("/notifications/" + notifications_item.id.to_s) do

  .row.notifications_index_notifications_item{:class => ("read" if notifications_item.read?)}
    .span7
      = avatar_for(notifications_item.sender)
    .span15
      .row
        %strong 
          = notifications_item.sender.name
      .row.application_timestamp
        #{time_ago_in_words(notifications_item.created_at)} ago.
    .span20
      = notifications_item.content_trunc


    .span10.pull-right
      %a.btn.btn-inverse{ 'data-id' => notifications_item.id.to_s, 'data-case_id' => (notifications_item.case_id.to_s if (notifications_item.ntype == "feedback")), 'data-user_id' => (notifications_item.sender_id.to_s if (notifications_item.ntype == "feedback_req")), class: 'notifications_index_notifications_item_button_' + notifications_item.ntype }
        = notifications_item.ntype



  - if (notifications_item.ntype == "message")
    .notifications_index_notifications_item_message{style: "display:none;", id: 'notifications_index_notifications_item_message_body_' + notifications_item.id.to_s }
      .row
        = notifications_item.content
    
