= form_tag notifications_path, method: 'get', id: "notifications_index_notifications_form" do
  .panel.darker.kill_left.kill_right
    .row
      .span
        = text_field_tag :search, params[:search], placeholder: "Search notifications...", id: "notifications_index_notifications_form_searchfield", class: 'search-query span20'
      .span.offset3
        .btn-group
          = filterable_notifications('all', 'All')
          = filterable_notifications('message', 'Messages')
          = filterable_notifications('feedback_req', 'Feedback Req')
          = filterable_notifications('feedback', 'Feedback')
          = filterable_notifications('friendship_req', 'Friends')

