.notifications_show_item{id: "notification-"+notifications_show_item.id.to_s, 'data-id' => notifications_show_item.id.to_s, :class => (("read " if notifications_show_item.read?) && ("select" if (notifications_show_item.id.to_s == @id)))}
  .row
    .span5
      #notifications_show_item_avatar
        = image_tag "universities/" + notifications_show_item.sender.university.image
    .span20
      %strong
        = notifications_show_item.sender.name
      .row
        = notifications_show_item.title
      .row
        = notifications_show_item.content
    .span5.pull-right.application_timestamp
      = notifications_show_item.date_fb