.notifications_show_item{id: "notification-"+notifications_show_item.id.to_s, 'data-id' => notifications_show_item.id.to_s, :class => ("white" if (params[:style] == "white"))}

  .row.notifications_show_item_date_line
  .row.notifications_show_item_date= notifications_show_item.date_fb
  .row
    .span5
      .notifications_show_item_avatar
        = avatar_for(notifications_show_item.sender,size:"medium")
        
        / = image_tag notifications_show_item.sender.university.image_file
    .span50
      .notifications_show_item_username
        = link_to "/map?user_id=" + notifications_show_item.sender.id.to_s, target: "_new" do
          = notifications_show_item.sender.username

        - unless notifications_show_item.title == "Message"
          %span.notifications_show_item_title
            = " - "
            = notifications_show_item.title
      .row.notifications_show_item_content
        = notifications_show_item.content
      .spacer10
      .row.notifications_show_item_action
        = render partial: 'notifications_show_item_actions' , locals: { notifications_show_item: notifications_show_item }