.notifications_show_item{id: "notification-"+notifications_show_item.id.to_s, 'data-id' => notifications_show_item.id.to_s, :class => ("white" if (params[:style] == "white"))}
  /(("read " if notifications_show_item.read?) && ("select" if (notifications_show_item.id.to_s == @id) && 
  .row.notifications_show_item_date_line
  .row.notifications_show_item_date= notifications_show_item.date_fb
  .row
    .span5
      .notifications_show_item_avatar
        = image_tag notifications_show_item.sender.university.image_file
    .span33
      %strong
        = notifications_show_item.sender.username
      .row
        = notifications_show_item.title
      .row.notifications_show_item_content
        = notifications_show_item.content
      .spacer10
      .row.notifications_show_item_action
        = render partial: 'notifications_show_item_actions' , locals: { notifications_show_item: notifications_show_item }