.notifications_index_notifications_item{:class => ("read" if notifications_item.read?)}
  .row
    .span7
      = avatar_for(notifications_item.sender, 'icon')

    .span13
      .row
        %strong
          - unless notifications_item.sender == nil 
            = notifications_item.sender.name

      .row.application_timestamp
        = notifications_item.created_at.strftime("%d %b '%y")
        
    .span21
      .notifications_index_notifications_item_title
        = notifications_item.title
      .notifications_index_notifications_item_content_trunc.font-small{ id: 'notifications_index_notifications_item_content_trunc_' + notifications_item.id.to_s }
        = notifications_item.content_trunc


    .span15.notifications_index_notifications_item_action.font-small.pull-right
      = render partial: 'notifications_item_actions' , locals: { notifications_item: notifications_item }