.pull-right.offset3#notifications_index_notifications_form_sort
  .btn-group
    %button.btn.btn-small.btn-inverse
      - if params[:sort] == "content"
        Message
      - elsif params[:sort] == "created_at"
        Date
      - else
        Sory by
    %button.btn.btn-small.btn-inverse.dropdown-toggle{"data-toggle" => "dropdown"}
      %span.caret
    %ul.dropdown-menu
      %li
        = sortable "content", "By Message"
      / %li
      /   = sortable "user.name", "By Name"
      %li
        = sortable "created_at", "By Date"

- if @notifications.count > 0
  - @notifications.each do |notifications_item|
    = render partial: 'notifications/notifications_item' , locals: { notifications_item: notifications_item }
- else
  #notifications_index_notifications_empty
    #notifications_index_notifications_empty_icon
      %i.icon-envelope
    %p You have no notifications

= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]

= will_paginate @notifications, class: "application_pagination", inner_window: 2, outer_window: 2