.notifications_index_notifications_item{"data-user_id"=>asso_user.id.to_s, id: "notifications_index_notifications_item_"+asso_user.id.to_s }

  .notifications_index_notifications_item_read_highlight{class:("unread" unless notifications_item.read?)}

  .notifications_index_notifications_item_avatar
    = avatar_for(asso_user,size:"medium")


  .notifications_index_notifications_item_text_container
    .notifications_index_notifications_item_name.application_truncatable
      = asso_user.username


    .notifications_index_notifications_item_caption.application_truncatable
      - if notifications_item.content_trunc.blank?
        = notifications_item.title
      - else
        = notifications_item.content_trunc

  .notifications_index_notifications_item_date.application_timestamp
    = notifications_item.date_fb