- user = @user if user.blank?#unless defined?(user)

.row#notifications_show_header
  = user.username


  #notifications_show_header_actions.pull-right


    - unless user.linkedin.blank?
      %a.map_index_users_item_button_linkedin.btn.btn-round.btn-linkedin.btn-round-small.application_tooltip{href: "http://www.linkedin.com/"+user.linkedin,target:"_new", "data-original-title"=>"Jump to Linkedin profile", rel: "tooltip", "data-placement"=>"bottom"}
        %i.icon-linkedin-alt

    - if Friendship.friends?(current_user, user)

      - unless user.skype.blank?
        %a.map_index_users_item_button_skype.btn.btn-round.btn-skype.btn-round-small.application_tooltip{"data-original-title"=>"Call on Skype...", rel: "tooltip", "data-placement"=>"bottom", href: "skype:#{user.skype}?call"}
          %i.icon-skype
          
      .map_index_users_item_button_message.btn.btn-round.btn-round-small.application_tooltip{"data-original-title"=>"Send message...", rel: "tooltip", "data-placement"=>"bottom", "data-friend_id" => user.id }
        %i.icon-email-mail-streamline

      .map_index_users_item_button_event.btn.btn-round.btn-round-small.application_tooltip{"data-original-title"=>"Book case appointment...", rel: "tooltip", "data-placement"=>"bottom","data-friend_id" => user.id.to_s}
        %i.icon-calendar.icon-white

      %a.profile_index_friends_actions_profile.btn.btn-round.btn-round-small{ href: "/map?user_id=" + user.id.to_s, "data-original-title"=>"Jump to map profile", rel: "tooltip", "data-placement"=>"bottom", class: "application_tooltip"}
        %i.icon-map-pin-streamline

      %a.map_index_users_item_button_startcase.btn.btn-round.btn-start.btn-round-large.application_tooltip{"data-original-title"=>"Start case...", rel: "tooltip", "data-placement"=>"bottom", href:"/console?friend_id=" + user.id.to_s}
        START



#notifications_show_body

  #flash_notifications
    #application_error_explanation
      .alert.alert-error
        %ul
        .close.pull-right
          
  #notifications_show_body_subcontainer
    = render "conversation", locals: { friend_id: user.id }

#notifications_show_form{"data-friend_id"=>user.id}

  = form_for @notification, remote: true do |f|

    .row
      = f.text_area :content, placeholder: "Write a reply...", tabindex: "101", id: "notifications_show_newmessage_textarea"

      = hidden_field_tag :page_reload, defined?(page_reload) ? true : false
      = f.hidden_field :user_id, value: user.id
      = f.hidden_field :sender_id, value: current_user.id
      = f.hidden_field :ntype, value: "message"

    .row
      .application_submit_button_with_spinner.btn.btn-micro.pull-right{href: "#", type: "submit", tabindex: "102"}
        %i.icon-arrow-right.icon-white
        Reply
  .application_spinner_container
    .application_spinner