- notification = notification || @notification
= form_for(notification, remote: true, html: {id: "modal_message_form"}) do |f|
  .modal-header
    %button.close{"data-dismiss" => "modal", type: "button"} ×

    %h3 Send Message

  .modal-body

    #modal_message_conversation
    

    .spacer10

    #flash_notifications
      = render 'shared/error_messages', object: @notification

    %div
      = f.text_area :content, placeholder: "Send message...", tabindex: "101", class: "modal_textarea", id: "modal_message_textarea"

      = hidden_field_tag :page_reload, defined?(page_reload) ? true : false
      = f.hidden_field :user_id, value: @user.id
      = f.hidden_field :sender_id, value: current_user.id
      = f.hidden_field :ntype, value: "message"

  .modal-footer
    %a.btn{"data-dismiss" => "modal", href: "#"} Close
    #modal_message_submit_button.btn.btn-inverse{tabindex: "102"}
      %i.icon-arrow-right.icon-white
      Send Message

#application_spinner_container
  #application_spinner
    Sending