- provide(:title, 'Notification History')
- provide(:sub_title, 'with ' + @sender.username)



.row#notifications_show_header
  = @sender.username


#notifications_show_body

  #flash_notifications
    #application_error_explanation
      .alert.alert-error
        %ul
        .close.pull-right
          
  #notifications_show_body_subcontainer
    = render "conversation"

#notifications_show_form
  / - notification = notification || @notification
  = form_for @notification, remote: true do |f|


    .row
      = f.text_area :content, placeholder: "Write a reply...", tabindex: "101", id: "notifications_show_newmessage_textarea", class: "span58"

      = hidden_field_tag :page_reload, defined?(page_reload) ? true : false
      = f.hidden_field :user_id, value: @sender.id
      = f.hidden_field :sender_id, value: current_user.id
      = f.hidden_field :ntype, value: "message"

    .row
      %button.application_submit_button_with_spinner.btn.btn-primary.pull-right{href: "#", type: "submit", tabindex: "102"}
        %i.icon-arrow-right.icon-white
        Reply
  .application_spinner_container
    .application_spinner