- provide(:title, 'Notification History')
- provide(:sub_title, 'with ' + @user.name)

:javascript
  //document.location.hash="#notification-#{@id}";
  $(document).ready(function() {
    $('#notifications_show_body').animate({scrollTop: $("#notification-"+#{@id}).offset().top - 160},'slow');
  });


.panel.darker.kill_left.kill_right.kill_bottom
  .row#notifications_show_header
    .span
      %a#notifications_show_header_back
        .span20
          = link_to notifications_path do
            .row
              .span2
                %i.icon-arrow-left.icon-large
              .span15
                Back to Notifications
        .span3
          = image_tag "avatars/icon.png"
        .span
          .row
            .span.offset1
              = @user.name
            .span.offset1
              - unless @user.country.blank?
                .span3
                  = image_tag "countries/"+@user.country.code.to_s+".png", alt: @user.name
            .span2.offset1
              = image_tag "universities/" + @user.university.image
            .span.offset1
              = @user.university.name
  .row#notifications_show_body

    - if @notifications.count > 0
      - @notifications.each do |notifications_show_item|

        = render partial: 'notifications/notifications_show_item' , locals: { notifications_show_item: notifications_show_item }

    - else
      %p No notifications found

  .row
    / repeated from member#show - should we put this in a helper?
    - if Friendship.friends?(current_user, @user)
      #notifications_show_footer
        .row

          - if @user.last_online_at
            .pull-left
              .application_lastonline
                Last online:
                = time_ago_in_words(@user.last_online_at)
                ago

  .row
    / - notification = notification || @notification
    = form_for(@notification) do |f|

      #flash_notifications
        = render 'shared/error_messages', object: @notification

      %div
        = f.text_area :content, placeholder: "Send message...", tabindex: "101", id: "notifications_show_newmessage_textarea"

        = hidden_field_tag :page_reload, defined?(page_reload) ? true : false
        = f.hidden_field :user_id, value: @user.id
        = f.hidden_field :sender_id, value: current_user.id
        = f.hidden_field :ntype, value: "message"
      %div
        %button.btn.btn-inverse.pull-right{href: "#", type: "submit", tabindex: "102"}
          %i.icon-arrow-right.icon-white
          Send Message