- provide(:title, 'Notification History')
- provide(:sub_title, 'with ' + @sender.name)

/ :javascript
/   //document.location.hash="#notification-#{@id}";
/   $(document).ready(function() {
/     $('#notifications_show_body').animate({scrollTop: $("#notification-"+#{@id}).offset().top - 160},'slow');
/   });


.panel.darker.kill_right.kill_bottom
  .row#notifications_show_header
    .span.offset1
      = @sender.name
      .row
        - if @sender.last_online_at
          .span.application_lastonline
            Last online:
            = time_ago_in_words(@sender.last_online_at)
            ago

    .span.offset1
      - unless @sender.country.blank?
        .span3
          = image_tag "countries/"+@sender.country.code.to_s+".png", alt: @sender.name


  .spacer5
  .row#notifications_show_body

    = render "conversation"

  .row#notifications_show_form_container
    / - notification = notification || @notification
    = form_for @notification, remote: true do |f|

      #flash_notifications
        = render 'shared/error_messages', object: @notification

      %div
        = f.text_area :content, placeholder: "Send message...", tabindex: "101", id: "notifications_show_newmessage_textarea"

        = hidden_field_tag :page_reload, defined?(page_reload) ? true : false
        = f.hidden_field :user_id, value: @sender.id
        = f.hidden_field :sender_id, value: current_user.id
        = f.hidden_field :ntype, value: "message"
      %div
        %button.btn.btn-inverse.pull-right{href: "#", type: "submit", tabindex: "102"}
          %i.icon-arrow-right.icon-white
          Send Message