#cases_index_cases_form_sort.application_menu_sort.pull-right
  /   = sortable "subject", "By Subject"
  /   = sortable "date", "By Date"

  /   = sort_column
  /   = sort_direction

  .btn-group
    %button#cases_index_cases_form_button_sort.btn.btn-small.btn-inverse.dropdown-toggle{"data-toggle" => "dropdown"}
      Sort by
      %span.caret
    %ul.dropdown-menu
      %li
        = sortable "subject", "By Subject"
      %li
        = sortable "date", "By Date"

- if @cases.count > 0
  #cases_index_cases_form_body

    - @cases.each do |cases_item|
      = render partial: 'cases/cases_item' , locals: { cases_item: cases_item }

- else
  #cases_index_cases_form_body_empty
    #cases_index_cases_form_empty
      #cases_index_cases_form_empty_icon
        %i.icon-list-ul
      %p You have no cases

= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
  
#cases_index_cases_form_paginate
  = will_paginate @cases, class: "application_pagination", inner_window: 2, outer_window: 2