.cases_index_cases_item
  = avatar_for(cases_item.interviewer, 'icon')
  = cases_item.totalscore.to_f.round(1)
  = cases_item.date.strftime("%d %b '%y")
  = link_to case_path(cases_item) do 
    = cases_item.interviewer.name
  = cases_item.subject_trunc