= link_to case_path(cases_item), class: "cases_index_cases_item btn btn-info" do
  .span5
    / ruins anchor!
    / = avatar_for(cases_item.interviewer, 'icon')
    .span4.cases_index_cases_item_avatar
      %span.fui-user
  .span12.offset1
    .cases_index_cases_item_date
      = cases_item.created_at.strftime("%a %d %b %Y %I:%M%p")
  .span35
    .row.cases_index_cases_item_name
      = cases_item.interviewer.username
    .row.cases_index_cases_item_subject
      = cases_item.subject_trunc
  .span8.panel.dark.kill_all.cases_index_cases_item_score.pull-right
    %span= cases_item.totalscore.to_f.round(1)
    %span.cases_score_large_outof /15