.row.cases_index_cases_item{id: "cases_index_cases_item_" + cases_item.id.to_s }
  .span5
    = avatar_for(cases_item.interviewer)
  .span7
    .cases_score
      = cases_item.totalscore
    .row.application_timestamp.font-small #{time_ago_in_words(cases_item.created_at)} ago.
  .span12
    .row
      %strong 
        = cases_item.interviewer.name
    .row.font-small
      = cases_item.subject_trunc