= link_to ("/cases/" + cas.id.to_s) do
  %table
    %tr
      %td
        = avatar_for(cas.interviewer)
      %td
        = cas.score
      %td
        %strong
          = cas.interviewer.name
        %span
          #{time_ago_in_words(cas.created_at)} ago.
        .content
          = cas.subject