= link_to ("/cases/" + cas.id.to_s) do
  .row.cases_index_item
    .span7
      = avatar_for(cas.interviewer)
    .span15
      .row
        %strong 
          = cas.interviewer.name
      .row.application_timestamp
        #{time_ago_in_words(cas.created_at)} ago.
    .span8.cases_score
      = cas.totalscore
    .span55
      .row
        .span60
          = cas.subject_trunc