#cases_analysis_comments.panel.dark.kill_all
  .row
    .cases_analysis_block_title
      Comment Aggregator
  .row
    %ul#cases_analysis_comments_tabs.nav.nav-tabs
      %li
        %a{"data-toggle" => "tab", :href => "#cases_analysis_comments_tab_businessanalytics"} Business Analytics
      %li
        %a{"data-toggle" => "tab", :href => "#cases_analysis_comments_tab_interpersonal"} Interpersonal
      %li
        %a{"data-toggle" => "tab", :href => "#cases_analysis_comments_tab_structure"} Structure


    .tab-content

      #cases_analysis_comments_tab_businessanalytics.cases_analysis_comments_tab.tab-pane.active
        - if Case.cases_analysis_comments_businessanalytics(current_user).count > 0
          - for comment in Case.cases_analysis_comments_businessanalytics(current_user)

            - unless (comment.businessanalytics_comment == "")
              = link_to '/cases?id=' + comment.id.to_s, class: "cases_analysis_comment_link" do
                .cases_analysis_comment
                  .cases_analysis_comment_from
                    / line below is causing problems on heroku for no reason! - its to do with comment.marker_id
                    = User.find(comment.interviewer_id).name
                    %span.cases_analysis_comment_date
                      = comment.created_at.strftime("%d %b '%y")
                  .cases_analysis_comment_content
                    = comment.businessanalytics_comment.html_safe
        - else
          #cases_analysis_comments_empty
            #ccases_analysis_comments_empty_icon
              %i.icon-comment-alt
            %p You have no comments yet 
            %p for Business Analytics

      #cases_analysis_comments_tab_interpersonal.cases_analysis_comments_tab.tab-pane
        - if Case.cases_analysis_comments_interpersonal(current_user).count > 0
          - for comment in Case.cases_analysis_comments_interpersonal(current_user)

            - unless (comment.interpersonal_comment == "")
              = link_to '/cases?id=' + comment.id.to_s do
                .cases_analysis_comment
                  .cases_analysis_comment_from
                    = User.find_by_id(comment.interviewer_id).name
                    %span.cases_analysis_comment_date
                      = comment.created_at.strftime("%d %b '%y")
                  .cases_analysis_comment_content
                    = comment.interpersonal_comment.html_safe
        - else
          #cases_analysis_comments_empty
            #ccases_analysis_comments_empty_icon
              %i.icon-comment-alt
            %p You have no comments yet 
            %p for Interpersonal

      #cases_analysis_comments_tab_structure.cases_analysis_comments_tab.tab-pane
        - if Case.cases_analysis_comments_structure(current_user).count > 0
          - for comment in Case.cases_analysis_comments_structure(current_user)

            - unless (comment.structure_comment == "")
              = link_to '/cases?id=' + comment.id.to_s do
                .cases_analysis_comment
                  .cases_analysis_comment_from
                    = User.find_by_id(comment.interviewer_id).name
                    %span.cases_analysis_comment_date
                      = comment.created_at.strftime("%d %b '%y")
                  .cases_analysis_comment_content
                    = comment.structure_comment.html_safe
        - else
          #cases_analysis_comments_empty
            #ccases_analysis_comments_empty_icon
              %i.icon-comment-alt
            %p You have no comments yet 
            %p for Structure