- provide(:title, 'Give Feedback')
- provide(:sub_title, 'Score and comment on your case partners performance')

- content_for :javascript_includes do
  = javascript_include_tag "cases"

  / - if current_user.help_4_checked
  /   :javascript
  /     $(document).ready(function() {
  /       window.setTimeout("window.application_show_help(4)", 1000);
  /     });

- if @user.blank? then @user = User.find(user_id) end
- if @case.blank? then @case = @user.cases.build end

= form_for @case, remote: true, id: "cases_new_form", url: { controller: :cases, action: :create } do |f|

  = f.hidden_field :user_id, value: @user.id

  = render 'shared/error_messages', object: @case
  .row

    #cases_new_user
      = link_to "/map?user_id=" + @user.id.to_s,  "data-original-title"=>"Go to #{@user.username}'s profile","data-placement"=>"bottom", class: "application_tooltip" do
        .fui-user.application_usericon_huge
        %br
        = image_tag @user.university.image_file, class: "application_userimage_small"
        = @user.username




  #cases_new_book_container

    .spacer15

    .row
      #cases_new_book
        - if @book
          = render partial: 'books/show_small', locals: { book_id: @book.id }




    .row#cases_new_nobook
      .panel.darker
        .row
          %span#cases_new_nobook_label
            External case details
            %i.icon-caret-right
          %span.pull-right
            = f.text_field :source, placeholder: "What guide is it from?", tabindex: "2", class: "span20"
            = f.text_field :subject, value: params[:subject], placeholder: "What was the case about?", tabindex: "3", id: "cases_new_subject"





  .cases_new_block_title
    Scoring Guide
  .row#cases_new_guide.panel.darker.kill_top
    .row
      %span.cases_new_guide_num.btn.btn-primary 1
      &#61; Low
    .row
      %span.cases_new_guide_num.btn.btn-primary 2
      &#61; Below Average
    .row
      %span.cases_new_guide_num.btn.btn-primary 3
      &#61; Average
    .row
      %span.cases_new_guide_num.btn.btn-primary 4
      &#61; Above Average
    .row
      %span.cases_new_guide_num.btn.btn-primary 5
      &#61; Exceptional

  .row    
    .span.cases_new_expander
      .cases_new_block_title
        Business Analytics
      .panel.dark.cases_new_block.kill_top.kill_bottom

        .row
   

          .cases_new_block_desc.grayed
            .row
              .cases_new_block_desc_panel_text.span
                .cases_new_block_desc_title
                  Quantitative basics
                Addition, subtraction, multiplication, division and percentages at back-of-envelope level
              .span.pull-right
                = render partial: 'cases/scoreselector' , locals: { criteria: "quantitativebasics", category: "businessanalytics", existing_score: @case.quantitativebasics }
                = f.hidden_field :quantitativebasics, class: "cases_new_score_input", tabindex: "-1", id: 'cases_new_score_input_quantitativebasics'

          .cases_new_block_desc
            .row
              .cases_new_block_desc_panel_text.span
                .cases_new_block_desc_title
                  Problem-Solving
                Identifies key issue in case and problem-solving steps needed to solve it
              .span.pull-right
                = render partial: 'cases/scoreselector' , locals: { criteria: "problemsolving", category: "businessanalytics", existing_score: @case.problemsolving }
                = f.hidden_field :problemsolving, class: "cases_new_score_input", tabindex: "-1", id: 'cases_new_score_input_problemsolving'

          .cases_new_block_desc.grayed
            .row
              .cases_new_block_desc_panel_text.span
                .cases_new_block_desc_title
                  Prioritisation
                Prioritises well
              .span.pull-right
                = render partial: 'cases/scoreselector' , locals: { criteria: "prioritisation", category: "businessanalytics", existing_score: @case.prioritisation }
                = f.hidden_field :prioritisation, class: "cases_new_score_input", tabindex: "-1", id: 'cases_new_score_input_prioritisation'

          .cases_new_block_desc
            .row
              .cases_new_block_desc_panel_text.span
                .cases_new_block_desc_title
                  Sanity-checking
                Reality checks assumptions
              .span.pull-right
                = render partial: 'cases/scoreselector' , locals: { criteria: "sanitychecking", category: "businessanalytics", existing_score: @case.sanitychecking }
                = f.hidden_field :sanitychecking, class: "cases_new_score_input", tabindex: "-1", id: 'cases_new_score_input_sanitychecking'

          .cases_new_block_desc
            #cases_new_block_groupscore_businessanalytics.cases_new_block_groupscore
              Average score for Business Analytics
              .cases_new_block_groupscore_number
                0.0/5    

      
      .cases_new_comment
        .cases_new_comment_content_container
          .cases_new_comment_countChar.application_countChar_count
            hello
          = f.text_area :businessanalytics_comment, placeholder: "Comment...", class: "cases_new_comment_content application_countchar"









  .row    
    .span.cases_new_expander
      .cases_new_block_title
        Structure


      .panel.dark.cases_new_block.kill_top.kill_bottom

        .row
          .cases_new_block_desc.grayed
            .row
              .cases_new_block_desc_panel_text.span
                .cases_new_block_desc_title
                  Approach upfront
                Makes intended approach to problem clear to interviewer up front
              .span.pull-right
                = render partial: 'cases/scoreselector' , locals: { criteria: "approachupfront", category: "structure", existing_score: @case.approachupfront }
                = f.hidden_field :approachupfront, class: "cases_new_score_input", tabindex: "-1", id: 'cases_new_score_input_approachupfront'

          .cases_new_block_desc
            .row
              .cases_new_block_desc_panel_text.span
                .cases_new_block_desc_title
                  Sticking to structure
                Sticks to announced structure unless indicates otherwise
              .span.pull-right
                = render partial: 'cases/scoreselector' , locals: { criteria: "stickingtostructure", category: "structure", existing_score: @case.stickingtostructure }
                = f.hidden_field :stickingtostructure, class: "cases_new_score_input", tabindex: "-1", id: 'cases_new_score_input_stickingtostructure'

          .cases_new_block_desc.grayed
            .row
              .cases_new_block_desc_panel_text.span
                .cases_new_block_desc_title
                  Announces deviations
                Explicitly announces any deivation from initially announced structure
              .span.pull-right
                = render partial: 'cases/scoreselector' , locals: { criteria: "announceschangedstructure", category: "structure", existing_score: @case.announceschangedstructure }
                = f.hidden_field :announceschangedstructure, class: "cases_new_score_input", tabindex: "-1", id: 'cases_new_score_input_announceschangedstructure'

          .cases_new_block_desc
            .row
              .cases_new_block_desc_panel_text.span
                .cases_new_block_desc_title
                  Pushing to conclusion
                Pushes to a conclusion
              .span.pull-right
                = render partial: 'cases/scoreselector' , locals: { criteria: "pushingtoconclusion", category: "structure", existing_score: @case.pushingtoconclusion }
                = f.hidden_field :pushingtoconclusion, class: "cases_new_score_input", tabindex: "-1", id: 'cases_new_score_input_pushingtoconclusion'


          .cases_new_block_desc
            #cases_new_block_groupscore_structure.cases_new_block_groupscore
              Average score for Structure
              .cases_new_block_groupscore_number
                0.0/5



      .cases_new_comment
        .cases_new_comment_content_container
          .cases_new_comment_countChar.application_countChar_count
            hello
          = f.text_area :structure_comment, placeholder: "Comment...", class: "cases_new_comment_content"













  .row    
    .span.cases_new_expander
      .cases_new_block_title
        Interpersonal
      .panel.dark.cases_new_block.kill_top.kill_bottom
        
        .row

          .cases_new_block_desc.grayed
            .row
              .cases_new_block_desc_panel_text.span
                .cases_new_block_desc_title
                  Rapport
                Establishes a rapport with interviewer
              .span.pull-right
                = render partial: 'cases/scoreselector' , locals: { criteria: "rapport", category: "interpersonal", existing_score: @case.rapport }
                = f.hidden_field :rapport, class: "cases_new_score_input", tabindex: "-1", id: 'cases_new_score_input_rapport'

          .cases_new_block_desc
            .row
              .cases_new_block_desc_panel_text.span
                .cases_new_block_desc_title
                  Articulation
                Articulates clearly
              .span.pull-right
                = render partial: 'cases/scoreselector' , locals: { criteria: "articulation", category: "interpersonal", existing_score: @case.articulation }
                = f.hidden_field :articulation, class: "cases_new_score_input", tabindex: "-1", id: 'cases_new_score_input_articulation'


          .cases_new_block_desc.grayed
            .row
              .cases_new_block_desc_panel_text.span
                .cases_new_block_desc_title
                  Concision
                Is Concise
              .span.pull-right
                = render partial: 'cases/scoreselector' , locals: { criteria: "concision", category: "interpersonal", existing_score: @case.concision }
                = f.hidden_field :concision, class: "cases_new_score_input", tabindex: "-1", id: 'cases_new_score_input_concision'

          .cases_new_block_desc
            .row
              .cases_new_block_desc_panel_text.span
                .cases_new_block_desc_title
                  Asks for Information
                Asks for more information when neccessary
              .span.pull-right
                = render partial: 'cases/scoreselector' , locals: { criteria: "askingforinformation", category: "interpersonal", existing_score: @case.askingforinformation }
                = f.hidden_field :askingforinformation, class: "cases_new_score_input", tabindex: "-1", id: 'cases_new_score_input_askingforinformation'

          .cases_new_block_desc
            #cases_new_block_groupscore_interpersonal.cases_new_block_groupscore
              Average score for Interpersonal
              .cases_new_block_groupscore_number
                0.0/5 




      .cases_new_comment
        .cases_new_comment_content_container
          .cases_new_comment_countChar.application_countChar_count
            hello
          = f.text_area :interpersonal_comment, placeholder: "Comment...", class: "cases_new_comment_content"



  .row
    .cases_new_block_title
      Your Top Three Recommendations for #{@case.user.username}
    #cases_new_recommendations_panel.panel.dark.kill_top
      .row
        = f.text_area :recommendation1, placeholder: "1st Recommendation...", class: "cases_new_recommendation", tabindex: "4"
      .spacer5
      .row
        = f.text_area :recommendation2, placeholder: "2nd Recommendation...", class: "cases_new_recommendation", tabindex: "5"
      .spacer5
      .row
        = f.text_area :recommendation3, placeholder: "3rd Recommendation...", class: "cases_new_recommendation", tabindex: "6"



  .row#cases_new_submit_panel
    .application_submit_button_with_spinner.btn.btn-large.btn-primary.btn-embossed{tabindex: "10", id: "cases_new_submit_button"}
      Submit feedback

.spacer100
.spacer50


.application_spinner_container
  .application_spinner