= form_tag '#', method: 'get', id: "cases_resultstable_form", remote:true do
  .row


    #cases_resultstable_order_by_container.btn-group.pull-right

      .btn.btn-info.btn-small.cases_resultstable_orderby_button.active{"data-radio"=>0, "data-type"=>"order_by"}
        Rank
      .btn.btn-info.btn-small.cases_resultstable_orderby_button{"data-radio"=>1, "data-type"=>"order_by"}
        Group


    .span7.offset1.cases_resultstable_label.pull-right
      Order by
      %i.icon-caret-right


    - if current_user.case_count_viewee >= 2
      #cases_resultstable_period_container.btn-group.pull-right
        .btn.btn-info.btn-small.cases_resultstable_period_button.active{"data-radio"=>0, "data-type"=>"period"}
          1
        .btn.btn-info.btn-small.cases_resultstable_period_button{"data-radio"=>1, "data-type"=>"period"}
          2
        - if current_user.case_count_viewee >= 5      
          .btn.btn-info.btn-small.cases_resultstable_period_button{"data-radio"=>2, "data-type"=>"period"}
            5
        - if current_user.case_count_viewee >= 10      
          .btn.btn-info.btn-small.cases_resultstable_period_button{"data-radio"=>3, "data-type"=>"period"}
            10


      .span6.offset1.cases_resultstable_label.pull-right
        Period
        %i.icon-caret-right



    #cases_resultstable_form_radiogroup.hidden
      = radio_button_tag :resultstable_order_by, 'order', checked: true
      = radio_button_tag :resultstable_order_by, 'group'

      = radio_button_tag :resultstable_period, 1, checked: true
      = radio_button_tag :resultstable_period, 2
      = radio_button_tag :resultstable_period, 5
      = radio_button_tag :resultstable_period, 10

      = hidden_field_tag :id, @case.id, id: "cases_resultstable_caseid" if @case