- @view = "show" if params[:view].blank?

= form_tag '#', method: 'get', class: "cases_resultstable_form " + (if @view == "show" then "show" else "" end), remote:true do
  .row
    .cases_resultstable_order_by_container.btn-group.pull-right

      .btn.btn-colour.btn-micro.cases_resultstable_orderby_button.active{"data-radio"=>0, "data-type"=>"order_by"}
        Score
      .btn.btn-colour.btn-micro.cases_resultstable_orderby_button{"data-radio"=>1, "data-type"=>"order_by"}
        Category


    .span7.offset1.cases_resultstable_label.pull-right
      Order by:
      %i.icon-caret-right


    - if @view != "show"
      - if current_user.case_count_recd >= 2

        .cases_resultstable_form_filters_title
          Period of mean (#cases)

        #application_filtergroup_choicenav_period.application_filtergroup_choicenav.cases{"data-filter_name"=> "period"}
          %nav
            %ul
              %li{:href => "#1", "data-period"=>"1"} 
                1
                .application_filtergroup_choicenav_blip
              %li{:href => "#2", "data-period"=>"2"} 
                2
                .application_filtergroup_choicenav_blip
              - if current_user.case_count_recd >= 5  
                %li{:href => "#3", "data-period"=>"5"} 
                  5
                  .application_filtergroup_choicenav_blip
              - if current_user.case_count_recd >= 10
                %li{:href => "#4", "data-period"=>"10"} 
                  10
                  .application_filtergroup_choicenav_blip

            %span.arrow
            %span.application_filtergroup_choicenav_backbone_line
            %span.application_filtergroup_choicenav_follower_line

        = hidden_field_tag :cases_resultstable_period, "1"




    .cases_resultstable_form_radiogroup
      = radio_button_tag :resultstable_order_by, 'order', checked: true
      = radio_button_tag :resultstable_order_by, 'group'

      = hidden_field_tag :id, @case.id, class: "cases_resultstable_caseid" if @case