- @view = "show" if params[:view].blank?

= form_tag '#', method: 'get', class: "cases_resultstable_form " + (if @view == "show" then "show" else "" end), remote:true do
  .row
    .cases_resultstable_order_by_container.btn-group.pull-right

      .btn.btn-colour.btn-micro.cases_resultstable_orderby_button.active{"data-radio"=>0, "data-type"=>"order_by"}
        Score
      .btn.btn-colour.btn-micro.cases_resultstable_orderby_button{"data-radio"=>1, "data-type"=>"order_by"}
        Category


    .span7.offset1.cases_resultstable_label.pull-right
      Order by
      %i.icon-caret-right


    - if @view != "show"
      - if current_user.case_count_recd >= 2
        .cases_resultstable_period_container.btn-group.pull-right
          .btn.btn-colour.btn-micro.cases_resultstable_period_button.active{"data-radio"=>0, "data-type"=>"period"}
            1
          .btn.btn-colour.btn-micro.cases_resultstable_period_button{"data-radio"=>1, "data-type"=>"period"}
            2
          - if current_user.case_count_recd >= 5      
            .btn.btn-colour.btn-micro.cases_resultstable_period_button{"data-radio"=>2, "data-type"=>"period"}
              5
          - if current_user.case_count_recd >= 10      
            .btn.btn-colour.btn-micro.cases_resultstable_period_button{"data-radio"=>3, "data-type"=>"period"}
              10


        .span12.offset1.cases_resultstable_label.pull-right
          Period (# cases)
          %i.icon-caret-right



    .cases_resultstable_form_radiogroup.hidden
      = radio_button_tag :resultstable_order_by, 'order', checked: true
      = radio_button_tag :resultstable_order_by, 'group'

      - if @view != "show"
        = radio_button_tag :resultstable_period, 1, checked: true
        = radio_button_tag :resultstable_period, 2
        = radio_button_tag :resultstable_period, 5
        = radio_button_tag :resultstable_period, 10

      = hidden_field_tag :id, @case.id, class: "cases_resultstable_caseid" if @case