%table#cases_analysis_section_table_table

  %th
    Name
  %th
    Bar
  %th
    Prev #{@period.to_s}
  %th
    Last #{@period.to_s}
  %th
    Growth
  %th
    Site Av
  %th
    Recommendation
    

  - @table_hash.each_with_index do |(key, value), index|

    %tr
      %td
        / Name
        = Case.criteria_name(key)
      %td
        / Chart
        %div.cases_analysis_section_table_chart_bar{"data-score" => value, id: "cases_analysis_section_table_chart_bar_"+index.to_s, "data-category" => Case.criteria_category(key)}
      %td
        / Previous 5 to Last 5 Average
        - prev_av = Case.criteria_av_user(current_user, 5, 5, key)
        = prev_av

      %td.cases_analysis_section_table_cell_last5
        / Last 5 Average
        = value

      / Growth cell
      - curr_av = value
      - growth = ((curr_av/prev_av)-1)*100
      = colorcoded_cell(growth,number_to_percentage(growth, precision: 0))

      / Diff from avareage cell
      - site_av = Case.criteria_av_global(key)
      - diff = value - site_av
      = colorcoded_cell(diff, site_av)
      
      / Recommednation cell
      = recommendation_cell(growth, diff)



  / %th
  /   Bottom Q Av
  / %th
  /   Top Q Av

  /     %td
  /       / average of top quartile
  /       - array = Case.all.map { |a| a.criteria(key) }
  /       - percentile = 0.75
  /       - topquart = array.sort[(array.length * percentile)..(array.length)]
  /       = (topquart.inject(0.0) { |sum, el| sum + el } / topquart.size).round(1)
  /     %td
  /       - array = Case.all.map { |a| a.criteria(key) }
  /       - percentile = 0.25
  /       - bottomquart = array.sort[0..(array.length * percentile)]
  /       = (bottomquart.inject(0.0) { |sum, el| sum + el } / bottomquart.size).round(1)
