.panel.dark.font-small
  .row
    .span5
      = avatar_for(current_user)
    .span5.offset7
      #cases_analysis_casecount
        .panel.dark
          = current_user.casecount
  .row
    .span10
      1st Case Date
    .span10
      = Case.cases_analysis_stats_casedate(current_user, "first")
  .row
    .span10
      Last Case Date
    .span10
      = Case.cases_analysis_stats_casedate(current_user, "last")
  .row
    .span10
      Avg Score /40
    .span10
      = Case.cases_analysis_stats_averagescore(current_user)
  .row
    .span10
      Improvement Rate, %
    .span10
      xxx
  .row
    .span10
      Strongest Skill
    .span10
      = Case.cases_analysis_stats_skill(current_user, "weakest")
  .row
    .span10
      Weakest Skill
    .span10
      = Case.cases_analysis_stats_skill(current_user, "strongest")
  .row
    .span10
      Global Average Total Score
    .span10
      = Case.cases_analysis_stats_global("totalscore")
  .row
    .span10
      Structure
    .span10
      = Case.cases_analysis_stats_global("structure")
  .row
    .span10
      Analytical
    .span10
      = Case.cases_analysis_stats_global("analytical")
  .row
    .span10
      Commercial
    .span10
      = Case.cases_analysis_stats_global("commercial")
  .row
    .span10
      Conclusion
    .span10
      = Case.cases_analysis_stats_global("conclusion")