.panel.dark.font-small
  .row
    .span5
      = avatar_for(current_user)
    .span5.offset7
      #cases_analysis_casecount
        .panel.dark
          = current_user.casecount
  .row
    .span11
      1st Case Date
    .span3
      = Case.cases_analysis_stats_casedate(current_user, "first")
  .row
    .span11
      Last Case Date
    .span3
      = Case.cases_analysis_stats_casedate(current_user, "last")
  .spacer10
  .row
    .span11
      Avg Score /40
    .span3
      = Case.cases_analysis_stats_averagescore(current_user)
  .row
    .span11
      Global Avg /40
    .span3
      = Case.cases_analysis_stats_global("totalscore")
  .spacer10
  .row
    .span11
      Rate of Improv, %/case
    .span3
      xxx
  .spacer10
  .row
    .span11
      Strongest Skill
    .span8
      = Case.cases_analysis_stats_skill(current_user, "weakest")
  .row
    .span11
      Weakest Skill
    .span8
      = Case.cases_analysis_stats_skill(current_user, "strongest")
  .spacer10

  .row
    .span11
      Structure Avg
    .span3
      = Case.cases_analysis_stats_global("structure")
  .row
    .span11
      Analytical Avg
    .span3
      = Case.cases_analysis_stats_global("analytical")
  .row
    .span11
      Commercial Avg
    .span3
      = Case.cases_analysis_stats_global("commercial")
  .row
    .span11
      Conclusion Avg
    .span3
      = Case.cases_analysis_stats_global("conclusion")