#cases_show_subnav

  #cases_show_subnav_basics
    #cases_show_subnav_avatar
      = avatar_for(@case.interviewer,size:"medium")
    #cases_show_subnav_name
      = @case.interviewer.username
      #cases_show_subnav_date
        = @case.created_at.strftime("%a %d %b %Y %l:%M%P")

  #cases_show_subnav_browse

    %select#cases_show_subnav_select.chzn-select{"data-placeholder" => "Jump to Case...", value: @case.id }
      %option
        - @cases.each do |cases_select_item|
          %option{value: cases_select_item.id, "selected" => ("selected" if (cases_select_item.id == @case.id))}
          
            - unless @case.subject.blank?
              = cases_select_item.created_at.strftime("%a %d %b") + " - " + cases_select_item.subject_trunc_menu
            - else
              = cases_select_item.created_at.strftime("%a %d %b") + " - " + @case.interviewer.username

    #cases_show_subnav_browse_buttons_container
      .cases_show_subnav_browse_button.btn.btn-colour.btn-round{ "data-case_id" => @case.prev.id }
        %i.icon-fontawesome-webfont-16
      .cases_show_subnav_browse_button.btn.btn-colour.btn-round{ "data-case_id" => @case.next.id }
        %i.icon-fontawesome-webfont-18


  #cases_show_subnav_score
    = @case.totalscore_percentage.to_f.round(0).to_s + "%"
