#cases_show_subnav

  #cases_show_subnav_basics
    #cases_show_subnav_avatar
      = avatar_for(@case.interviewer,size:"medium")
    #cases_show_subnav_name
      = @case.interviewer.username
      #cases_show_subnav_date
        = @case.created_at.strftime("%a %d %b %Y %l:%M%P")
    #cases_show_subnav_score
      = @case.totalscore.to_f.round(1)
      = "/ 15"

  #cases_show_subnav_browse

    #cases_show_subnav_label
      Browse your cases:
    %select#cases_show_subnav_select.chzn-select{"data-placeholder" => "Jump to Case...", value: @case.id }
      %option
        - @cases.each do |cases_select_item|
          %option{value: cases_select_item.id, "selected" => ("selected" if (cases_select_item.id == @case.id))}
            = cases_select_item.created_at.strftime("%a %d %b") + " - " + cases_select_item.subject_trunc_menu

  #cases_show_subnav_browse_buttons_container
    .cases_show_subnav_browse_button.btn.btn-colour.btn-round{ "data-case_id" => @case.prev.id }
      %i.icon-chevron-left
    .cases_show_subnav_browse_button.btn.btn-colour.btn-round{ "data-case_id" => @case.next.id }
      %i.icon-chevron-right

