.row
  .panel.kill_bottom.kill_left.kill_right
    .row
      .span6
        .row
          %span.fui-user#cases_show_subnav_avatar
        .row
          / = casecounts(@case.interviewer)
      .span32
        .row
          .span.offset1#cases_show_subnav_name
            = @case.interviewer.username
        .spacer5
        .row
          .span2.offset1
            = image_tag "universities/" + @case.interviewer.university.image
          .span.offset1#cases_show_subnav_university
            = @case.interviewer.university.name


      .span49.pull-right#cases_show_subnav_browse
        .span8.offset1#cases_show_subnav_label
          Change case
          %i.icon-caret-right
        %select#cases_show_subnav_select.chzn-select.span29.offset2{"data-placeholder" => "Jump to Case...", value: @case.id }
          %option
            - @cases.each do |cases_select_item|
              %option{value: cases_select_item.id, "selected" => ("selected" if (cases_select_item.id == @case.id))}
                = cases_select_item.created_at.strftime("%a %d %b") + " - " + cases_select_item.subject_trunc_menu

        = link_to case_path(@case.prev), class: "btn btn-primary" do
          %i.icon-caret-left
        = link_to case_path(@case.next), class: "btn btn-primary" do
          %i.icon-caret-right
.row
  .panel.dark.kill_left.kill_right.kill_bottom#cases_show_subnav_info
    .row
      .span50
        - if @case.book_id?
          = render partial: 'books/show_small', locals: { book_id: @case.book_id }
        - else
          .row
            .span7
              Source:
            %span
              = @case.source
          .row
            .span7
              Subject:
            %span
              = @case.subject

      .span25.pull-right#cases_show_subnav_score
        .span15#cases_show_subnav_date
          = @case.created_at.strftime("%a %d %b %Y %l:%M%P")
        .span10
          %span= @case.totalscore.to_f.round(1)
          %span.cases_score_large_outof /15