- provide(:title, 'Your Progress')
- provide(:sub_title, 'Statistics calculated from your feedback from other users')

- content_for :javascript_includes do
  = javascript_include_tag "cases"
  = javascript_include_tag "lib/amcharts"
  :javascript

    var cases_analysis_chart_radar_count = #{@radar_count};

    var cases_analysis_chart_radar_data_all = #{Case.cases_analysis_chart_radar_data_all(current_user, @radar_count)};
    var cases_analysis_chart_radar_data_combined = #{Case.cases_analysis_chart_radar_data_combined(current_user, @radar_count)};

    $(document).ready(function(){    
      cases_analysis_charts_draw(cases_analysis_chart_radar_count);
    });

  - if @show_help
    :javascript
      $(document).ready(function() {
        application_show_help(1);
      });

.row
  .span25
    .row
      = render 'stats'
  .span69
    .row
      .panel.dark.kill_left.kill-right
        .row
          .cases_analysis_block_title
            Progress over time
        .row
          #cases_analysis_chart_progress
            .cases_analysis_loading.progress.progress-striped.active 
              .bar
.row
  .span50
    .panel.dark.kill_top.kill_bottom
      .row
        .cases_analysis_block_title
          Radar
      .row
        #cases_analysis_chart_radar_buttongroup.offset35
          .btn-group
            %a#cases_analysis_chart_radar_button_all.btn.btn-mini.btn-inverse.active All
            %a#cases_analysis_chart_radar_button_combined.btn.btn-mini.btn-inverse Combined
        #cases_analysis_chart_radar
          .cases_analysis_loading.progress.progress-striped.active 
            .bar

  .span42
    = render 'comments'
      

