- provide(:title, 'Your Progress')
- provide(:sub_title, 'Statistics calculated from your feedback from other users')

- content_for :javascript_includes do

  :javascript

    var cases_analysis_chart_case_count = #{@case_count_bracket};



    
  / - if current_user.help_6_checked
  /   :javascript
  /     $(document).ready(function() {
  /       window.setTimeout("window.application_show_help(6)", 1000);
  /     });


/ .spacer20

/ .row#cases_analysis_nav

/   #cases_analysis_nav_container
/     .span10
/       = filterable_analysis("table", "<i class=icon-list></i>Aggregate".html_safe)
/     .span10.offset5
/       = filterable_analysis("progress", "<i class=icon-time></i>Over time".html_safe)

/     / .span10.offset5
/     /   = filterable_analysis("users", "<span class=fui-user></span>Partners".html_safe)
/     .span10.offset5
/       = filterable_analysis("comments", "<i class=icon-comment-alt></i>Comments".html_safe)

/ .spacer20



- case @view


- when "table"

  - content_for :javascript_includes do
    :javascript
      $(document).ready(function(){
        if (cases_analysis_chart_case_count == 0) {
          $("#cases_analysis_chart_table_empty").fadeIn("fast");
        } else {
          window.cases_resultstable_bars_draw();
        }
      });


  .modal-body
    #cases_analysis_section_table.cases_analysis_section
      .panel.dark.kill_all
        .row
          - if current_user.case_count_recd > 0
            = render "results_table_form"

            #cases_analysis_section_table_table_container
              = render "results_table"
          - else
            #cases_analysis_section_table_empty
              #cases_analysis_section_table_empty_icon
                %i.icon-bar-chart
              %p You must do at least 1 case, 
              %p before this table will work


  .modal-footer

    %a.btn{"data-dismiss" => "modal", href: "#"} Close




- when "progress"

  - content_for :javascript_includes do

    :javascript

      var cases_analysis_chart_site_average = #{Case.cases_analysis_stats_global("totalscore")};
      var cases_analysis_chart_top_quart = #{Case.cases_analysis_stats_global("totalscore_top_quart")};
      var cases_analysis_chart_bottom_quart = #{Case.cases_analysis_stats_global("totalscore_bottom_quart")};

      $(document).ready(function(){  
        if (cases_analysis_chart_case_count < 2) {
          $("#cases_analysis_chart_progress_empty").fadeIn("fast");
        } else {
          window.cases_analysis_chart_progress_init(cases_analysis_chart_case_count, cases_analysis_chart_site_average, cases_analysis_chart_top_quart, cases_analysis_chart_bottom_quart);
        }
      });


  #cases_analysis_section_area.cases_analysis_section
    .panel.dark.kill_all
      .row
        .cases_analysis_block_title
          Over Time
      .row
        #cases_analysis_chart_progress
          .cases_analysis_loading.progress.progress-striped.active 
            .bar
        #cases_analysis_chart_progress_empty
          #cases_analysis_chart_progress_empty_icon
            %i.icon-bar-chart
          %p You must do at least 2 cases, 
          %p before this chart will work









- when "users"


  - content_for :javascript_includes do
    :javascript

      // Country
      var cases_analysis_chart_country_data = #{Case.cases_analysis_chart_country_data(current_user)};

      // University
      var cases_analysis_chart_university_data = #{Case.cases_analysis_chart_university_data(current_user)};


      $(document).ready(function(){
        if (cases_analysis_chart_case_count < 2) {
          $("#cases_analysis_chart_country_empty").fadeIn("fast");
          $("#cases_analysis_chart_university_empty").fadeIn("fast");
        } else {
          window.cases_analysis_chart_country_draw();
          window.cases_analysis_chart_university_draw();
        }
      });





  #cases_analysis_section_users.cases_analysis_section

    .span44.panel.dark.kill_all
      .row
        .cases_analysis_block_title
          Country
      .row
        #cases_analysis_chart_country
          .cases_analysis_loading.country.progress-striped.active 
            .bar
        #cases_analysis_chart_country_empty
          #cases_analysis_chart_country_empty_icon
            %i.icon-bar-chart
          %p You must do at least two cases, 
          %p before this chart will work


    .span44.panel.dark.kill_top.kill_right.kill_bottom
      .row
        .cases_analysis_block_title
          University
      .row
        #cases_analysis_chart_university
          .cases_analysis_loading.university.progress-striped.active 
            .bar
        #cases_analysis_chart_university_empty
          #cases_analysis_chart_university_empty_icon
            %i.icon-bar-chart
          %p You must do at least two cases, 
          %p before this chart will work





- when "comments"



  #cases_analysis_section_comments.cases_analysis_section
    = render 'comments'
      







