- provide(:title, 'Your Progress')
- provide(:sub_title, 'Statistics calculated from your feedback from other users')

- content_for :javascript_includes do
  = javascript_include_tag "cases"
  = javascript_include_tag "lib/amcharts"
  :javascript

    var cases_analysis_chart_case_count = #{@case_count};

    var cases_analysis_chart_site_average = #{@site_average};
    var cases_analysis_chart_top_quart = #{@top_quart};
    var cases_analysis_chart_bottom_quart = #{@bottom_quart};


    var cases_analysis_chart_radar_data_all = #{Case.cases_analysis_chart_radar_data_all(current_user, @case_count)};
    var cases_analysis_chart_radar_data_combined = #{Case.cases_analysis_chart_radar_data_combined(current_user, @case_count)};


    var cases_analysis_chart_bar_data_all = #{Case.cases_analysis_chart_bar_data_all(current_user, @case_count)};
    var cases_analysis_chart_bar_data_combined = #{Case.cases_analysis_chart_bar_data_combined(current_user, @case_count)};


    $(document).ready(function(){    
      window.cases_analysis_charts_draw(cases_analysis_chart_case_count, cases_analysis_chart_site_average, cases_analysis_chart_top_quart, cases_analysis_chart_bottom_quart);
    });

  / - if current_user.help_6_checked
  /   :javascript
  /     $(document).ready(function() {
  /       window.setTimeout("window.application_show_help(6)", 1000);
  /     });

.row
  .panel.darker.kill_left.kill_right
    .row
      .pull-left
        = render 'stats'
      .pull-right
        .btn-group
          %a.cases_analysis_subnav_button.btn.btn-inverse.active{"data-section" => "area"} Area
          %a.cases_analysis_subnav_button.btn.btn-inverse{"data-section" => "radar"} Bar & Radar
          %a.cases_analysis_subnav_button.btn.btn-inverse{"data-section" => "comments"} Comments
.row
  #cases_analysis_section_area.cases_analysis_section
    .panel.dark.kill_all
      .row
        .cases_analysis_block_title
          Progress
      .row
        #cases_analysis_chart_progress
          .cases_analysis_loading.progress.progress-striped.active 
            .bar
        #cases_analysis_chart_progress_empty
          #cases_analysis_chart_progress_empty_icon
            %i.icon-bar-chart
          %p You must do at least one case, 
          %p before this chart will work

  #cases_analysis_section_radar.cases_analysis_section.hidden

    .row
      .panel.dark.kill_all.span33
        .row
          .cases_analysis_block_title
            Radar
        .row
          #cases_analysis_chart_radar_buttongroup.offset25
            .btn-group
              %a#cases_analysis_chart_radar_button_all.btn.btn-mini.btn-inverse.active All
              %a#cases_analysis_chart_radar_button_combined.btn.btn-mini.btn-inverse Combined
          #cases_analysis_chart_radar
            .cases_analysis_loading.progress.progress-striped.active 
              .bar
          #cases_analysis_chart_radar_empty
            #cases_analysis_chart_radar_empty_icon
              %i.icon-tasks
            %p You must do at least one case, 
            %p before this chart will work

      .panel.dark.kill_right.kill_top.span33
        .row
          .cases_analysis_block_title
            Bar
        .row
          #cases_analysis_chart_bar_buttongroup.offset25
            .btn-group
              %a#cases_analysis_chart_bar_button_all.btn.btn-mini.btn-inverse.active All
              %a#cases_analysis_chart_bar_button_combined.btn.btn-mini.btn-inverse Combined
          #cases_analysis_chart_bar
            .cases_analysis_loading.progress.progress-striped.active 
              .bar
          #cases_analysis_chart_bar_empty
            #cases_analysis_chart_bar_empty_icon
              %i.icon-tasks
            %p You must do at least one case, 
            %p before this chart will work
    .row
      .panel.dark.kill_all
        .row
          .cases_analysis_block_title
            Stats
        %table
        %tr
          
          Quantitative basics
        .row
          Problem-Solving
        .row
          Prioritisation
        .row
          Sanity-checking 
        .row
          Rapport 
        .row
          Articulation 
        .row
          Concision
        .row
          Asking for information
        .row
          Approach up front
        .row
          Sticking to structure
        .row
          Announces structure change
        .row
          Pusing to conclusion

  #cases_analysis_section_comments.cases_analysis_section.hidden
    = render 'comments'
      

