- provide(:title, 'Give Feedback')
- provide(:sub_title, 'Score and comment on your case partners performance')

- content_for :javascript_includes do
  = javascript_include_tag "cases"

  - if current_user.help_4_checked
    :javascript
      $(document).ready(function() {
        window.setTimeout("window.application_show_help(4)", 1000);
      });

= form_for @case, url: { action: :create } do |f|
  = f.hidden_field :user_id

  #cases_new_form
    = render 'shared/error_messages', object: @case
    .row
      .span31
        .panel.gradient.kill_right
          .row
            .span20
              .row
                .span5
                  = avatar_for(@user,'icon')
                .span15
                  #cases_new_target_name
                    = @user.name

              - if Friendship.friends?(current_user, @user)
                .spacer5
                .row.font-small
                  = render 'shared/button_group_linkedin_skype'
            .span4
              #cases_new_target_casecount
                = avatar_for(@user, 'chevron')

      .span63
        .panel.dark
          .row
            .span16
              = f.text_field :date, value: params[:date], placeholder: "Date", id: "cases_new_datepicker", 'data-date-format' => "dd/mm/yyyy", tabindex: "1", class: "span15"
              .spacer10
              = f.text_field :source, placeholder: "Source", tabindex: "2", class: "span15"
            .span36
              = f.text_area :subject, value: params[:subject], placeholder: "Subject", tabindex: "3", id: "cases_new_subject"
            .span5
              = f.submit "Submit Feedback", class: "btn btn-large btn-inverse pull-right", tabindex: "9", id: "cases_new_button_submit"
    .row
      .cases_new_block_title
        Top Recommendations
      .panel.dark.kill_top
        .row
          .span29
            = f.text_area :recommendation1, placeholder: "1st Recommendation", class: "cases_new_recommendation"
          .span29
            = f.text_area :recommendation2, placeholder: "2nd Recommendation", class: "cases_new_recommendation"
          .span29
            = f.text_area :recommendation3, placeholder: "3rd Recommendation", class: "cases_new_recommendation"

    .row    
      .span94
        .cases_new_block_title
          Business Analytics
        .panel.dark.cases_new_block.kill_top
          .row
            .span55
              .row
                .span44
                  .row
                    .span22
                      .cases_new_block_desc.cases_new_popover.panel.dark{ "rel" => "popover", "data-content" => "Addition, subtraction, multiplication, division and percentages at back-of-envelope level", "data-original-title" => "Arithmetic" }
                        Quantitative basics
                    .span18
                      #cases_new_slider_quantitativebasics.cases_new_slider{"data-category" => "businessanalytics"}
                    .span4
                      = f.text_field :quantitativebasics, class: "cases_new_slider_input panel darker", tabindex: "-1", id: 'cases_new_slider_input_quantitativebasics'
                  .row
                    .span22
                      .cases_new_block_desc.cases_new_popover.panel.dark{ "rel" => "popover", "data-content" => "Identifies key issue in case and problem-solving steps needed to solve it", "data-original-title" => "Problem Solution" }
                        Problem-Solving
                    .span18
                      #cases_new_slider_problemsolving.cases_new_slider{"data-category" => "businessanalytics"}
                    .span4
                      = f.text_field :problemsolving, class: "cases_new_slider_input panel darker", tabindex: "-1", id: 'cases_new_slider_input_problemsolving'
                  .row
                    .span22
                      .cases_new_block_desc.cases_new_popover.panel.dark{ "rel" => "popover", "data-content" => "Prioritising", "data-original-title" => "Prioritising" }
                        Prioritisation
                    .span18
                      #cases_new_slider_prioritisation.cases_new_slider{"data-category" => "businessanalytics"}
                    .span4
                      = f.text_field :prioritisation, class: "cases_new_slider_input panel darker", tabindex: "-1", id: 'cases_new_slider_input_prioritisation'
                  .row
                    .span22
                      .cases_new_block_desc.cases_new_popover.panel.dark{ "rel" => "popover", "data-content" => "Reality Checks Assumptions", "data-original-title" => "Sense-checking" }
                        Sanity-checking
                    .span18
                      #cases_new_slider_sanitychecking.cases_new_slider{"data-category" => "businessanalytics"}
                    .span4
                      = f.text_field :sanitychecking, class: "cases_new_slider_input panel darker", tabindex: "-1", id: 'cases_new_slider_input_sanitychecking'
                .span1
                  .cases_new_block_circle_outer.panel.dark
                    .cases_new_block_circle.panel.darker
                      #cases_new_block_circle_text_businessanalytics.cases_new_block_circle_text
                        
                  
            .span35
              .panel.darker.kill_all
                = f.text_area :businessanalytics_comment, placeholder: "Comment...", tabindex: "4", class: "cases_new_comment"

    .row    
      .span94
        .cases_new_block_title
          Interpersonal
        .panel.dark.cases_new_block.kill_top
          .row
            .span55
              .row
                .span44
                  .row
                    .span22
                      .cases_new_block_desc.cases_new_popover.panel.dark{ "rel" => "popover", "data-content" => "Establishes a rapport with interviewer", "data-original-title" => "Rapport" }
                        Rapport
                    .span18
                      #cases_new_slider_rapport.cases_new_slider{"data-category" => "interpersonal"}
                    .span4
                      = f.text_field :rapport, class: "cases_new_slider_input panel darker", tabindex: "-1", id: 'cases_new_slider_input_rapport'
                  .row
                    .span22
                      .cases_new_block_desc.cases_new_popover.panel.dark{ "rel" => "popover", "data-content" => "Articulates clearly", "data-original-title" => "Articulation" }
                        Articulation
                    .span18
                      #cases_new_slider_articulation.cases_new_slider{"data-category" => "interpersonal"}
                    .span4
                      = f.text_field :articulation, class: "cases_new_slider_input panel darker", tabindex: "-1", id: 'cases_new_slider_input_articulation'
                  .row
                    .span22
                      .cases_new_block_desc.cases_new_popover.panel.dark{ "rel" => "popover", "data-content" => "Is Concise", "data-original-title" => "Concise" }
                        Concision
                    .span18
                      #cases_new_slider_concision.cases_new_slider{"data-category" => "interpersonal"}
                    .span4
                      = f.text_field :concision, class: "cases_new_slider_input panel darker", tabindex: "-1", id: 'cases_new_slider_input_concision'
                  .row
                    .span22
                      .cases_new_block_desc.cases_new_popover.panel.dark{ "rel" => "popover", "data-content" => "Asks for more information when neccessary", "data-original-title" => "Requests Information" }
                        Asking for Information
                    .span18
                      #cases_new_slider_askingforinformation.cases_new_slider{"data-category" => "interpersonal"}
                    .span4
                      = f.text_field :askingforinformation, class: "cases_new_slider_input panel darker", tabindex: "-1", id: 'cases_new_slider_input_askingforinformation'
                .span1
                  .cases_new_block_circle_outer.panel.dark
                    .cases_new_block_circle.panel.darker
                      #cases_new_block_circle_text_interpersonal.cases_new_block_circle_text
                        
                  
            .span35
              .panel.darker.kill_all
                = f.text_area :interpersonal_comment, placeholder: "Comment...", tabindex: "4", class: "cases_new_comment"

    .row    
      .span94
        .cases_new_block_title
          Structure
        .panel.dark.cases_new_block.kill_top
          .row
            .span55
              .row
                .span44
                  .row
                    .span22
                      .cases_new_block_desc.cases_new_popover.panel.dark{ "rel" => "popover", "data-content" => "Makes intended approach to problem clear to interviewer up front", "data-original-title" => "Approach up front" }
                        Make approach clear upfront
                    .span18
                      #cases_new_slider_approachupfront.cases_new_slider{"data-category" => "structure"}
                    .span4
                      = f.text_field :approachupfront, class: "cases_new_slider_input panel darker", tabindex: "-1", id: 'cases_new_slider_input_approachupfront'
                  .row
                    .span22
                      .cases_new_block_desc.cases_new_popover.panel.dark{ "rel" => "popover", "data-content" => "Sticks to announced structure unless indicates otherwise", "data-original-title" => "Sticks to structure" }
                        Sticking to structure
                    .span18
                      #cases_new_slider_stickingtostructure.cases_new_slider{"data-category" => "structure"}
                    .span4
                      = f.text_field :stickingtostructure, class: "cases_new_slider_input panel darker", tabindex: "-1", id: 'cases_new_slider_input_stickingtostructure'
                  .row
                    .span22
                      .cases_new_block_desc.cases_new_popover.panel.dark{ "rel" => "popover", "data-content" => "Explicitly announces any deivation from initially announced structure", "data-original-title" => "Announces Deviation" }
                        Announces changed structure
                    .span18
                      #cases_new_slider_announceschangedstructure.cases_new_slider{"data-category" => "structure"}
                    .span4
                      = f.text_field :announceschangedstructure, class: "cases_new_slider_input panel darker", tabindex: "-1", id: 'cases_new_slider_input_announceschangedstructure'
                  .row
                    .span22
                      .cases_new_block_desc.cases_new_popover.panel.dark{ "rel" => "popover", "data-content" => "Pushes to a conclusion", "data-original-title" => "Push to Ccnclusion" }
                        Pushing to conclusion
                    .span18
                      #cases_new_slider_pushingtoconclusion.cases_new_slider{"data-category" => "structure"}
                    .span4
                      = f.text_field :pushingtoconclusion, class: "cases_new_slider_input panel darker", tabindex: "-1", id: 'cases_new_slider_input_pushingtoconclusion'
                .span1
                  .cases_new_block_circle_outer.panel.dark
                    .cases_new_block_circle.panel.darker
                      #cases_new_block_circle_text_structure.cases_new_block_circle_text
                        
                  
            .span35
              .panel.darker.kill_all
                = f.text_area :structure_comment, placeholder: "Comment...", tabindex: "4", class: "cases_new_comment"