:javascript
  var cases_show_chart_radar_data_all = #{@case.cases_show_chart_radar_data_all};
  var cases_show_chart_radar_data_combined = #{@case.cases_show_chart_radar_data_combined};

  var cases_show_businessanalytics_chart_radar_data = #{@case.cases_show_businessanalytics_chart_radar_data};
  var cases_show_interpersonal_chart_radar_data = #{@case.cases_show_interpersonal_chart_radar_data};
  var cases_show_structure_chart_radar_data = #{@case.cases_show_structure_chart_radar_data};

.row
  .span30
    .row
      #cases_show_block_interviewer.panel.gradient.kill_left.kill_right
        .row
          #cases_show_block_interviewer_avatar.span6
            = avatar_for(@case.interviewer, 'icon')
          #cases_show_block_interviewer_name.span15
            .application_name
              = @case.interviewer.name
            .row.application_timestamp.font-small
              %span
                Date:
              %span
                = @case.date.strftime("%d %b '%y")
          .span6
            #cases_show_casecount
              = avatar_for(current_user, 'chevron')

  .span34

    #cases_show_block_basics.panel.darker.font-small
      .row
        .span5.cases_show_block_basics_name
          Source
        .span23#cases_show_block_basics_source
          = @case.source
      .spacer5
      .row
        .span5.cases_show_block_basics_name
          Subject
        .span23#cases_show_block_basics_subject
          = @case.subject

.row
  .span21
    .panel.darker.kill_left.kill_top.cases_show_recommendation
      .cases_show_title.recommendation
        1st Recommendation
      .cases_show_recommendation_content
        = @case.recommendation1
      .spacer10
      .cases_show_title.recommendation
        2nd Recommendation
      .cases_show_recommendation_content
        = @case.recommendation2
      .spacer10
      .cases_show_title.recommendation
        3rd Recommendation
      .cases_show_recommendation_content
        = @case.recommendation3
  .span40

    #cases_show_chart_radar
    #cases_show_chart_radar_buttongroup
      .btn-group.offset32
        %a#cases_show_chart_radar_button_all.btn.btn-mini.btn-inverse.active All
        %a#cases_show_chart_radar_button_combined.btn.btn-mini.btn-inverse Combined

.row
  .span63
    .panel.darker.kill_left.kill_right.kill_top
      .cases_show_title
        Business Analytics
      .row
        .span17
          #cases_show_businessanalytics_chart_radar
        .span9.offset2
          .cases_show_block_circle_outer.panel.dark
            .cases_show_block_circle.panel.darker
              .cases_show_block_circle_text
                = @case.businessanalytics_combined
        .span30.cases_show_comment.panel.dark.kill_all
          = @case.businessanalytics_comment.html_safe
.row
  .span63
    .panel.darker.kill_left.kill_right.kill_top
      .cases_show_title
        Interpersonal
      .row
        .span17
          #cases_show_interpersonal_chart_radar
        .span9.offset2
          .cases_show_block_circle_outer.panel.dark
            .cases_show_block_circle.panel.darker
              .cases_show_block_circle_text
                = @case.interpersonal_combined
        .span30.cases_show_comment.panel.dark.kill_all
          = @case.interpersonal_comment.html_safe
.row
  .span63
    .panel.darker.kill_left.kill_right.kill_top
      .cases_show_title
        Structure
      .row
        .span17
          #cases_show_structure_chart_radar
        .span9.offset2
          .cases_show_block_circle_outer.panel.dark
            .cases_show_block_circle.panel.darker
              .cases_show_block_circle_text
                = @case.structure_combined
        .span30.cases_show_comment.panel.dark.kill_all
          = @case.structure_comment.html_safe