
.modal-body

  = render 'subnav'

  #cases_show_panel_left

    #cases_show_book

      - if @case.book_id?
        = render partial: 'books/show_small', locals: { book_id: @case.book_id }
      - else
        .row
          .span7
            %b Subject
          .span32
            = @case.subject
        .row
          .span7
            %b Source
          .span32
            = @case.source

    #cases_show_results
      .cases_resultstable_container
        = render "results_table"
      = render "results_table_form"

  #cases_show_panel_right

    #cases_show_recommendations
      .cases_show_recommendation
        .cases_show_recommendation_content
          .cases_show_recommendation_title 1st recommendation
          = @case.recommendation1
      .cases_show_recommendation
        .cases_show_recommendation_content
          .cases_show_recommendation_title 2nd recommendation
          = @case.recommendation2
      .cases_show_recommendation
        .cases_show_recommendation_content
          .cases_show_recommendation_title 3rd recommendation
          = @case.recommendation3

    #cases_show_maincomment
      #cases_show_maincomment_content
        = @case.main_comment
        hello


.modal-footer

  %a.btn{"data-dismiss" => "modal", href: "#"} Close

