:javascript
  var cases_show_chart_radar_data = #{@case.cases_show_chart_radar_data};

.row
  .span30
    #testing123
    .panel.gradient.kill_left.kill_right
      .row
        .span6
          = avatar_for(@case.interviewer, 'icon','')
        .span14
          .application_name
            = @case.interviewer.name
          .row.application_timestamp
            = @case.date.strftime("%d %b '%y")
        .span6
          #cases_show_casecount
            = avatar_for(current_user, 'chevron', @case.interviewer.case_count)
    .panel.dark.kill_all
      .row
        .span30
          = @case.id
      .spacer10
      .row
        .span10
          Source
        .span20
          = @case.source
      .row
        .span10
          Submitted
        .span20
          = @case.created_at.strftime("%d %b '%y")

  .span30
    #cases_show_chart_radar.cases_radar

.row
  .span30
    .panel.kill_all
      .cases_show_title
        Structure
      .row
        .span5.cases_score.show
          / = @case.structure
        .span20.cases_show_comment
          / = @case.structure_comment
  .span30
    .panel.kill_right.kill_bottom.kill_top
      .cases_show_title
        Analytical/Problem-solving  
      .row
        .span5.cases_score.show
          / = @case.analytical
        .span20.cases_show_comment
          / = @case.analytical_comment

.row
  .span30
    .panel.kill_bottom.kill_left.kill_right
      .cases_show_title
        Commercial Awareness
      .row
        .span5.cases_score.show
          / = @case.commercial
        .span20.cases_show_comment
          / = @case.commercial_comment
  .span30
    .panel.kill_right.kill_bottom
      .cases_show_title
        Conclusion
      .row
        .span5.cases_score.show
          / = @case.conclusion
        .span20.cases_show_comment
          / = @case.conclusion_comment

.row
  .span30
    .panel.kill_right.kill_bottom
      .cases_show_title
        Notes
      .row
        #cases_show_notes_form_container
          = render 'notes_form'
        #cases_show_notes_form_callback