- provide(:title, 'Case with ' + @case.interviewer.name)

:javascript
  var chartData_show_radar = #{@case.chart_show_radar};

.row
  .span40

    .panel.gradient
      .row
        .span10
          = avatar_for(@case.interviewer)
        .span20
          .application_name
            = @case.interviewer.name
          .row.application_timestamp
            = @case.date.strftime("%m/%d/%Y")
      .row
        .span30
          = @case.subject
      .row
        .span10
          Source
        .span20
          = @case.source
      .row
        .span10
          Submitted
        .span20
          = @case.created_at.strftime("%m/%d/%Y")

  .span40
    #cases_show_radar

.row
  .span40
    .panel
      .cases_show_title
        Structure
      .row
        .span5.cases_score
          = @case.structure
        .span25
          = @case.structure_comment
  .span40
    .panel
      .cases_show_title
        Analytical/Problem-solving  
      .row
        .span5.cases_score
          = @case.analytical
        .span25
          = @case.analytical_comment

.row
  .span40
    .panel
      .cases_show_title
        Commercial Awareness
      .row
        .span5.cases_score
          = @case.commercial
        .span25
          = @case.commercial_comment
  .span40
    .panel
      .cases_show_title
        Conclusion
      .row
        .span5.cases_score
          = @case.conclusion
        .span25
          = @case.conclusion_comment

.row

  .span40
    .panel
      .cases_show_title
        Further Comment
      .row
        = @case.comment

  .span40
    .panel
      .cases_show_title
        Notes
      .row
        = @case.notes
