- provide(:title, 'Case with ' + @case.interviewer.name)

%table{:style => "width:100%;"}
  %tr
    %td{:style => "width:60%", :valign => "top"}
      / stats panel
      .panel.type1
        %table
          %tr
            %td
              Marker
            %td
              = avatar_for(@case.interviewer)
              = @case.interviewer.name
          %tr
            %td
              Date
            %td
              = @case.date.strftime("%m/%d/%Y")
          %tr
            %td
              Subject
            %td
              = @case.subject
          %tr
            %td
              Source
            %td
              = @case.source
          %tr
            %td
              Submitted
            %td
              = @case.created_at.strftime("%m/%d/%Y")



    %td{:style => "width:340px;"}

      #chartdiv{:style => "width: 100%; height: 250px;"}


%table{:style => "width:100%;"}

  %tr
    %td{:style => "width:50%;"}
      %div
        %div
          Structure
        %table
          %tr
            %td
              %div
                = @case.structure
            %td
              %div
                = @case.structure_comment
    %td
      %div
        %div
          Analytical/Problem-solving  
        %table
          %tr
            %td
              %div
                = @case.analytical
            %td
              %div
                = @case.analytical_comment

  %tr
    %td
      .case_comment
        %div
          Commercial Awareness
        %table
          %tr
            %td
              %div
                = @case.commercial
            %td
              %div
                = @case.commercial_comment

    %td
      %div
        %div
          Conclusion
        %table
          %tr
            %td
              %div
                = @case.conclusion
            %td
              %div
                = @case.conclusion_comment

  %tr
    %td
      %div
        %div
          Further Comment
        %div
          = @case.comment


%div
  Notes
  %div
    = @case.notes




:javascript
