
.modal-body

  = render 'subnav'

  .row

    #cases_show_charts_panel.panel.dark.kill_left.kill_right


      .row

        #cases_show_charts_view_table.cases_show_charts_view
          = render "results_table_form"

          #cases_show_charts_view_table_table_container
            = render "results_table"


  .row
    .panel.dark.kill_left.kill_right.kill_top
      .row
        .span30
          .cases_show_title.recommendation
            1st Recommendation
          .cases_show_recommendation_content
            = @case.recommendation1
        .span30.offset1
          .cases_show_title.recommendation
            2nd Recommendation
          .cases_show_recommendation_content
            = @case.recommendation2
        .span30.offset1
          .cases_show_title.recommendation
            3rd Recommendation
          .cases_show_recommendation_content
            = @case.recommendation3


.modal-footer

  %a.btn{"data-dismiss" => "modal", href: "#"} Close

