- provide(:title, 'Case with ' + @case.interviewer.name)

:javascript
  var chartData_show_radar = #{@case.chart_show_radar};

      .panel.gradient
        .row
          .span10
            = avatar_for(@case.interviewer)
          .span20
            = @case.interviewer.name
        .row
          .span
            = @case.date.strftime("%m/%d/%Y")

              Subject

              = @case.subject

              Source

              = @case.source

              Submitted

              = @case.created_at.strftime("%m/%d/%Y")


      #cases_show_radar

.panel


            Structure

                  = @case.structure

                  = @case.structure_comment

            Analytical/Problem-solving  

                  = @case.analytical

                  = @case.analytical_comment


            Commercial Awareness

                  = @case.commercial

                  = @case.commercial_comment

            Conclusion

                  = @case.conclusion

                  = @case.conclusion_comment


            Further Comment

            = @case.comment


    Notes
      = @case.notes
