- content_for :title do
  Case with
  = link_to "/map?user_id=" + @case.interviewer.id.to_s,  "data-original-title"=>"Go to #{@case.interviewer.username}'s profile","data-placement"=>"bottom", class: "application_tooltip" do
    = image_tag @case.interviewer.university.image_file, class: "application_userimage_small"
    = @case.interviewer.username

- provide(:sub_title, @case.subject_trunc)

- provide(:breadcrumb, "Cases")
- provide(:breadcrumb_url, "/cases")

- content_for :javascript_includes do

  :javascript


    var cases_show_chart_radar_data_all = #{@case.cases_show_chart_radar_data_all};
    var cases_show_chart_radar_data_combined = #{@case.cases_show_chart_radar_data_combined};

    var cases_show_businessanalytics_chart_bar_data = #{@case.cases_show_category_chart_bar_data("businessanalytics")};

    var cases_show_structure_chart_bar_data = #{@case.cases_show_category_chart_bar_data("structure")};

    var cases_show_interpersonal_chart_bar_data = #{@case.cases_show_category_chart_bar_data("interpersonal")};


    $(document).ready(function() {

      window.cases_resultstable_bars_draw();

      // window.cases_show_chart_radar_draw("all");
      
      window.cases_show_category_chart_bar_draw("businessanalytics");
      window.cases_show_category_chart_bar_draw("structure");
      window.cases_show_category_chart_bar_draw("interpersonal");

    });

.row
  = render 'subnav'

.btn-group#cases_show_charts_view_buttongroup
  .btn.btn-primary.btn-embossed.active{"data-view"=>"table"}
    Table
  .btn.btn-primary.btn-embossed{"data-view"=>"radar"}
    Radar

.row

  #cases_show_charts_panel.panel.dark.kill_left.kill_right


    .row





      #cases_show_charts_view_table.cases_show_charts_view
        = render "results_table_form"

        #cases_show_charts_view_table_table_container
          = render "results_table"







      #cases_show_charts_view_radar.cases_show_charts_view.hidden

        #cases_show_chart_radar

        #cases_show_chart_radar_buttongroup.pull-right
          .btn-group
            %a#cases_show_chart_radar_button_all.btn.btn-mini.btn-primary.btn-embossed.active All
            %a#cases_show_chart_radar_button_combined.btn.btn-mini.btn-primary.btn-embossed Combined

.row
  .panel.dark.kill_left.kill_right.kill_top
    .row
      .span30
        .cases_show_title.recommendation
          1st Recommendation
        .cases_show_recommendation_content
          = @case.recommendation1
      .span30.offset1
        .cases_show_title.recommendation
          2nd Recommendation
        .cases_show_recommendation_content
          = @case.recommendation2
      .span30.offset1
        .cases_show_title.recommendation
          3rd Recommendation
        .cases_show_recommendation_content
          = @case.recommendation3

.row
  .panel.dark.kill_left.kill_right.kill_top
    .cases_show_title
      Business Analytics
    .row
      .span17
        #cases_show_businessanalytics_chart_bar
      .span10.offset2
        .cases_show_block_circle_outer.panel.dark
          .cases_show_block_circle.panel.darker
            .cases_show_block_circle_text
              = @case.businessanalytics_combined
              %span.cases_score_large_outof /5
      .span
        .cases_show_comment.panel.dark.kill_all
          = @case.businessanalytics_comment.html_safe

.row
  .panel.dark.kill_left.kill_right.kill_top
    .cases_show_title
      Structure
    .row
      .span17
        #cases_show_structure_chart_bar
      .span10.offset2
        .cases_show_block_circle_outer.panel.dark
          .cases_show_block_circle.panel.darker
            .cases_show_block_circle_text
              = @case.structure_combined
              %span.cases_score_large_outof /5
      .span
        .cases_show_comment.panel.dark.kill_all
          = @case.structure_comment.html_safe

.row
  .panel.dark.kill_left.kill_right.kill_top
    .cases_show_title
      Interpersonal
    .row
      .span17
        #cases_show_interpersonal_chart_bar
      .span10.offset2
        .cases_show_block_circle_outer.panel.dark
          .cases_show_block_circle.panel.darker
            .cases_show_block_circle_text
              = @case.interpersonal_combined
              %span.cases_score_large_outof /5
      .span
        .cases_show_comment.panel.dark.kill_all
          = @case.interpersonal_comment.html_safe

