= form_tag users_path, method: 'get', id: "users_index_users_form" do
  %span.pull-left
    / search field
    = text_field_tag :search, params[:search], placeholder: "Search users...", id: "users_index_users_form_searchfield", class: 'search-query'
  %span.pull-right
    / sort/filter pulldown menu
    .btn-group
      %a#users_index_users_button_filter.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        Filter
        %span.caret
      %ul.dropdown-menu
        %li
          %a
            = radio_button_tag :users_listtype, 'local', checked: true
            Within 100km
        %li
          %a
            = radio_button_tag :users_listtype, 'global'
            Global
        %li
          %a
            = radio_button_tag :users_listtype, 'rand'
            Randomise
        %li
          %a
            = radio_button_tag :users_listtype, 'contacts'
            Contacts