- provide(:title, 'Edit Profile')

- content_for :javascript_includes do

  :javascript
    var users_newedit_map_lat_start = "#{current_user.lat}";
    var users_newedit_map_lng_start = "#{current_user.lng}";

= content_for :content do

  %h1 Edit Profile

  = form_for(@user, validate: true) do |f|

    .row
      .span94
        = render 'shared/error_messages', object: @user
        .span47
          .panel
            .row
              .span15
                = f.label :first_name
              .span25
                = f.text_field :first_name
            .row
              .span15
                = f.label :last_name
              .span25
                = f.text_field :last_name
            .row
              .span15  
                = f.label :email
              .span25 
                = f.text_field :email
            .row
              .span15   
                = f.label :password
              .span25
                = f.password_field :password
            .row
              .span15   
                = f.label :password_confirmation, "Confirm Password"
              .span25
                = f.password_field :password_confirmation
            .row  
              .span15
                = f.label :skype
              .span25  
                = f.text_field :skype
            .row
              .span15   
                = f.label :linkedin
              .span25
                = f.text_field :linkedin
        .span35
          .panel.inverse.kill_left
            .row
              .span20
                = f.label :status, "Describe your current situation"
              .span30  
                = f.text_area :status

            #users_newedit_map.edit.map
            = f.text_field :lat, id: "users_newedit_lat"
            = f.text_field :lng, id: "users_newedit_lng"

            .row
              .span20
                = f.label :email_admin, "Receive case interview advice email letter"
              .span30
                = f.check_box :email_admin
            .row
              .span20
                = f.label :email_users, "Send notifications from users to your email"
              .span30
                = f.check_box :email_users

            = f.submit "Save changes", class: "btn btn-large btn-inverse", id: "users_edit_button_submit"