- provide(:title, 'Sign up')

= content_for :content do

  %h1 Sign up
  
  = form_for @user, :validate => true do |f|
  
    .row
      = render 'shared/error_messages', object: @user
      
      .span47
        #users_new_step1.panel.kill_right

          #users_newedit_map.new.map

          = f.text_field :lat, id: "users_newedit_lat"
          = f.text_field :lng, id: "users_newedit_lng"

      .span47
        #users_new_step2.panel

          .row
            .span7
              = image_tag 'icons/skype_large.png'
            .span15.offset2
              = f.text_field :skype, placeholder: 'Skype username'
          .row
            .span7
              = image_tag 'icons/linkedin_large.png'
            .span15.offset2
              = f.text_field :linkedin, placeholder: 'LinkedIn email address'

          .spacer10

          .row
            = f.text_area :status, id: 'users_new_status', placeholder: "Describe your current situation"

          .row
            = f.submit "Complete Sign up", class: "btn btn-large btn-inverse", id: "users_new_button_submit"