- provide(:title, 'Sign up')

= content_for :content do

  %h1 Sign up
  
  = form_for @user, :validate => true do |f|
  
    .row
      = render 'shared/error_messages', object: @user
      .span26
        #users_new_step1.panel
          = f.text_field :first_name, placeholder: 'First Name'
          = f.text_field :last_name, placeholder: 'Last Name'
          .spacer5
          = f.text_field :email, placeholder: 'Email'
          .spacer5
          = f.password_field :password, placeholder: 'Password'
          = f.password_field :password_confirmation, placeholder: 'Confirm Password'
          .row
            .span16
              = f.label :email_admin, "Subscribe to advice letter"
            .span3
              = f.check_box :email_admin
          .row
            .span16
              = f.label :email_users, "Receive email notifications"
            .span3
              = f.check_box :email_users

      .span35
        #users_new_step2.panel.kill_left.kill_right

          = f.text_area :status, id: 'users_new_status', placeholder: "Describe your current situation"

      .span33
        #users_new_step3.panel

          .row
            .span7
              = image_tag 'icons/skype_large.png'
            .span15.offset2
              = f.text_field :skype, placeholder: 'Skype username'
          .row
            .span7
              = image_tag 'icons/linkedin_large.png'
            .span15.offset2
              = f.text_field :linkedin, placeholder: 'LinkedIn email address'

          .spacer10

          #users_newedit_map.map

          = f.text_field :lat, id: "lat"
          = f.text_field :lng, id: "lng"

          .spacer10
          .row
            .span16
              = f.label :accepts_tandc, "I accept the terms and conditions"
            .span3
              = f.check_box :accepts_tandc
          %br
          = f.submit "Create my account", class: "btn btn-large btn-inverse", id: "users_new_button_submit"