- provide(:title, 'Sign up')

= content_for :content do

  %h1 Sign up
  
  = form_for @user, :validate => true do |f|
  
    .row
      = render 'shared/error_messages', object: @user
      .span26
        #users_new_step1.panel
          = f.text_field :first_name, placeholder: 'First Name'
          = f.text_field :last_name, placeholder: 'Last Name'
          .spacer5
          = f.text_field :email, placeholder: 'Email'
          .spacer5
          = f.password_field :password, placeholder: 'Password'
          = f.password_field :password_confirmation, placeholder: 'Confirm Password'
          .row
            .span16
              = f.label :email_admin, "Subscribe to advice letter"
            .span3
              = f.check_box :email_admin
          .row
            .span16
              = f.label :email_users, "Receive email notifications"
            .span3
              = f.check_box :email_users

      .span35
        #users_new_step2.panel.kill_left.kill_right

          = f.text_area :status, id: 'users_new_status', placeholder: "Describe your current situation"

          .row
            .span27
              .row.application_table_title
                .span15
                  University/College
                .span6
                  From
                .span2
                  To
              #users_new_education_group
              = f.text_field :education1, placeholder: "1", class: "users_edex_field"
              = f.text_field :education1_from, class: "users_edex_datepicker"
              = f.text_field :education1_to, class: "users_edex_datepicker"

              #users_new_education_group_optional_1

                = f.text_field :education2, placeholder: "2", class: "users_edex_field"
                = f.text_field :education2_from, class: "users_edex_datepicker"
                = f.text_field :education2_to, class: "users_edex_datepicker"

              #users_new_education_group_optional_2

                = f.text_field :education3, placeholder: "3", class: "users_edex_field"
                = f.text_field :education3_from, class: "users_edex_datepicker"
                = f.text_field :education3_to, class: "users_edex_datepicker"
            .span5.pull-right
              %a#users_new_button_education_remove.btn.btn-inverse -
              %a#users_new_button_education_add.btn.btn-inverse +

          .spacer10
          .row
            .span27
              .row.application_form_title
                .span15
                  Professional Experience
                .span6
                  From
                .span2
                  To
              #users_new_experience_group
                = f.text_field :experience1, placeholder: "1", class: "users_edex_field"
                = f.text_field :experience1_from, class: "users_edex_datepicker"
                = f.text_field :experience1_to, class: "users_edex_datepicker"


              #users_new_experience_group_optional_1
                = f.text_field :experience2, placeholder: "2", class: "users_edex_field"
                = f.text_field :experience2_from, class: "users_edex_datepicker"
                = f.text_field :experience2_to, class: "users_edex_datepicker"

              #users_new_experience_group_optional_2

                = f.text_field :experience3, placeholder: "3", class: "users_edex_field"
                = f.text_field :experience3_from, class: "users_edex_datepicker"
                = f.text_field :experience3_to, class: "users_edex_datepicker"

            .span5.pull-right
              %a#users_new_button_experience_remove.btn.btn-inverse -
              %a#users_new_button_experience_add.btn.btn-inverse +


      .span33
        #users_new_step3.panel

          .row
            .span7
              = image_tag 'icons/skype_large.png'
            .span15.offset2
              = f.text_field :skype, placeholder: 'Skype username'
          .row
            .span7
              = image_tag 'icons/linkedin_large.png'
            .span15.offset2
              = f.text_field :linkedin, placeholder: 'LinkedIn email address'

          .spacer10

          #users_newedit_map.map

          = f.text_field :lat, id: "lat"
          = f.text_field :lng, id: "lng"

          .spacer10
          .row
            .span16
              = f.label :accepts_tandc, "I accept the terms and conditions"
            .span3
              = f.check_box :accepts_tandc
          %br
          = f.submit "Create my account", class: "btn btn-large btn-inverse", id: "users_new_button_submit"