.panel.gradient
  
  %button#users_show_close.close ×

  .row
    .span5
      = avatar_for(@user)
    .span20.users_show_list_name
      = @user.name
      = @user.id
  .row
    .span18.font-small
      .row
        .span10
          Number of Cases
        .span8
          = @user.casecount
      .row
        .span10
          LinkedIn:
        .span8
          = link_to image_tag("icons/linkedin.png", alt: "View xx's profile on LinkedIn", height: "15", width: "20", border:"0") + "LinkedIn", 'http://uk.linkedin.com/in/xx'
      .row
        .span10
          Skype:
        .span8
          %a{:href => "#{@user.skype}?add"}
            %img{:alt => "#{@user.skype}'s status", :height => "16", :src => "http://mystatus.skype.com/smallicon/#{@user.skype}", :width => "16"}

    .span15
      = render 'shared/button_Group_message_and_feedback_req'


.panel
  .row
    .span40
      #users_show_status
        %blockquote
          %p
            = @user.status
  .row
    .span20.offset20
      = render 'shared/button_friend_req_or_message'
  
.panel

  .application_form_title
    Education
  .row
    .span25
      = @user.education1
    .span10
      = @user.education1_from.strftime("%Y") + "-" + @user.education1_to.strftime("%Y")
  .row
    .span25
      = @user.education2
    .span10
      = @user.education2_from.strftime("%Y") + "-" + @user.education2_to.strftime("%Y")
  .row
    .span25
      = @user.education3
    .span10
      = @user.education3_from.strftime("%Y") + "-" + @user.education3_to.strftime("%Y")
      

  .application_form_title
    Experience
  .row
    .span25
      = @user.experience1
    .span10
      = @user.experience1_from.strftime("%Y") + "-" + @user.experience1_to.strftime("%Y")
  .row
    .span25
      = @user.experience2
    .span10
      = @user.experience2_from.strftime("%Y") + "-" + @user.experience2_to.strftime("%Y")
  .row
    .span25
      = @user.experience3
    .span10
      = @user.experience3_from.strftime("%Y") + "-" + @user.experience3_to.strftime("%Y")


#modal_friendship_req.modal.hide.fade
  = render 'shared/modal_friendship_req_form'

= render 'shared/modal_Group_message_and_feedback_req'