= form_for(@notification, remote: true) do |f|
  .modal-header
    %button.close{"data-dismiss" => "modal", type: "button"} ×
    %h3 Request Feedback

  .modal-body

    %p
      This user will be sent a feedback form to complete

    #flash_notifications
      = render 'shared/error_messages', object: @notification

    %div   
      = f.text_field :event_date, placeholder: "Date", id: "modal_feedback_req_datepicker", tabindex: "1", 'data-date-format' => "dd/mm/yyyy"
    %div
      = f.text_area :content, placeholder: "Case Subject...", rows: '5', tabindex: "2", class: "modal_textarea"

      = f.hidden_field :user_id, :value => @user.id
      = f.hidden_field :sender_id, :value => current_user.id
      = f.hidden_field :ntype, :value => "feedback_req"

  .modal-footer
    %a.btn{"data-dismiss" => "modal", href: "#"} Close
    %button.btn.btn-inverse{href: "#", type: "submit", tabindex: "2"}
      %i.icon-arrow-right.icon-white
      Send Feedback Request