= form_for(@friendship, remote: true) do |f|
  .modal-header
    %button.close{"data-dismiss" => "modal", type: "button"} ×

    %h3 Send friend request to #{@user.username}

  .modal-body

    #flash_notifications
      = render 'shared/error_messages', object: @friendship

    %p
      Introduce yourself

    #flash_notifications

    %div
      = f.text_area :invitation_message, placeholder: "Send message...", tabindex: "1", class: "modal_textarea"
      = f.hidden_field :friend_id, value: @user.id

  .modal-footer
    %a.btn{"data-dismiss" => "modal", href: "#"} Close
    .application_submit_button_with_spinner.btn.btn-primary.btn-embossed{tabindex: "2"}
      %i.icon-arrow-right.icon-white
      Send Request

.application_spinner_container
  .application_spinner