#modal_help.modal.hide.fade{"data-backdrop" => "false"}

  .modal-header
    %button.close{"data-dismiss" => "modal", type: "button"} ×

    #modal_help_arrownav
      %nav
        %ul
          %li
            %a{:href => "#1"} 
              / %span.modal_help_arrownav_title_number 1.
              Basics
          %li
            %a{:href => "#2"}
              / %span.modal_help_arrownav_title_number 2. 
              Map
          %li
            %a{:href => "#3"}
              / %span.modal_help_arrownav_title_number 3. 
              Roulette
          %li
            %a{:href => "#4"}
              / %span.modal_help_arrownav_title_number 4.
              Feedback form
          %li
            %a{:href => "#5"}
              / %span.modal_help_arrownav_title_number 5. 
              Case index
          %li
            %a{:href => "#6"}
              / %span.modal_help_arrownav_title_number 6. 
              Progress analysis

        %span.arrow
  .modal-body

    #application_arrownav_page_1.arrownav_page

      #modal_help_page_1

        .modal_help_header_icon
          %i.icon-cog
        .modal_help_header_title The Basics
        .modal_help_header_sub ...how to get around

        = image_tag "help/1.jpg"

        .set-1a
          %h4 i) Map
          %p Find other candidates
          %p ...and arrange to practise together
        .set-1b
          %h4 ii) Roulette
          %p Do a case with someone at any time
        .set-1c
          %h4 iii) Help
          %p Open this dialog
        .set-1d
          %h4 iv) Feedback
          %p Tell us about bugs, or suggest ways to improve
        .set-1e
          %h4 v) Notifications
          %p All correspondance from your case partners can be found here.
          %p 
            %span.font-bold Accept case partner requests 
            %span here too.
        .set-1f
          %h4 vi) Profile Menu
          %ul.modal_help_list
            %li
              %b
                Case index - 
              review your individual feedback records
            %li
              %b
                Progress analysis -
              your feedback scores shown graphically
            %li
              %b
                Settings -
              change your settings, status, and location 

    #application_arrownav_page_2.arrownav_page

      #modal_help_page_2

        .modal_help_header_icon
          %i.icon-pushpin
        .modal_help_header_title Map
        .modal_help_header_sub ...find other candidates to practise with

        = image_tag "help/2.jpg"

        .set-2a
          %h4 i) The Map
          %p Find other candidates who live or work nearby
          %p
            %span.font-bold Click on a marker 
            to see their profile
        .set-2b
          %h4 
            ii) 
            %span#modal_help_page_2_50 50 
            cases
          %p Performance in case interviews is almost directly proportional to practice experience
          %p
            You should be aiming to do
            %span.font-bold over 50 practise cases 
            before walking into your first interview
          %p Gauge the ability of others by their experience
        .set-2c
          %h4 iii) User profile
          %p
            Read a candidate's 
            %span.font-bold status
            then send them a 
            %span.font-bold Case Partner request.
          %p Once they accept you can communicate freely, to schedule practice cases, and send them feedback on their performance
          %p When you send a Case Partner request, sell yourself and explain why they might want to practise with you
        .set-2d
          %h4 v) Feedback
          %p Send or request feedback from a Case Partner 
          %p These buttons are visible once they accept

        .set-2e
          %h4 vi) User list
          %p 
            %span.font-bold Browse or Search 
            for other candidates.
          %p Selecting 'Contacts' shows your Case Partners
          %p 
            Click on a candidate's entry in the list
            %span.font-bold to see their profile


    #application_arrownav_page_3.arrownav_page

      #modal_help_page_3

        .modal_help_header_icon
          %i.icon-random
        .modal_help_header_title Roulette
        .modal_help_header_sub ...practise with someone now

        = image_tag "help/3.jpg"

        .set-3a
          %h4 i) Ensure you are signed in to Skype
          %p So you know if someone calls you

        .set-3b
          %h4 i) Connect
          %p Click the 'Join' button to connect to the Case Roulette
          %p 
            %span.font-bold You are now visible as 'online' 
            to the other connected users
        .set-3c
          %h4 ii) Send a request & move to Skype
          %p 
            If a user click's the 
            %span.font-bold Send Request 
            button next to your name, a pop-up will appear on the other user's screen, showing the their status and Skype address.
          %p 
            %span.font-bold Click the Call button
            to call them on Skype and start a case, if you wish
        .set-3d
          %h4 iii) Give feedback
          %p 
            Candidates on the roulette 
            %span.font-bold aren't likely to be approved Case Partners of yours
            so as a security measure, if you're the interviewer ask them for their randomly generated 
            %span.font-bold 'Roulette Token'
          %p Enter the code into your roulette window, to be taken to a feedback form for them

    #application_arrownav_page_4.arrownav_page

      #modal_help_page_4

        .modal_help_header_icon
          %i.icon-edit
        .modal_help_header_title Feedback form
        .modal_help_header_sub ...give the "interviewee" feedback on their performance

        = image_tag "help/4.jpg"

        .set-4a
          %p 
            Carefully designed by
            %span.font-bold top-3-firm consultants with many years of interviewing experience
        .set-4b
          %h4 ii) Scoring Criteria
          %p The three main criteria
          %ul
            %li Business Analytics
            %li Interperonsal
            %li Structure
          %p ...and their sub-criteria, comprise everything interviewers look for, and on which candidates most often fail
          %p
            %b For the benefit of your Case Partners, take the time to carefully read the description for each sub-criteria
        .set-4c
          %h4 iii) Move the Sliders
          %p 
            Move the sliders to give your Case Partner a 
            %span.font-bold score between 1-10 
            for each sub-criteria - 
            %span.font-bold a score for each is required
          %p 1 is abismal, 10 is outstanding - anything below 5 should be considered a bad score
        .set-4d
          %h4 iv) Make Comments
          %p Enter your comments in the text boxes on the right for each criteria
          %p 
            Use the controls to structure your comments with 
            %span.font-bold bullet points
          %p 
            Be as 
            %span.font-bold specifc 
            and 
            %span.font-bold concise 
            as possible
        .set-4e
          %h4 i) Top 3 Recommendations
          %p Specify three areas they should prioritise in their preparation going forward

    #application_arrownav_page_5.arrownav_page

      #modal_help_page_5

        .modal_help_header_icon
          %i.icon-list-ul
        .modal_help_header_title Case index
        .modal_help_header_sub ...review your case feedback

        = image_tag "help/5.jpg"

        .set-5a
          %h4 i) A library of feedback to learn from
          %p All of your feedback from cases has been captured and is accessible here for you review at any time
          %p.font-bold Click on a case in the list to see the record
        .set-5b
          %h4 ii) Case Record
          %p Your scores, comments and top 3 recommendations
          %p Small radar charts illustrate your scores within each criteria.
          %p.font-bold Move your mouse over a point on the radar charts to see the sub-critera name, and value
        .set-5c
          %h4 iii) Radar Chart
          %p This chart shows your scores for all of the sub-criteria
          %ul
            %li
              %span#modal_help_pages_blue Blue 
              is Business Analytics
            %li
              %span#modal_help_pages_green Green 
              is Interpersonal
            %li
              %span#modal_help_pages_yellow Yellow 
              is Structure

          %p 
            Click on the 
            %span.font-bold 'combined' 
            button to see your average scores for the main criteria

    #application_arrownav_page_6.arrownav_page

      #modal_help_page_6

        .modal_help_header_icon
          %i.icon-bar-chart
        .modal_help_header_title Progress analysis
        .modal_help_header_sub ...so this is just a bit of fun; but maybe you'll find it useful

        = image_tag "help/6.jpg"

        .set-6b
          %h4 i) Progress Chart
          %p 
            Your averaged scores for the three main scoring criteria, 
            %span.font-bold over time
          %p Click on a point to be taken to the first case on that day
        .set-6c
          %h4 ii) Radar Chart
          %p Comparing scores from your first and last cases, and the overall average, look for criteria you are consistenly weak in
          %p 
            Click on the 
            %span.font-bold 'combined' 
            button to see your average scores for the main criteria
          %ul
            %li
              %span#modal_help_pages_blue Blue 
              is Business Analytics
            %li
              %span#modal_help_pages_green Green 
              is Interpersonal
            %li
              %span#modal_help_pages_yellow Yellow 
              is Structure

        .set-6d
          %h4 iii) Comment Aggregator
          %p Browse through comments on your performance across cases in each of the main criteria

  .modal-footer
    .pull-left
      #modal_help_checkbox_container

    %a.btn.pull-right{"data-dismiss" => "modal", href: "#"} Close

