#modal_help.modal.hide.fade

  %button.close{"data-dismiss" => "modal", type: "button"} ×

  .modal-body

    #application_arrownav_page_1.arrownav_page

      #modal_help_page_1


        .modal_help_title Welcome #{current_user.username}
        
        .modal_help_text
          casenexus is a platform to help you practise case interviews live

        .modal_help_image
          = image_tag "help/console.png"


    #application_arrownav_page_2.arrownav_page

      #modal_help_page_2

        .modal_help_title Find case partners
        
        .modal_help_text
          Find other people to practise with, who live near you or are online now.

        .modal_help_image
          = image_tag "help/map.png"


    #application_arrownav_page_3.arrownav_page

      #modal_help_page_3

        .modal_help_title Choose a case
        
        .modal_help_text Select from a range of carefully categorised cases from the world's top business schools

        .modal_help_image
          = image_tag "help/feedback.png"


    #application_arrownav_page_4.arrownav_page

      #modal_help_page_4


        .modal_help_title Collect feedback
        
        .modal_help_text Review your case feedback and track your progress over tiem
          
        .modal_help_image
          = image_tag "help/feedback.png"


    #application_arrownav_page_5.arrownav_page

      #modal_help_page_5


        .spacer100

        .modal_help_title That's it!
        
        .modal_help_text You've got everything you need to get started, we hope you find it useful!
          




  .modal-footer
    .pull-left
      #modal_help_page_num
        Part 1 of 5
    .pull-right
      %a#modal_help_button_prev.btn.btn-micro Previous
      %a#modal_help_button_skip.btn.btn-micro{"data-dismiss" => "modal", href: "#"} Skip tour
      %a#modal_help_button_next.btn.btn-micro Next

