#modal_help.modal.hide.fade

  %button.close{"data-dismiss" => "modal", type: "button"} ×

  .modal-body

    #application_arrownav_page_1.arrownav_page

      #modal_help_page_1


        .modal_help_title Welcome #{current_user.username}
        
        .modal_help_text Casenexus.com is a platform for live case interview practice. The first step to using the site is to visit the 'Find Partners' page and send partner requests to a few people you find.


        .modal_help_image
          = image_tag "help/image_1.png"


    #application_arrownav_page_2.arrownav_page

      #modal_help_page_2

        .modal_help_title Arrange case appointments
        
        .modal_help_text Once you are approved as a partner, use case appointments to book cases across time zones. So that your partner can prepare, booking an appointment emails them a case script, that you select from the case library.

        .modal_help_image
          = image_tag "help/image_2.png"


    #application_arrownav_page_3.arrownav_page

      #modal_help_page_3

        .modal_help_title Capture feedback
        
        .modal_help_text When you're ready to start a case, a console brings together the case script, a timer, and a performance feedback form, designed by a consultant from a top-tier firm with years of interviewing experience.

        .modal_help_image
          = image_tag "help/image_3.png"


    #application_arrownav_page_4.arrownav_page

      #modal_help_page_4

        .modal_help_title Review your feedback

        .modal_help_text Feedback you receive is collected in your profile, for you to review whenever you wish. Your scores are illustrated to help you identify your strengths and weaknesses.
          
        .modal_help_image
          = image_tag "help/image_4.png"


    #application_arrownav_page_5.arrownav_page

      #modal_help_page_5

        .spacer100

        .modal_help_title That's it, good luck.
        
        .modal_help_text.last_page
          The site is packed with features, but feel free to use only the ones you need.
          / “50 cases before you enter your first round” - better get going!

          




  .modal-footer
    .pull-left
      #modal_help_page_num
        Part 1 of 5
    .pull-right
      %a#modal_help_button_prev.btn.btn-micro Previous
      %a#modal_help_button_skip.btn.btn-micro{"data-dismiss" => "modal", href: "#"} Skip tour
      %a#modal_help_button_next.btn.btn-micro Next

