#modal_help.modal.hide.fade{"data-backdrop" => "false"}

  .modal-header
    %button.close{"data-dismiss" => "modal", type: "button"} ×

    #modal_help_arrownav
      %nav
        %ul
          %li
            %a{:href => "#1"} 
              / %span.modal_help_arrownav_title_number 1.
              Welcome
          %li
            %a{:href => "#2"}
              / %span.modal_help_arrownav_title_number 2. 
              How to use this site
          / %li
          /   %a{:href => "#3"}
          /     / %span.modal_help_arrownav_title_number 3. 
          /     Roulette
          / %li
          /   %a{:href => "#4"}
          /     / %span.modal_help_arrownav_title_number 4.
          /     Feedback form
          / %li
          /   %a{:href => "#5"}
          /     / %span.modal_help_arrownav_title_number 5. 
          /     Case index
          / %li
          /   %a{:href => "#6"}
          /     / %span.modal_help_arrownav_title_number 6. 
          /     Progress analysis

        %span.arrow


        
  .modal-body

    #application_arrownav_page_1.arrownav_page

      #modal_help_page_1

        .modal_help_header_icon
          %i.icon-pushpin
        .modal_help_header_title Welcome...
        .modal_help_header_sub Benefits of using this site
        
        .row
          .span10.offset3
            = image_tag "flat-ui/icons/Clipboard_2x.png"
          .span35.offset3
            Find other people to practise with, who live near you or are online now
        .spacer20
        .row
          .span10.offset3
            = image_tag "flat-ui/icons/Bulb_2x.png"
          .span35.offset3
            Arrange an appointment, taking timezone differences into account and select cases in advance that you would like your partner to prepare
        .spacer20
        .row
          .span10.offset3
            = image_tag "flat-ui/icons/Search_2x.png"
          .span35.offset3
            Select from a range of carefully categorised cases from the world's top business schools
        .spacer20
        .row
          .span10.offset3
            = image_tag "flat-ui/icons/Graph_2x.png"
          .span35.offset3
            Capture feedback from your performance, and review it as needed
        .spacer20
        .row
          .span10.offset3
            = image_tag "flat-ui/icons/Settings_2x.png"
          .span35.offset3
            Capture feedback from your performance, and review it as needed
        .spacer20
    #application_arrownav_page_2.arrownav_page

      #modal_help_page_2

        .modal_help_header_icon
          %i.icon-cog
        .modal_help_header_title How to use this site
        .modal_help_header_sub Step by step
        
        .row
          .span5.offset3.modal_help_page_instructions
            1
          .span30.offset3
            Find other people to practise with, who live near you or are online now
          .span10.offset3
            = image_tag "flat-ui/icons/Clipboard_2x.png"
        .spacer20
        .row
          .span5.offset3.modal_help_page_instructions
            2
          .span30.offset3
            Arrange an appointment, taking timezone differences into account and select cases in advance that you would like your partner to prepare
          .span10.offset3
            = image_tag "flat-ui/icons/Bulb_2x.png"
        .spacer20
        .row
          .span5.offset3.modal_help_page_instructions
            3
          .span30.offset3
            Select from a range of carefully categorised cases from the world's top business schools
          .span10.offset3
            = image_tag "flat-ui/icons/Search_2x.png"
        .spacer20


    / #application_arrownav_page_3.arrownav_page

    /   #modal_help_page_3

    /     .modal_help_header_icon
    /       %i.icon-pushpin
    /     .modal_help_header_title Map
    /     .modal_help_header_sub ...find other candidates to practise with


        
    / #application_arrownav_page_4.arrownav_page

    /   #modal_help_page_4

    /     .modal_help_header_icon
    /       %i.icon-edit
    /     .modal_help_header_title Feedback form
    /     .modal_help_header_sub ...give the "interviewee" feedback on their performance


    / #application_arrownav_page_5.arrownav_page

    /   #modal_help_page_5

    /     .modal_help_header_icon
    /       %i.icon-list-ul
    /     .modal_help_header_title Case index
    /     .modal_help_header_sub ...review your case feedback


    / #application_arrownav_page_6.arrownav_page

    /   #modal_help_page_6

    /     .modal_help_header_icon
    /       %i.icon-bar-chart
    /     .modal_help_header_title Progress analysis
    /     .modal_help_header_sub ...so this is just a bit of fun; but maybe you'll find it useful


  .modal-footer
    .pull-left
      #modal_help_checkbox_container

    %a#modal_help_button_next.btn.pull-right Next
    %a#modal_help_button_close.btn.pull-right{"data-dismiss" => "modal", href: "#"} Close

