- @events_by_date = current_user.events.group_by {|i| i.datetime.to_date}

- @date = params[:date] ? Date.parse(params[:date]) : Date.today


#events_calendar

  .profile_index_title
    Schedule


    #profile_index_calendar_actions.pull-right

      #profile_index_calendar_actions_new.btn.btn-colour.btn-round{"data-container"=>"body", "data-original-title"=>"New case appointment...", rel: "tooltip", "data-placement"=>"bottom", class: "application_tooltip"}
        %i.icon-plus
      
      = link_to calendar_ics_url, "data-container"=>"body", "data-original-title"=>"Sync with your calendar software/phone", rel: "tooltip", "data-placement"=>"bottom", class: "application_tooltip btn btn-colour btn-round" do
        %i.icon-refresh

    %span#events_calendar_month.btn.btn-micro.btn-colour
      = link_to date: @date.prev_month do
        %i.icon-arrow-left.icon-white
      
      %span#events_calendar_month_text
        = @date.strftime("%B %Y")

      = link_to date: @date.next_month do
        %i.icon-arrow-right.icon-white


    %span#events_calendar_month_text_count.btn.btn-colour
      - month_count = current_user.events.where(created_at: (@date.beginning_of_month)..(@date.end_of_month)).count
      = "(#{pluralize(month_count,"appt")})"




  


  #profile_index_panel_calendar_container
    = calendar @date do |date|
      .events_calendar_day_num
        = date.day
      .events_calendar_day_name
        = date.strftime('%a').upcase

      - if @events_by_date[date]

        - @events_by_date[date].each do |event|
          .events_calendar_day_event.application_tooltip{"data-id" => event.id,"data-original-title"=>"Case with " + event.partner.username + " @ " + event.datetime.strftime("%I:%M%p"), rel: "tooltip", "data-placement"=>"top",style: "left:" + (event.datetime.hour * 4).to_s + "px"}