#events_calendar
  #events_calendar_month
    = link_to "<", date: @date.prev_month
    = @date.strftime("%B %Y")
    = link_to ">", date: @date.next_month
  = calendar @date do |date|
    = date.day
    - if @events_by_date[date]
      %ul
        - @events_by_date[date].each do |event|
          %li= link_to event.partner.name, event
%span= link_to "New Appt.", new_event_path
%span= link_to "Subscribe", "webcal://localhost:3000/events/ics"
