- @events_by_date = current_user.events.group_by {|i| i.datetime.to_date}

- @date = params[:date] ? Date.parse(params[:date]) : Date.today


#events_calendar
  .row
    .span
      #events_calendar_new_button.btn.btn-primary.btn-embossed
        %i.icon-plus
        New
    .span.offset1
      = link_to calendar_ics_url do
        .btn.btn-primary.btn-embossed
          %i.icon-external-link
          Sync with my calendar

    .pull-right
      .span

        #events_calendar_month
          = link_to date: @date.prev_month do
            .btn.btn-primary.btn-embossed.btn-small
              %i.icon-chevron-left.icon-white
          
          %span#events_calendar_month_text
            = @date.strftime("%B %Y")
            %span#events_calendar_month_text_count
              - month_count = current_user.events.where(created_at: (@date.beginning_of_month)..(@date.end_of_month)).count
              = "(#{pluralize(month_count,"event")})"


          = link_to date: @date.next_month do
            .btn.btn-primary.btn-embossed.btn-small
              %i.icon-chevron-right.icon-white
  .spacer5
  .row
    = calendar @date do |date|
      = date.day
      - if @events_by_date[date]


        .span.pull-right.events_calendar_event_count
          = "x" + @events_by_date[date].count.to_s


        .events_calendar_event_container
          - @events_by_date[date].each do |event|
            .events_calendar_event{"data-id" => event.id}
              .span4
                = event.datetime.strftime("%H:%M")
              .span20.events_calendar_event_username
                = event.partner.username
