- @events_by_date = current_user.events.includes(:partner).group_by {|i| i.datetime.to_date}

- @date = params[:date] ? Date.parse(params[:date]) : Date.today

- @next_appt = Event.next_appt_for(current_user)

- @next_appt_time_diff = Event.time_diff_to_next_appt_for(current_user)

#events_calendar

  .profile_index_title
    Schedule


    #profile_index_calendar_actions

      #profile_index_calendar_actions_new.btn.btn-round{"data-container"=>"body", "data-original-title"=>"New case appointment...", rel: "tooltip", "data-placement"=>"bottom", class: "application_tooltip"}
        +
      
      = link_to "webcal://localhost:3000/events/ics?id="+@current_user_id_masked.to_s, "data-container"=>"body", "data-original-title"=>"Sync with your calendar software/phone", rel: "tooltip", "data-placement"=>"bottom", class: "application_tooltip btn btn-colour btn-round" do
        %i.icon-refresh


  #profile_index_panel_calendar_container_container
    .profile_index_panel_calendar_shift_button{"data-direction"=>"up"}
      %i.icon-fontawesome-webfont-17

    #profile_index_panel_calendar_container
      = calendar @date, current_user do |date|
        .events_calendar_day_num
          = date.day
        .events_calendar_day_name
          - if date == Date.today
            = date.strftime('%A').upcase
          - else
            = date.strftime('%a').upcase

        - if @events_by_date[date]
          .events_calendar_day_events{class: ("more_than_two_events" if @events_by_date[date].count > 2)}
            - @events_by_date[date].each do |event|
              .events_calendar_day_event.application_tooltip{"data-id" => event.id,"data-original-title"=>"Case with " + event.partner.username + " @ " + event.datetime.strftime("%I:%M%p"), rel: "tooltip", "data-placement"=>"top","data-container"=>"body" }
                = event.partner.username


    #events_calendar_week_date

    #events_calendar_week_text_count

    #events_calendar_nextappt{"data-event_id" => @next_appt.id}

      #events_calendar_nextappt_nextappt
        Next
        %br
        case

      #events_calendar_nextappt_appt
        %span#events_calendar_nextappt_appt_user
          = avatar_for(@next_appt.partner,size: "small")
          = @next_appt.partner.username
        %br
        = "in " + @next_appt_time_diff[:diff]
        /= Time.now.strftime("%H:%M")
      #events_calendar_nextappt_start

        = render partial:'events/button_startcase', locals: { event: @next_appt }

    .profile_index_panel_calendar_shift_button{"data-direction"=>"down"}
      %i.icon-fontawesome-webfont-15



