#events_calendar
  .row
    .span

      #events_calendar_month
        = link_to date: @date.prev_month do
          .btn.btn-inverse.btn-small
            %i.icon-chevron-left.icon-white
        = @date.strftime("%B %Y")
        = link_to date: @date.next_month do
          .btn.btn-inverse.btn-small
            %i.icon-chevron-right.icon-white
    .pull-right
      .span
        #events_calendar_new_button.btn.btn-inverse
          New
      .span.offset1
        = link_to "webcal://localhost:3000/events/ics" do
          .btn.btn-inverse
            Sub
  .spacer5
  .row
    = calendar @date do |date|
      = date.day
      - if @events_by_date[date]
        - @events_by_date[date].each do |event|
          %span.events_calendar_event{"data-id" => event.id}
            / = event.partner.name
