= form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2
        = pluralize(@event.errors.count, "error")
        prohibited this event from being saved:
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg
  .field
    Date & time
    %br/
    #event_datetimepicker.input-append.date
      = f.text_field :datetime, "data-format" => "dd/MM/yyyy hh:mm:ss"
      %span.add-on
        %i{"data-date-icon" => "icon-calendar", "data-time-icon" => "icon-time"}
  .field
    Book for your interview
    %br/
    = f.select :book_id_user, options_from_collection_for_select(@books, "id", "title", @event.book_id_user)
  .field
    Book for their interview
    %br/
    = f.select :book_id_partner, options_from_collection_for_select(@books, "id", "title", @event.book_id_partner)
  .actions
    = f.submit