= form_for @event, remote: true do |f|

  %button.close{"data-dismiss" => "modal", type: "button"} ×

  .modal-body

    #events_modal_title
      #events_modal_title_icon
        %i.icon-calendar
      %br
      VIEW/EDIT CASE APPOINTMENT

    #flash_notifications
      = render 'shared/error_messages', object: @event


    .events_modal_block

      / .events_modal_block_number
      /   %i.icon-man-people-streamline-user
      .spacer5
      .events_modal_block_title
        Partner

      #events_edit_friend_selected_container
        #events_modal_friend_selected
          .span#events_edit_partner_avatar
            = avatar_for(@event.partner, size:"small")
          .span.offset1#events_edit_partner_name
            = @event.partner.username
            = f.hidden_field :partner_id, value: @event.partner.id.to_s, id: "#events_modal_friend_select"

        #events_edit_friend_timezone
          = render "events/user_timezone", user_id: @event.partner.id, display_which: "timezone"


    .events_modal_block_spacer

    .events_modal_block

      / .events_modal_block_number
      /   %i.icon-fontawesome-webfont-3
      .spacer5
      .events_modal_block_title
        Date and time



      #events_modal_datetime_picker.input-append.date
        = f.text_field :datetime, id: "events_modal_datetime_input", "readonly" => "readonly", "data-start_date"=> Time.now.in_time_zone(current_user.time_zone).strftime("%Y-%m-%d %H:%M"), value: @event.datetime.strftime('%d %b %Y @ %H:%M')
        
        %span.add-on
          %i.icon-calendar




      #events_modal_datetime_friend
        = render "events/user_timezone", user_id: @event.partner.id, date_and_time: @event.datetime, display_which: "timeforfriend"




    .events_modal_block




      .events_modal_book_viewer_title
        Case they will prepare for you
      #events_modal_book_viewer_partnertoprepare_container
    

        %select#events_modal_book_select.chzn-select.span30{"data-placeholder" => "Choose a case", name: "event[book_id_partnertoprepare]"}
          %option{value:""} Which case should they prepare for you?
          / = options_from_collection_for_select(Book.all, "id", "title")
          - @books.each do |books_select_item|
            %option{value: books_select_item.id, "selected" => ("selected" if (books_select_item.id == @book_partnertoprepare.id) unless @book_partnertoprepare.blank?) }
              = "DONE " if Case.user_has_done_case(current_user,books_select_item.id)
              = "GIVEN " if Case.user_has_given_case(current_user,books_select_item.id)
              = books_select_item.author.split(' ')[0] + " - " + books_select_item.title



        #events_modal_book_viewer_partnertoprepare
          - if @book_partnertoprepare.blank?
            #events_modal_book_viewer_partnertoprepare_empty 
              Select a case...
          -else
            = render partial: 'books/show_small', locals: { book_id: @book_partnertoprepare.id }





    .events_modal_block_spacer
    .events_modal_block


    
      .events_modal_book_viewer_title
        Case you will prepare for them
      #events_modal_book_viewer_usertoprepare_container
        #events_modal_book_viewer_usertoprepare

          - if @book_usertoprepare.blank?
            #events_modal_book_viewer_usertoprepare_empty 
              You will be notified when your partner chooses a case for you to prepare
          -else
            = render partial: 'books/show_small', locals: { book_id: @book_usertoprepare.id }
            %input#event_book_id_usertoprepare{ type:"hidden", name: "event[book_id_usertoprepare]", value: @book_usertoprepare.id }





  .modal-footer
    #modal_event_footer_actions
      = link_to("Cancel", event_path(@event), remote:true, method: :delete, class: "btn btn-micro application_tooltip",  "data-original-title"=>"Cancel this event", rel: "tooltip", "data-placement"=>"top", confirm: "Are you sure you want to cancel this appointment? This cannot be undone.")
  
      - unless @event.partner.skype.blank?
        %a.map_index_users_item_button_skype.btn.btn-skype.btn-round.btn-round-small.application_tooltip{"data-container"=>"body", "data-original-title"=>"Call on Skype...", rel: "tooltip", "data-placement"=>"bottom", href: "skype:#{@event.partner.skype}?call"}
          %i.icon-skype

      = render partial: 'events/button_startcase', locals: {event:@event}

    %a.btn.btn-micro{"data-dismiss" => "modal", href: "#"} Close

    .application_submit_button_with_spinner.btn.btn-micro{tabindex: "102"}
      %i.icon-check-5
      Edit appointment


.application_spinner_container
  .application_spinner