= form_for @event, remote: true do |f|
  %button.close{"data-dismiss" => "modal", type: "button"} ×

  .modal-body  

    #events_modal_title
      #events_modal_title_icon
        %i.icon-calendar
      %br
      NEW CASE APPOINTMENT...

    #flash_notifications
      = render 'shared/error_messages', object: @event


    .events_modal_block

      / .events_modal_block_number
      /   1
      
      .events_modal_block_title
        Select partner

      - if @friend.blank?
        %select#events_modal_friend_select.chzn-select{"data-placeholder" => "Choose a friend", name:"event[partner_id]"}
          %option{value:""} Choose a friend
          = options_from_collection_for_select(current_user.accepted_friends, "id", "username")


        #events_modal_friend_timezone

      - else
        #events_edit_friend_selected_container
          #events_modal_friend_selected
            .span#events_edit_partner_avatar
              = avatar_for(@friend, size:"small")
            .span.offset1#events_edit_partner_name
              = @friend.username
              = f.hidden_field :partner_id, value: @friend.id.to_s, id: "#events_modal_friend_select"


          #events_edit_friend_timezone
            = render "events/user_timezone", user_id: @friend.id, display_which: "timezone"





    .events_modal_block_spacer






    .events_modal_block


      / .events_modal_block_number
      /   2

      .events_modal_block_title
        Select a date and time


      #events_modal_datetime_picker.input-append.date
        = f.text_field :datetime, id: "events_modal_datetime_input", placeholder: "", class: "", "readonly" => "readonly", "data-start_date"=> Time.now.strftime("%Y-%m-%d @ %H:%M")
        %span.add-on
          %i.icon-calendar





      #events_modal_datetime_friend





    .events_modal_block



      .events_modal_book_viewer_title
        Select a case for them to prepare for you

      #events_modal_book_viewer_partnertoprepare_container

        %select#events_modal_book_select.chzn-select{"data-placeholder" => "Choose a case", name: "event[book_id_partnertoprepare]"}
          %option{value:""} Which case should they prepare for you?
          / = options_from_collection_for_select(Book.all, "id", "title")
          - @books.each do |books_select_item|
            %option{value: books_select_item.id, "selected" => ("selected" if (books_select_item.id == @book_partnertoprepare.id) unless @book_partnertoprepare.blank?) }
              = "DONE " if Case.user_has_done_case(current_user,books_select_item.id)
              = "GIVEN " if Case.user_has_given_case(current_user,books_select_item.id)
              = books_select_item.author.split(' ')[0] + " - " + books_select_item.title


        #events_modal_book_viewer_partnertoprepare
          - if @book_partnertoprepare.blank?
            #events_modal_book_viewer_partnertoprepare_empty 
              Select a case...
          -else
            = render partial: 'books/show_small', locals: { book_id: @book_partnertoprepare.id }


    .events_modal_block_spacer
    .events_modal_block



      .events_modal_book_viewer_title
        Case you will prepare for them
      #events_modal_book_viewer_usertoprepare_container
        #events_modal_book_viewer_usertoprepare

          #events_modal_book_viewer_usertoprepare_empty 
            You will be notified when your partner chooses a case for you to prepare






  .modal-footer
    %a.btn.btn-micro{"data-dismiss" => "modal", href: "#"} Close
    .application_submit_button_with_spinner.btn.btn-micro{tabindex: "102"}
      %i.icon-arrow-right
      Book Appointment



.application_spinner_container
  .application_spinner
    