- display_which = params[:display_which] if !display_which

/ - @datetime = date_and_time if date_and_time?
- @user = User.find(user_id) if !@user


- if display_which == "timezone"
  /UPPER

  / .span
  /   %strong
  /     #{@user.username}'s Timezone:
  / .span.offset1
  .application_bootstrap_alert_blue
    = timezone_difference(current_user, @user)
    %br
    (#{@user.time_zone})



- elsif display_which == "timeforfriend"

  - @datetime = date_and_time if !@datetime

  /LOWER

  / .span
  /   %strong
  /     For #{@user.username}:
  / .span.offset1
  .application_bootstrap_alert_blue
    %strong For #{@user.username}
    %br
    = @datetime.in_time_zone(@user.time_zone).strftime("%d %B %Y - %H:%M")