= form_for @event do |f|
  .modal-header
    %button.close{"data-dismiss" => "modal", type: "button"} ×

    %h3 New Event

  .modal-body  
    - if @event.errors.any?
      #error_explanation
        %h2
          = pluralize(@event.errors.count, "error")
          prohibited this event from being saved:
        %ul
          - @event.errors.full_messages.each do |msg|
            %li= msg
    %div

      .row
        .span13
          Choose a Friend
        .span20
          %select#events_new_friend_select.chzn-select.span20{"data-placeholder" => "Choose a friend", name:"event[partner_id]"}
            %option
              = options_from_collection_for_select(@friends, "id", "name")
        .span18.offset1
          #events_new_friend_timezone
      .row
        .span
          .panel.darker.kill

            .row
              .span
                Date & time
            .row
              .span26
                #events_new_datetime_picker.input-append.date
                  = f.text_field :datetime, id: "events_new_datetime_input"
                  %span.add-on
                    %i.icon-calendar
              .span26
                #events_new_datetime_friend


      .row
        Which case would you like your friend to prepare?
      .row
        .offset13
          %select.chzn-select.span20{"data-placeholder" => "Choose a case", name:"event[book_id_partner]"}
            %option
              = options_from_collection_for_select(@books, "id", "title")


  .modal-footer
    %a.btn{"data-dismiss" => "modal", href: "#"} Close
    = f.submit "Book Appointment", class: "btn btn-inverse"

    