= form_for @event do |f|
  .modal-header
    %button.close{"data-dismiss" => "modal", type: "button"} ×

    %h3 New Event

  .modal-body  
    - if @event.errors.any?
      #error_explanation
        %h2
          = pluralize(@event.errors.count, "error")
          prohibited this event from being saved:
        %ul
          - @event.errors.full_messages.each do |msg|
            %li= msg
    %div

      .row
        .span6
          Friend
        .span20
          %select#events_new_friend_select.chzn-select.span20{"data-placeholder" => "Choose a friend", name:"event[partner_id]"}
            %option
              = options_from_collection_for_select(@friends, "id", "first_name")
        .span20
          #events_new_friend_timezone
      .row
        .span
          Date & time
        .span
        
        / = f.text_field :datetime
        / #events_datetimepicker.input-append.date
        /   %input{:type => "text"}/
        /   %span.add-on
        /     %i{"data-date-icon" => "icon-calendar", "data-time-icon" => "icon-time"}

        #events_datetimepicker.input-append.date
          %input{:readonly => "", :size => "16", :type => "text", :value => ""}/
          %span.add-on
            %i.icon-calendar

      .field


      .field
        Which case would you like your friend to prepare?
        %br/
        %select.chzn-select.span20{"data-placeholder" => "Choose a case", name:"event[book_id_partner]"}
          %option
            = options_from_collection_for_select(@books, "id", "title")


  .modal-footer
    %a.btn{"data-dismiss" => "modal", href: "#"} Close
    = f.submit "Book Appointment", class: "btn btn-inverse"

    