= form_for @event do |f|
  .modal-header
    %button.close{"data-dismiss" => "modal", type: "button"} ×

    %h3 New Event

  .modal-body  
    - if @event.errors.any?
      #error_explanation
        %h2
          = pluralize(@event.errors.count, "error")
          prohibited this event from being saved:
        %ul
          - @event.errors.full_messages.each do |msg|
            %li= msg
    %div
      .field
        Date & time
        %br/
        = f.text_field :datetime, 'data-date-format' => "dd/mm/yyyy", id:"events_datepicker"
      .field
        .row
          .span20
            #events_new_input_hour
              - (1..12).each do |i|
                .btn.btn-inverse
                  = i
          .span20
            #events_new_input_time
              .btn.btn-inverse
                15
              .btn.btn-inverse
                30
              .btn.btn-inverse
                45
              .btn.btn-inverse
                00
          .span5.offset2
            #events_new_input_ampm
              .btn.btn-inverse
                AM
              .btn.btn-inverse
                PM


      .field
        Friend
        %br/
        %select.chzn-select.span20{"data-placeholder" => "Choose a case", name:"event[book_id_user]"}
          %option
            = options_from_collection_for_select(@books, "id", "title", @event.book_id_user)
      .field
        Which case would you like your friend to prepare?
        %br/
        %select.chzn-select.span20{"data-placeholder" => "Choose a case", name:"event[book_id_partner]"}
          %option
            = options_from_collection_for_select(@books, "id", "title", @event.book_id_partner)


  .modal-footer
    %a.btn{"data-dismiss" => "modal", href: "#"} Close
    = f.submit "Book Appointment", class: "btn btn-inverse"

    