.panel.gradient

  .row
    .span86

      %h3 Invite a new friend

      = simple_form_for @invitation, html: { class: 'form-horizontal offset20' } do |f|

        .row
          .span5
            Name:
          .span40
            = f.text_field :name
        .spacer20
        .row
          .span5
            Email:
          .span40
            = f.text_field :email

        .form-actions
          = f.submit "Invite", class: 'btn btn-primary btn-large'
          = link_to "Cancel", invitations_path, class: 'btn btn-large'

          
.panel.gradient

  .row
    .span86
      - if current_user.invitations.count > 0
        - current_user.invitations.each do |invitation|
          - if invitation.invited
            = "#{invitation.email} accepted your invitation and created his profile: "
            = link_to(invitation.invited, member_path(invitation.invited))
          - else
            = "#{invitation.email} invited"
            = link_to("Cancel Invitation", invitation_path(invitation), method: :delete, confirm: "Are you sure?")
      - else
        %h3 There are not pending/accepted invitations
      %br
      - if current_user.invitations.count < Invitation::INVITATION_LIMIT
        = link_to("Invite a friend", new_invitation_path)