
.modal-header
  %button.close{"data-dismiss" => "modal", type: "button"} ×

  %h3 Invite a friend

.modal-body

  .row
    .span
      - if current_user.invitations.count < Invitation::INVITATION_LIMIT || current_user.id == 1

        = simple_form_for @invitation, html: { id: "account_edit_invitations_form" } do |f|
          .row
            .span32
              %p Invite Friends (#{current_user.invitations.count}/5 invitations Used)
              = hidden_field_tag :back_url, invitations_path
            .span19
              = f.text_field :name, class: 'span18 account_field', placeholder: "Name"
            .span20
              .input-append
                = f.text_field :email, class: 'span25 account_field', placeholder: "Email"
                = f.submit "Invite", class: 'btn btn-primary '
          .row
            Your friend must have a university email address, from one of our listed universities:
            = render "static_pages/universities_select"
      - else
        %p You have no more invitations

  .panel.dark.font-small.kill_bottom.kill_left.kill_right
    .row
      - if @invitations.count > 0
        %table.table.table-striped
          %tbody
            %tr
              %th
                Invitation Status
              %th
                Action
            - @invitations.each do |invitation|
              %tr
                - if invitation.invited
                  %td
                    = "#{invitation.email} accepted your invitation and created his profile: "
                  %td
                    = link_to(invitation.name + "'s profile", member_path(invitation.invited))
                - else
                  %td
                    = "#{invitation.email} was invited"
                  %td
                    = link_to("Cancel Invitation", invitation_path({id: invitation.id, back_url: invitations_path}), method: :delete, confirm: "Are you sure?")
      - else
        %p You have no pending/accepted invitations



.modal-footer
  %a.btn{"data-dismiss" => "modal", href: "#"} Close


