= form_tag books_path, method: 'get', id: "books_index_books_form" do
  .row
    %span
      = text_field_tag :search, params[:search], placeholder: "Search the case library...", id: "books_index_books_form_searchfield", class: 'search-query'
    
    .pull-right
      .span.offset1#books_index_books_form_label
        Per Page
        %i.icon-caret-right
      .span.offset1
        .btn-group
          = pageable_books("10")
          = pageable_books("20")
          = pageable_books("50") 
      .span.offset1#books_index_books_form_label
        Filter
        %i.icon-caret-right
      / Type Buttons
      .span.offset1
        .btn-group
          = filterable_books('all', 'All')
          = filterable_books('guide', 'Guides')
          = filterable_books('link', 'Web')
          = filterable_books('case', 'Cases')

      .span.offset1#books_index_books_form_label
        Sort by
        %i.icon-caret-right

      .span.offset1#books_index_books_form_sort.application_menu_sort
        .btn-group
          %a.btn.btn-primary.btn-embossed.dropdown-toggle{"data-toggle" => "dropdown"}
            - if params[:sort] == "average_rating"
              Rating
            - elsif params[:sort] == "title"
              Title
            - elsif params[:sort] == "author"
              Source
            - elsif params[:sort] == "difficulty"
              Difficulty
            - elsif params[:sort] == "chart_num"
              Chart Number
            - else
              Title
            %span.caret
          %ul.dropdown-menu
            %li
              = sortable "average_rating", "By Rating"
            %li
              = sortable "title", "By Title"
            %li
              = sortable "author", "By Author"
            %li
              = sortable "difficulty", "By Difficulty"
            %li
              = sortable "chart_num", "By Chart Number"
  .spacer10
  .row
    .span40
      All Types
      %select{name: "tag_type_id[]", "data-placeholder" => "Choose a Case", "multiple"=>"multiple" }
        %option{value: ""} All
        - Tag.where(category_id:4).each do |tags_type_item|
          %option{value: tags_type_item.id }
            = tags_type_item.name
    .span40
      All Industries
      %select{name: "tag_industry_id[]", "data-placeholder" => "Choose a Case", "multiple"=>"multiple" }
        %option{value: ""} All
        - Tag.where(category_id:5).each do |tags_industry_item|
          %option{value: tags_industry_item.id }
            = tags_industry_item.name
    %input.btn.btn-primary.span15{type:"submit", value: "Filter"}