= form_tag "#", method: 'get', remote: true, id: "books_index_form" do

  #books_index_form_search_container
    = text_field_tag :search, params[:search], placeholder: "Search the case library...", id: "books_index_form_search_input"
    %button.btn.btn-red.btn-small{type: "submit"}
      %span.fui-search



  #books_index_form_filters_container

    .spacer10

    .books_index_form_filters_title
      Filter

    #application_filtergroup_choicenav_btype.application_filtergroup_choicenav{"data-filter_name"=> "btype"}
      %nav
        %ul
          %li{:href => "#1", "data-btype"=>"all"} 
            All
            .application_filtergroup_choicenav_blip
          %li{:href => "#2", "data-btype"=>"guides"} 
            Guides
            .application_filtergroup_choicenav_blip
          %li{:href => "#3", "data-btype"=>"web"} 
            Web
            .application_filtergroup_choicenav_blip
          %li{:href => "#4", "data-btype"=>"cases"} 
            Cases
            .application_filtergroup_choicenav_blip

        %span.arrow
        %span.application_filtergroup_choicenav_backbone_line
        %span.application_filtergroup_choicenav_follower_line


    = text_field_tag :books_filter_btype



    .spacer50

    .books_index_form_filters_title
      Sort by

    #application_filtergroup_choicenav_sort.application_filtergroup_choicenav{"data-filter_name"=> "sort"}
      %nav
        %ul
          %li{:href => "#1", "data-btype"=>"rating"} 
            Rating
            .application_filtergroup_choicenav_blip
          %li{:href => "#2", "data-btype"=>"title"} 
            Title
            .application_filtergroup_choicenav_blip
          %li{:href => "#3", "data-btype"=>"author"} 
            Author
            .application_filtergroup_choicenav_blip
          %li{:href => "#4", "data-btype"=>"difficulty"} 
            Difficulty
            .application_filtergroup_choicenav_blip

        %span.arrow
        %span.application_filtergroup_choicenav_backbone_line
        %span.application_filtergroup_choicenav_follower_line

    = text_field_tag :books_filter_sort

    .spacer20

    #books_index_form_filters_sort_order_button.btn.btn-small
      Descending
      %i.icon-arrow-down


    .spacer20

    .books_index_form_filters_title
      Type


    #books_index_form_filters_tag_selector
      .books_index_form_fitlers_tag_selector_item.books_index_form_fitlers_tag_selector_item_active{value: ""} All
      - Tag.where(category_id:4).each do |tags_type_item|
        .books_index_form_fitlers_tag_selector_item{"data-tag_id"=> tags_type_item.id }
          = tags_type_item.name


    = text_field_tag :books_filter_tag, value: 0


    .spacer10



