.books_index_books_item{class: ("show" if params[:action] == "show")}


  .books_index_books_item_panel_left

    - if books_item.thumb.blank?
      = image_tag 'universities/' + books_item.university.image.to_s unless !books_item.university
    - else
      = image_tag 'library/thumbs/' + books_item.thumb.to_s

    .spacer20

    %span.books_rating_read{"data-rating" => books_item.average_rating.round(1)}
    .books_rating_read_text
      = books_item.average_rating.round(1).to_s + "/5"


    .spacer20
    
    - unless params[:action] == "show"
      = link_to book_path(books_item), "data-id"=>books_item.id, class: "btn btn-colour btn-micro books_index_books_item_comments_button application_tooltip","data-container"=>"body", "data-original-title"=>"Review and rate...", rel: "tooltip", "data-placement"=>"bottom" do
        Review
        %strong (#{books_item.comments.count})


    - if books_item.btype == "case"

      .btn.btn-round.btn-round-small.books_index_books_item_event_button.application_tooltip{"data-book_id" => books_item.id.to_s, "data-container"=>"body", "data-original-title"=>"Schedule partner to give you this case...", rel: "tooltip", "data-placement"=>"bottom"}
        %i.icon-calendar 

    - unless books_item.btype == "web"

      - if books_item.url[0,7] == "http://"
        = link_to raw("<i class=icon-arrow-right-1></i>"), books_item.url, target:"_new",class: "btn btn-colour btn-round btn-round-small application_tooltip","data-container"=>"body", "data-original-title"=>"Show me where I can get it...", rel: "tooltip", "data-placement"=>"bottom"
      - else
        - if books_item.btype == "guide"
          = link_to raw("<i class=icon-arrow-right-1></i>"), "/console?view=single-left&book_id=" + books_item.id.to_s, class: "btn btn-colour btn-round btn-round-small application_tooltip","data-container"=>"body", "data-original-title"=>"Show it...", rel: "tooltip", "data-placement"=>"bottom"
        - else
          = link_to raw("START"), "/console?view=single-left&book_id=" + books_item.id.to_s, class: "btn btn-colour btn-round btn-round-small btn-start application_tooltip","data-container"=>"body", "data-original-title"=>"Start case as interviewer now...", rel: "tooltip", "data-placement"=>"bottom"




  .books_index_books_item_panel_right 

    - unless books_item.difficulty.blank?
      = books_difficulty_stamp(books_item)

    - unless books_item.title.blank?
      %a.books_index_books_item_title{href:"/console?view=single-left&book_id=" + books_item.id.to_s}
        = books_item.title


    - if books_item.btype == "case"
      .books_index_books_item_chartnum.pull-right
        = books_item.chart_num_in_words

    .spacer20

    .books_index_books_item_desc
      - if params[:action] == "show"
        = books_item.desc
      - else
        = books_item.desc_trunc

    .spacer10

    .application_tags_container
      - books_item.tags.each do |t|
        .books_index_list_fitlers_tag_item.btn.btn-tag.btn-micro{'data-tag_id' => t.id}
          = t.name + ' '











