.row
  .books_index_books_item.panel.dark.kill_top.kill_left.kill_right
    .row

      .span12
        .books_index_books_item_image.panel.kill_all
          - if books_item.thumb.blank?
            = image_tag 'universities/' + books_item.university.image.to_s unless !books_item.university
          - else
            = image_tag 'library/thumbs/' + books_item.thumb.to_s


      .span.offset1


        .row

          .span.books_index_books_item_body

            .row.books_index_books_item_titles
              / .span.books_index_books_item_source_title
              /   - if books_item.title.blank?
              /     = books_item.source_title
              /   - else
              /     = "#{books_item.source_title}:&nbsp;".html_safe

              - unless books_item.difficulty.blank?
                = books_difficulty_stamp(books_item)

              - unless books_item.title.blank?
                %span.books_index_books_item_title
                  = books_item.title

            .spacer5

            .row
              / .span.books_index_books_item_author
              /   = books_item.author
              / .span.offset1.books_index_books_item_university_image
              /   - unless books_item.university.blank?
              /     .span
              /       = image_tag "universities/" + books_item.university.image
              /     .span.offset1
              /       = books_item.university.name

              .books_index_books_item_info_container
                = books_item.chart_num_in_words

            .spacer10

            / .row.books_index_books_item_description
            /   .span
            /     = books_item.desc_trunc
            / .spacer10
            .row.application_tags_container
              = raw books_item.tags.map { |t| link_to t.name, book_tag_path(t.name), class: "btn btn-default btn-mini" }.join('')


      .span.offset1.pull-right
        .row
          .books_rating_read_container
            %span.books_rating_read{"data-rating" => books_item.average_rating.round(1)}
            %div
              = books_item.average_rating.round(1).to_s + "/5"

        .spacer10
        .row
          .books_index_books_item_actions_container
            - if books_item.btype == "case"

              .books_index_books_item_schedule_button.btn.btn-primary{"data-book_id" => books_item.id.to_s}
                %i.icon-calendar 

              = link_to raw("<i class=icon-arrow-right></i>"), "/console?book_id=" + books_item.id.to_s, class: "btn btn-primary"

              = link_to book_path(books_item), "data-id"=>books_item.id,class: "books_index_books_item_comments btn btn-primary" do
                Comment
                %strong (#{books_item.comments.count})

