- if @book.blank? then @book = Book.find(book_id) end

%input{ type:"hidden", name:"case[book_id]",value: @book.id }



= link_to book_path(@book), class: "btn btn-small btn-primary btn-embossed" do

  #cases_new_book_image.span4
    - if @book.thumb.blank?
      = image_tag 'universities/' + @book.university.image.to_s unless !@book.university
    - else
      = image_tag 'library/thumbs/' + @book.thumb.to_s


  .span27#cases_new_book_body
    .row
      / - if @book.title.blank?
      /   = @book.source_title
      / - else
      /   = "#{@book.source_title}:&nbsp;".html_safe
      - unless @book.title.blank?
        = @book.title

    / - unless @book.difficulty.blank?
    /   .row
    /     = book_difficulty_in_words(@book.difficulty)

    .row
      = @book.author

    .row#cases_new_book_desc
      = @book.desc_trunc_very
.spacer15