- if @book.blank? then @book = Book.find(book_id) end


.row
  .books_index_books_item.panel.darker.kill_bottom
    .row




      .span10
        #cases_new_book_image.panel.kill_all
          - if @book.thumb.blank?
            = image_tag 'universities/' + @book.university.image.to_s unless !@book.university
          - else
            = image_tag 'library/thumbs/' + @book.thumb.to_s






      .span.offset1


        .row

          .span#cases_new_book_body
            .row.books_index_books_item_titles
              .span.books_index_books_item_source_title
                - if @book.title.blank?
                  = @book.source_title
                - else
                  = "#{@book.source_title}:&nbsp;".html_safe
              - unless @book.title.blank?
                .span.books_index_books_item_title
                  = @book.title

            .spacer5

            .row.books_index_books_item_description
              .span
                = @book.desc_trunc



      .span.offset1.pull-right
        .books_rating_read_container.panel.dark.kill_all
          .books_rating_read{"data-rating" => @book.average_rating.round(1)}
          .books_rating_read_text
            User rating:
            = pluralize(@book.average_rating.round(1),"Star")
        .books_index_books_item_info_container.panel.gradient.kill_all
          - unless @book.difficulty.blank?
            .books_index_books_item_difficulty
              = book_difficulty_in_words(@book.difficulty)
        .books_index_books_item_actions_container.panel.dark.kill_all
          
          .row
            .books_index_books_item_comments{"data-id"=>@book.id}
              = link_to book_path(@book), class: "btn btn-small btn-inverse" do
                Rate & Comment
                %strong (#{@book.comments.count})
