/ - if @book.blank? && book_id then @book = Book.find(book_id) end

- if defined?(book_id) then @book = Book.find(book_id) end

.books_show_small
  - unless @book.difficulty.blank?
    = books_small_difficulty_stamp(@book)

  %input#case_book_id{ type:"hidden", name: "case[book_id]", value: @book.id }

  = link_to book_path(@book), target: "_blank", class: "btn btn-small" do

    .books_show_small_image
      - if @book.thumb.blank?
        = image_tag 'universities/' + @book.university.image.to_s unless !@book.university
      - else
        = image_tag 'library/thumbs/' + @book.thumb.to_s

    .books_show_small_body
      .books_show_small_title
        - unless @book.title.blank?
          = @book.title_trunc
      / .books_show_small_university
      /   = university_logo_for(@book.university,size:"small")
      /   = @book.university.name

      .books_show_small_desc
        = @book.desc_trunc_very


.spacer100