- provide(:title, 'Summary')
- provide(:sub_title, 'Overview of all your stuff')


.row
  .panel.darker.kill_left.span32
    .summary_block_title
      Events
    - @events.each do |summary_item_event|
      .row.summary_item
        .span2
          = avatar_for(summary_item_event.partner, 'icon')
        .span11.offset1.summary_item_title_date
          = summary_item_event.datetime.strftime("%a %d %b %Y %I:%M%p")
        .span.offset1
          = summary_item_event.partner.name
    = will_paginate @events, class: "application_pagination", inner_window: 1, outer_window: 0
  .panel.darker.kill_left.span33
    = render "events/calendar"

.row
  .panel.darker.kill_left.span32
    .summary_block_title
      Friends
    - @friends.each do |summary_item_friend|
      .row.summary_item
        .span2
          = avatar_for(summary_item_friend, 'icon')
        .span.offset1.font-small
          = summary_item_friend.name
  .panel.darker.kill_left.span33
    .summary_block_title
      Recent Cases
    - @cases.each do |summary_item_case|
      .row.summary_item
        .span2
          = avatar_for(summary_item_case.interviewer, 'icon')
        .span.offset1
          = summary_item_case.interviewer.name