- provide(:title, 'Summary')
- provide(:sub_title, 'Overview of all your stuff')


.row

  .span32

    .panel.darker.kill_left
      .row
        .summary_block_title
          Friends
      .row
        - @friends.each do |summary_item_friend|
          = link_to "map?user_id=" + summary_item_friend.id.to_s do
            .row.summary_item_friends
              .span2
                = image_tag "avatars/icon.png"
              .span.offset1.font-small
                = summary_item_friend.name
              .span.pull-right
                = link_to "notifications/1" do
                  .btn.btn-inverse.btn-mini.application_tooltip{"data-original-title"=>"Send " + summary_item_friend.first_name + " a message", rel: "tooltip", "data-placement"=>"bottom"}
                    %i.icon-envelope

                = link_to "/console?friend_id=" + summary_item_friend.id.to_s do
                  .btn.btn-inverse.btn-mini.application_tooltip{"data-original-title"=>"Start case with " + summary_item_friend.first_name, rel: "tooltip", "data-placement"=>"bottom"}
                    %i.icon-pencil

                - if !summary_item_friend.skype.blank?
                  = link_to "skype:#{summary_item_friend.skype}?call", class: "btn btn-inverse btn-small application_tooltip", "data-original-title"=>"Call " + summary_item_friend.first_name + " on Skype", rel: "tooltip", "data-placement"=>"bottom" do
                    = image_tag "icons/skype_button.png"


    .panel.darker.kill_left
      .summary_block_title
        Recent Cases
      - @cases.each do |summary_item_case|
        = link_to case_path(summary_item_case) do
          .row.summary_item_cases.btn.btn-inverse
            .span2
              = image_tag "avatars/icon.png"
            .span.offset1
              .row
                = summary_item_case.interviewer.name
              .row.summary_item_cases_subject
                = summary_item_case.subject_trunc
            .span.pull-right
              .panel.darker.kill_all.summary_item_cases_score
                = summary_item_case.totalscore
      = will_paginate @cases, class: "application_pagination", inner_window: 1, outer_window: 0


  .span39
    .row
      .panel.darker.kill_left.kill_bottom.span39
        .row
          = render "events/calendar"
        .spacer20
        .row
          %div
            .summary_block_title
              Events

            .row
              #summary_index_events_index
                - @events.each do |summary_item_event|
                  .row.summary_item_events{"data-id"=>summary_item_event.id.to_s}
                    .span2
                      = image_tag "avatars/icon.png"
                    .span9.offset1.summary_item_events_date
                      = summary_item_event.datetime.strftime("%a %d %b %I:%M%p")
                    .span.offset1
                      .row
                        = summary_item_event.partner.name
                      .row
                        = Book.find(summary_item_event.book_id_user).title unless summary_item_event.book_id_user.blank? 
                    .span.pull-right
                      .btn.btn-inverse.btn-mini
                        %i.icon-pencil


            = will_paginate @events, class: "application_pagination", inner_window: 1, outer_window: 0





.row

