#onlinepanel_user
  #onlinepanel_user_avatar
    = avatar_for(current_user,"medium")
  #onlinepanel_user_username
    = current_user.username
  #onlinepanel_user_cases_givn
    = current_user.case_count_givn
  #onlinepanel_user_cases_recd
    = current_user.case_count_recd

.onlinepanel_title
  Your friends
#onlinepanel_friends{ class: ("non_response" if nonresponse == 1) }
  - for online_friend_item in current_user.accepted_friends
    .onlinepanel_show

      - @online_user = User.find(online_friend_item.id)

      = render partial: 'onlinepanel/show'

.onlinepanel_title
  Feedback
.onlinepanel_title
  Notifications
.onlinepanel_title
  Settings
.onlinepanel_title
  Visitors
.onlinepanel_title
  Calendar
.onlinepanel_title
  Invite
.onlinepanel_title
  Signout