.span1
  .onlinepanel_show_status{class: (if @online_user.online_now? then "online_now" elsif @online_user.online_earlier? then "online_earlier" else "online_not" end)}

.span2.offset1.onlinepanel_show_avatar
  .fui-user.application_glyph
.span.offset1{class: ("notifications_glowable highlight" if Notification.recently_notified_by?(current_user, @online_user) == true) }
  = link_to @online_user.username_trunc, "/map?user_id=" + @online_user.id.to_s


- if @online_user_type == "friend"

  .onlinepanel_show_menu_container{"data-friend_id"=> @online_user.id}

    - if !@online_user.skype.blank?
      = link_to "skype:#{@online_user.skype}?call", class: "btn btn-primary btn-embossed btn-mini application_tooltip", "data-original-title"=>"Call " + @online_user.username + " on Skype", rel: "tooltip", "data-placement"=>"bottom" do
        = image_tag "icons/skype_button.png", class: "application_icon_skype"

    = link_to "/console?friend_id=" + @online_user.id.to_s do
      .btn.btn-primary.btn-embossed.btn-mini.application_tooltip{"data-original-title"=>"Start case with " + @online_user.username, rel: "tooltip", "data-placement"=>"bottom"}
        %i.icon-arrow-right

    .onlinepanel_show_menu_message.btn.btn-primary.btn-embossed.btn-mini.application_tooltip{"data-original-title"=>"Send " + @online_user.username + " a message", rel: "tooltip", "data-placement"=>"bottom", "data-friend_id" => @online_user.id}
      %i.icon-envelope

  .pull-right
    .onlinepanel_show_menu_open.btn.btn-primary.btn-embossed.btn-mini.application_tooltip{"data-original-title"=>"Show actions", rel: "tooltip", "data-placement"=>"bottom", "data-friend_id" => @online_user.id}
      %i.icon-ellipsis-horizontal

          
- else
  .pull-right
    .onlinepanel_show_menu_addfriend.btn.btn-primary.btn-embossed.btn-mini.application_tooltip{"data-original-title"=>"Add " + @online_user.username + " as a friend", rel: "tooltip", "data-placement"=>"bottom", "data-friend_id" => @online_user.id}
      %i.icon-plus