%li
  = link_to "/notifications/" + notification.id.to_s, {class: "header_menu_notifications_item"} do
    .header_menu_notifications_avatar
      = avatar_for(notification.sender, 'icon_inert')
    %div.header_menu_notifications_name
      = notification.sender.name
      %span.font-small.application_timestamp
        = time_ago_in_words(notification.created_at) + " ago"
    %div.font-small
      %span.header_menu_notifications_title= notification.title
      %span= notification.content_trunc