%li
  = link_to "/notifications?id=" + notification.id.to_s, {class: "header_menu_notifications_item"} do
    .header_menu_notifications_avatar
      = avatar_for(notification.sender, 'icon','')
    %div
      %div
        = notification.sender.name
        %span.font-small.application_timestamp
          = time_ago_in_words(notification.created_at) + " ago"
      %div.font-small
        = notification.content_trunc