%li
  = link_to ("/notifications?id=" + notification.id.to_s) do
    .span5
      = avatar_for(notification.sender)
    .span25
      .row
        .span10
          = notification.sender.name
        .span5
          = time_ago_in_words(notification.created_at) + " ago"
      .row
        .span5
          = notification.content