= link_to ("/notifications/" + notification.id.to_s) do

  %table
    %tr
      %td
        = avatar_for(notification.sender)
      %td
        %strong
          = notification.sender.name
        %div
          = time_ago_in_words(notification.created_at) + " ago"
        %div
          = notification.ntype