%li#fat-menu.dropdown

  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    %i.icon-user.icon-white.icon-large
    %span#header_menu_profile_name
      = current_user.name
    %span.caret
    %span#header_menu_profile_casecount
      = avatar_for(current_user, 'chevron')
      

  %ul.dropdown-menu
    %li= link_to raw("<i class=icon-book></i> Case Index"), cases_path
    %li= link_to raw("<i class=icon-search></i> Progress Analysis"), cases_path + '/analysis'
    %li.divider
    %li= link_to raw("<i class=icon-cogs></i> Settings"), edit_user_path(current_user)
    %li.divider
    %li= link_to raw("<i class=icon-bolt></i> Sign out"), signout_path, method: "delete"