- @login ||= User.new
#header_signin_form
  = simple_form_for(@login, url: session_path(@login)) do |f|
    .row
      .span20
        = f.text_field :email, class: 'span15', tabindex: "1", placeholder: "University email address", id: "header_signin_email"
      .span20
        .input-append
          = f.password_field :password, class: 'span15', tabindex: "2", placeholder: "Password", id: "header_signin_password"
          %button.btn.btn-inverse{:href => "#", :type => "submit", tabindex: "3", id: "static_home_signin"}
            %i.icon-arrow-right.icon-white
      .span6
        %a#header_signin_button_linkedin.btn.btn-inverse{ href: user_omniauth_authorize_path('linkedin'), tabindex: "4" }
          = image_tag 'icons/linkedin_button_signin.png'
    .row
      .span17#header_signin_forgottenpassword
        %small
          = link_to "Forgotten your password?", new_password_path('user'), tabindex: "4" 
      .span25#header_signin_rememberme
        .span9
          = f.label :remember_me, class: 'font-small'
        .span2#header_signin_rememberme_box
          = f.check_box :remember_me, { checked: true, tabindex: "5" }
