.posts_index_posts_item.kill_bottom
  .row
    .span2
      = image_tag 'avatars/icon.png'
    .span10.offset1
      = posts_item.user.name
  .row
    .span
      = posts_item.content
  .row
    = link_to post_path(posts_item), class: "btn btn-inverse btn-mini pull-right" do
      Comment
      %strong (#{posts_item.comments.count})