- provide(:title, 'Posts')
- provide(:sub_title, 'People discussing stuff')


.row
  - if @posts.count > 0
    - for posts_item in @posts
      = render partial: 'posts_item' , locals: { posts_item: posts_item }
  - else
    No posts found


.row

  = form_for @post do |f|

    #flash_notifications
      = render 'shared/error_messages', object: @post

    = f.text_area :content, placeholder: "Post..."

    = f.submit "Submit", class: "btn btn-inverse"