= form_for(@site_contact, url: site_contact_path, remote: true, class: 'form-horizontal') do |f|
  .modal-header
    %button.close{"data-dismiss" => "modal", type: "button"} ×

    %h3 Contact us

  .modal-body

    = render 'shared/error_messages', object: @site_contact

    %div
      = f.text_field :email, placeholder: "Your Email", tabindex: "101"
      %br
      = f.text_field :subject, placeholder: "Subject", tabindex: "102"
      %br
      = f.text_area :content, placeholder: "How can we help...", tabindex: "103", class: "modal_textarea"

  .modal-footer
    %a.btn.btn-colour.btn-micro{"data-dismiss" => "modal", href: "#"} Close
    .application_submit_button_with_spinner.btn.btn-colour.btn-micro{href: "#", type: "submit", tabindex: "104"}
      %i.icon-arrow-right.icon-white
      Send Message


.application_spinner_container
  .application_spinner