= form_for(@user, remote:true,url: account_path, method: :put, class: "") do |f|

  .modal-header
    %button.close{"data-dismiss" => "modal", type: "button"} ×

    Your settings

  .modal-body
    #flash_notifications

      = render 'shared/error_messages', object: @user




    #account_edit_panel_left

      %table
        %tr
          %td
            = f.label :username
          %td
            = f.text_field :username, class: "application_form_input_alternative"


        %tr
          %td

          %td
            %a.btn.btn-micro{href: "/account/edit_password"}
              %i.icon-pencil
              Edit my password


        %tr
          %td
            Degree Level

          %td
            = f.select :degree_level, options_for_select([['Undergraduate/Masters', 0], ['MBA', 1]]), {}, {class: "chzn-select-nosearch span26"}


        %tr
          %td
            Languages
          %td
            = f.collection_select :language_ids, Language.all, :id, :name, {selected: @user.language_ids}, {multiple: true, class: "chzn-select span26"}

        %tr
          %td
            = image_tag 'icons/skype_large.png'
            #account_edit_skype_link
              = link_to "Need to register?", "https://login.skype.com/account/signup-form",target: "_new"

          %td
            = f.text_field :skype, placeholder: "Skype username", class: "application_form_input_alternative"


        %tr
          %td
            = "# external cases"
          %td
            = f.text_field :cases_external, class: "application_form_input_alternative", id: "account_edit_casesexternal_field"

        %tr
          %td
          %td
            = link_to(raw("<i class=icon-share-alt></i> Remove my account"), delete_account_path, class: "btn btn-colour btn-micro")


    #account_edit_panel_right


      = f.hidden_field :lat, id: "account_completeedit_lat"
      = f.hidden_field :lng, id: "account_completeedit_lng"

      #account_edit_map_header
        Move the blue marker to your location

      #account_completeedit_map.edit.map


      / #account_completeedit_map_location
      /   .row
      /     .account_completeedit_map_location_title
      /       Country:

      /       = @user.country.name unless @user.country.blank?
      /     .account_completeedit_map_location_title
      /       City:

      /       = @user.city unless @user.city.blank?


      .spacer20
      %table
        %tr
          %td
            Time Zone
          %td
            = f.collection_select :time_zone, ActiveSupport::TimeZone.all, :name, :to_s, {selected: @user.time_zone}, { class: "span26" }

        %tr
          %td{align:"center"}
            = f.check_box :email_admin
          %td
            .account_edit_form_emailing_label
              Receive site news and consulting advice

        %tr
          %td{align:"center"}
            = f.check_box :email_users
          %td
            .account_edit_form_emailing_label
              Receive notifications via email



  .modal-footer
    %a.btn.btn-micro{"data-dismiss" => "modal", href: "#"} Close

    .application_submit_button_with_spinner.btn.btn-micro{tabindex: "102"}
      %i.icon-check-5
      Save Settings



.application_spinner_container
  .application_spinner