- provide(:title, 'Complete the sign-up process')
- provide(:sub_title, 'Follow the instructions and fill in the form')


- content_for :javascript_includes do
  = javascript_include_tag('users.js')

  :javascript
    var users_newedit_map_lat_start = '#{current_user.lat}';
    var users_newedit_map_lng_start = '#{current_user.lng}';

= render '/shared/title'

= form_for(@user, url: account_path) do |f|
  = hidden_field_tag :back_url, complete_profile_account_path

  .row
    = render '/shared/error_messages', object: @user

    .span46
      #users_new_step2.panel.darker.kill_right

        .row
          .spacer5
          .row
            .span10
              First Name
              .users_new_condition
                (required)
            .span30
              = f.text_field :first_name
          .row
            .span10
              Last Name
              .users_new_condition
                (required)
            .span30
              = f.text_field :last_name
              .row
                .font-small
                  Prefer to remain anonymous?
                  #random_name.btn.btn-small.btn-inverse
                    Generate Random Name
          .spacer10
          .row
            .span10
              = image_tag 'icons/skype_large.png'
              .users_new_condition
                (optional)
              #users_newedit_skype_link
                = link_to "Need to register?", "https://login.skype.com/account/signup-form"
            .span23
              = f.text_field :skype

          .row
            .span32.offset10
              .font-small
                %ul
                  %li
                    A skype username is required for case roulette,


      #users_new_step2.panel.darker.kill_right
        .font-small
          %ul
            %li
              We've taken a guess at where you are...
            %li
              Move the marker to somewhere you are happy others to see

        #users_newedit_map.new.map

        = f.hidden_field :lat, id: "users_newedit_lat"
        = f.hidden_field :lng, id: "users_newedit_lng"


    .span47
      #users_new_step3.panel.darker

        .row
          .font-small
            %ul
              %li Explain your recruitment situation to other candidates.
              %li Statuses are reviewed by an admin within 24hrs
              %li Minimum 50 characters

          #users_new_step3_samplestatus.panel.dark.kill_all.font-small

            e.g. "I am a recent Cambridge graduate, reading Natural Sciences. I am applying to the top three firms in London, and expect to have interviews in the next month. I'm looking to practise in person on weekday evenings after 7pm, or on Skype any evening after 9pm."

        .row
          = f.text_area :status, id: 'users_new_status', placeholder: "Describe your current situation"

        .spacer10
        .row.font-small.offset4
          .row
            .span26.offset2
              Subscribe to our consulting advice newsletter
            .span3
              = f.check_box :email_admin, checked: true
          .row
            .span26.offset2
              Receive notiffications via email
            .span3
              = f.check_box :email_users, checked: true

        .spacer15
        .row
          = f.submit "Complete Sign up", class: "btn btn-large btn-inverse", id: "users_new_button_submit"
    .clear
