- provide(:title, 'Complete the sign-up process')


- content_for :javascript_includes do
  :javascript
    var account_completeedit_currentuser_university_image = "#{current_user.university.image}";

#account_complete_panel
  
  #account_complete_panel_nav_arrow_left.application_tooltip{"data-container"=>"body", "data-original-title"=>"Previous page...", rel: "tooltip", "data-placement"=>"bottom"}
    %i.icon-fontawesome-webfont-31


  #account_complete_panel_nav_arrow_right.application_tooltip{"data-container"=>"body", "data-original-title"=>"Next page...", rel: "tooltip", "data-placement"=>"bottom"}
    %i.icon-fontawesome-webfont-2

  #application_arrownav_page_1.arrownav_page

    .modal_help_title Get started in 60 seconds...
    
    .modal_help_text.page_welcome

      %br
      %br
      %br
      %i "the candidates that typically get multiple job offers have practiced over 50 cases"
      %br
      = "- Victor Cheng, Caseinterview.com"

      %br
      %br
      The best way to prepare for case interviews is live practice.

      %br
      %br
      #modal_help_text.page_welcome_bold Casenexus.com helps you do this.

  #application_arrownav_page_2.arrownav_page

    .modal_help_title The basics
    
    .modal_help_text 
      You can practise cases in person, or via Skype, with other's you haven't met before. 
      
    .modal_help_text_col_left
      %ol
        %li
          Arrange to meet for 1-2 hours
        %li
          Take up to 1 hour to prepare a case for your partner
        %li
          Take it in turns to be the Interviewer, and the Interviewee
        %li
          Give feedback on eachother's performance

    .modal_help_image.pull-right
      = image_tag "complete/basics.png"

  #application_arrownav_page_3.arrownav_page

    .modal_help_title Casenexus.com helps you
    
    .modal_help_text.page_features

      %ul
        %li Find partners
        %li Book appointments
        %li Find cases
        %li Do cases
        %li Review feedback

  #application_arrownav_page_4.arrownav_page

    .modal_help_title Find partners...
    
    .modal_help_text 
      Select Partners by how close they are to you, their case experience to date, recent activity or languages they speak

    .modal_help_image
      = image_tag "complete/map.png"


  #application_arrownav_page_5.arrownav_page

    .modal_help_title We need some information about you...

    .modal_help_text 

    #account_complete_form_info_container
      = render 'complete_form_info'

  #application_arrownav_page_6.arrownav_page

    .modal_help_title Add your first partners...
    
    .modal_help_text.page_suggested
      Below are a selection of other users, near you with similar case experience

      #account_complete_form_suggested_button_sendtoall.btn.btn-colour.btn-green.pull-right
        Send requests to all

    = render 'complete_form_suggested'



  #application_arrownav_page_7.arrownav_page

    .modal_help_title Arrange case appointments
    
    .modal_help_text Once approved as a partner, use case appointments to book cases across time zones. Select a case from the library that you haven't done yet, and it will be emailed to them.

    #account_complete_form_timezone_container.modal_help_control_centered
      = render 'complete_form_timezone'


    .modal_help_image
      = image_tag "complete/appts.png"

  #application_arrownav_page_8.arrownav_page

    .modal_help_title The Library
    
    .modal_help_text The Library contains carefully selected cases from the the top business schools, links to introductory case guides and other online resources

    .modal_help_image
      = image_tag "complete/library.png"


  #application_arrownav_page_9.arrownav_page

    .modal_help_title When it's time for a case...
    
    .modal_help_text Click the 'START' button. When you are the 'Intereviewer' you will see the case script, a timer, and a feedback form to complete for your Partner. Enter your Skype username so your Partner can call you:

    .modal_help_control_centered

      #account_complete_form_skype_container.modal_help_control_centered
        = render 'complete_form_skype'


    .modal_help_image
      = image_tag "complete/console.png"


  #application_arrownav_page_10.arrownav_page

    .modal_help_title Review your feedback

    .modal_help_text Feedback you receive is collected in your profile, for you to review whenever you wish. Your scores are illustrated to help you identify your strengths and weaknesses.
      
    .modal_help_image
      = image_tag "complete/feedback.png"

  #application_arrownav_page_11.arrownav_page

    .spacer100

    .modal_help_title That's it, good luck.
    
    .modal_help_text.page_last

      Feel free to only use the features you need.
      %br
      %br
      Casenexus is still in Beta - do contact us if you encounter any bugs.

      .spacer30

      = form_for(@user, url: account_path) do |f|

        = f.hidden_field :complete_page, value: "end"

        %button.btn.btn-large
          Start now!


  #modal_help_page_num
    Part 1 of 11

  #account_complete_panel_nav_progress_container
    #account_complete_panel_nav_progress_backbone_line
    #account_complete_panel_nav_progress_follower_line

    .account_complete_panel_nav_progress_blip.blip1
    .account_complete_panel_nav_progress_blip.blip2
    .account_complete_panel_nav_progress_blip.blip3
    .account_complete_panel_nav_progress_blip.blip4
    .account_complete_panel_nav_progress_blip.blip5
      .account_complete_panel_nav_progress_blip_text PARTNERS
      .account_complete_panel_nav_progress_blip_outline
    .account_complete_panel_nav_progress_blip.blip6
      .account_complete_panel_nav_progress_blip_outline
    .account_complete_panel_nav_progress_blip.blip7
      .account_complete_panel_nav_progress_blip_text APPOINTMENTS
      .account_complete_panel_nav_progress_blip_outline
    .account_complete_panel_nav_progress_blip.blip8
      .account_complete_panel_nav_progress_blip_outline 
      .account_complete_panel_nav_progress_blip_text CASE LIBRARY
    .account_complete_panel_nav_progress_blip.blip9
      .account_complete_panel_nav_progress_blip_text DOING CASES
    .account_complete_panel_nav_progress_blip.blip10
      .account_complete_panel_nav_progress_blip_text REVIEW FEEDBACK
    .account_complete_panel_nav_progress_blip.blip11
.application_spinner_container
  .application_spinner

/ #account_complete_panel_submit.application_submit_button_with_disable.btn.btn-red.btn-large.btn-block{:href => "#", :type => "submit", tabindex: "8"}
/   Complete Sign up