- provide(:title, 'Complete the sign-up process')
- provide(:sub_title, 'Follow the instructions and the fill in the form below')


- content_for :javascript_includes do

  :javascript
    var account_this_is_complete = "true";
    var account_completeedit_map_lat_start = '#{current_user.lat}';
    var account_completeedit_map_lng_start = '#{current_user.lng}';


#account_complete_panel.static_home_slideable

  = form_for(@user, url: account_path) do |f|

    = hidden_field_tag :back_url, complete_profile_account_path

    = render 'shared/error_messages', object: @user

    .control-group
      = f.text_field :username, tabindex: "1", placeholder: "Choose a unique username", class: "span30 large"
      %i.input-icon.fui-user.huge

    #account_complete_map_header
      Drag the marker to your location
    #account_completeedit_map.complete.map

    = f.hidden_field :lat, id: "account_completeedit_lat"
    = f.hidden_field :lng, id: "account_completeedit_lng"

    .spacer15
    = f.collection_select :time_zone, ActiveSupport::TimeZone.all, :name, :to_s, {prompt: "What time zone are you in?"}, { class: "chzn-select" }
    .spacer15

    .control-group
      = f.text_field :linkedin, placeholder: "Linkedin username (optional)", class: "span30 large"
      %i.input-icon.fui-linkedin.huge

    .control-group{rel: "popover", "data-content"=>"Sign up at <a href=https://login.skype.com/account/signup-form target=_blank>Skype.com</a>", "data-original-title"=>"Not registered?", id: "account_completeedit_skype"}
      = f.text_field :skype, placeholder: "Skype username (recommended)", class: "span30 large"
      %i.input-icon.fui-skype.huge

    = f.select :degree_level, "<option>Undergraduate</option><option>MBA</option>".html_safe,{:prompt => "What's your degree level?"}, {class: "chzn-select"}

    .spacer15

    = f.collection_select :language_ids, Language.all, :id, :name, {:selected => @user.language_ids}, {multiple: true, class: "chzn-select span30", "data-placeholder" => "Which languages do you speak?"}

    .spacer15 
    = f.submit "Complete Sign up", class: "btn btn-large btn-primary  btn-block", id: "account_complete_panel_submit"