- provide(:title, 'Complete the sign-up process')


- content_for :javascript_includes do
  :javascript
    var account_completeedit_currentuser_university_image = "#{current_user.university.image}";

#account_complete_panel
  
  #account_complete_panel_nav_arrow_left.application_tooltip{"data-container"=>"body", "data-original-title"=>"Previous step...", rel: "tooltip", "data-placement"=>"bottom"}
    %i.icon-fontawesome-webfont-16


  #account_complete_panel_nav_arrow_right.application_tooltip{"data-container"=>"body", "data-original-title"=>"Next step...", rel: "tooltip", "data-placement"=>"bottom"}
    %i.icon-fontawesome-webfont-18

  #application_arrownav_page_1.arrownav_page

    .account_complete_page_title Get started in 60 seconds...
    
    .account_complete_page_text.page_welcome

      = image_tag "art/laptop.png", id: "account_complete_page_intro_art"

      %br
      %br
      %br
      %br
      %br
      %br
      %i "the candidates that typically get multiple job offers have practiced over 50 cases"
      %br
      = "- Victor Cheng, Caseinterview.com"

      %br
      %br
      The best way to prepare for case interviews is live practice.

      %br
      %br
      .page_welcome_bold Casenexus.com helps you do this.

  #application_arrownav_page_2.arrownav_page

    .account_complete_page_title The basics
    
    .account_complete_page_text 
      You can practise cases in person, or via Skype, with people you haven't met before 
      
    .account_complete_page_text_col_left
      %ol
        %li
          Arrange to meet for 1-2 hours
        %li
          Take 30-60mins beforehand to prepare a case for your partner
        %li
          Take it in turns to be the Interviewer
        %li
          Give feedback on each other's performance

    #account_complete_page_image_scenario.pull-right
      = image_tag "art/complete_scenario_f2f.png", id:"account_complete_page_image_scenario_f2f"
      = image_tag "art/complete_scenario_skype.png", id:"account_complete_page_image_scenario_skype", class: "hidden"

      #account_complete_page_image_scenario_legend
        #account_complete_page_image_scenario_text
          You can practise
        #account_complete_page_image_scenario_button_f2f.btn.btn-micro.active
          in Person
        #account_complete_page_image_scenario_button_skype.btn.btn-micro
          via Skype

  #application_arrownav_page_3.arrownav_page

    .account_complete_page_title Casenexus.com helps you to...

    #account_complete_page_features_art_container
      = image_tag "art/logo.png", id: "account_complete_page_features_art"

    .account_complete_page_text.page_features

      %ol
        %li Find partners
        %li Arrange case appointments
        %li Get case scripts
        %li Do cases
        %li Capture & review feedback

  #application_arrownav_page_4.arrownav_page

    .account_complete_page_title 1. Find partners
    
    .account_complete_page_text 
      Find case partners by their proximity to you, case experience, recent activity or languages they speak

    .account_complete_page_image
      = image_tag "complete/map.png"


  #application_arrownav_page_5.arrownav_page

    .account_complete_page_title So others can find you, we need the following...

    .account_complete_page_text 

    #account_complete_form_info_container
      = render 'complete_form_info'

  #application_arrownav_page_6.arrownav_page

    .account_complete_page_title Add your first partners...
    
    .account_complete_page_text.page_suggested
      We've selected some other users based on their case experience, and proximity to you.

      #account_complete_form_suggested_button_sendtoall.btn.btn-green.pull-right
        Send requests to all 8

    = render 'complete_form_suggested'



  #application_arrownav_page_7.arrownav_page

    .account_complete_page_title 2. Arrange case appointments
    
    .account_complete_page_text Once approved as a partner, use case appointments to book cases across time zones. Select a case from the library that you haven't done yet, and it will be emailed to them.

    #account_complete_form_timezone_container.account_complete_page_control_centered
      = render 'complete_form_timezone'


    .account_complete_page_image
      = image_tag "complete/appts.png"

  #application_arrownav_page_8.arrownav_page

    .account_complete_page_title 3. Find cases
    
    .account_complete_page_text The Library contains just under 100 carefully selected cases from the the top business schools, links to introductory case guides and other online resources.

    .account_complete_page_image
      = image_tag "complete/library.png"


  #application_arrownav_page_9.arrownav_page

    .account_complete_page_title 4. Do cases
    
    .account_complete_page_text Click the 'START' button. When you are the 'Intereviewer' you will see the case script, a timer, and a feedback form to complete for your Partner. Enter your Skype username so your Partner can call you:

    .account_complete_page_control_centered

      #account_complete_form_skype_container.account_complete_page_control_centered
        = render 'complete_form_skype'


    .account_complete_page_image
      = image_tag "complete/console.png"


  #application_arrownav_page_10.arrownav_page

    .account_complete_page_title 5. Review your feedback

    .account_complete_page_text Feedback you receive is collected in your profile, for you to review whenever you wish. Your scores are illustrated to help you identify your strengths and weaknesses.
      
    .account_complete_page_image
      = image_tag "complete/feedback.png"

  #application_arrownav_page_11.arrownav_page

    .spacer100

    .account_complete_page_title That's it, good luck.
    
    .account_complete_page_text.page_last

      %br
      Casenexus is still in Beta - contact us if you have any problems.

      .spacer50

      = form_for(@user, url: account_path) do |f|

        = f.hidden_field :complete_page, value: "end"

        %button.btn.btn-large
          Start now


  #account_complete_pagenum
    Part 1 of 11

  #account_complete_panel_nav_progress_container
    #account_complete_panel_nav_progress_backbone_line
    #account_complete_panel_nav_progress_follower_line

    .account_complete_panel_nav_progress_blip.blip1
    .account_complete_panel_nav_progress_blip.blip2
    .account_complete_panel_nav_progress_blip.blip3
    .account_complete_panel_nav_progress_blip.blip4
    .account_complete_panel_nav_progress_blip.blip5
      .account_complete_panel_nav_progress_blip_text PARTNERS
      .account_complete_panel_nav_progress_blip_outline
    .account_complete_panel_nav_progress_blip.blip6
      .account_complete_panel_nav_progress_blip_outline
    .account_complete_panel_nav_progress_blip.blip7
      .account_complete_panel_nav_progress_blip_text APPOINTMENTS
      .account_complete_panel_nav_progress_blip_outline
    .account_complete_panel_nav_progress_blip.blip8
      .account_complete_panel_nav_progress_blip_outline 
      .account_complete_panel_nav_progress_blip_text CASE LIBRARY
    .account_complete_panel_nav_progress_blip.blip9
      .account_complete_panel_nav_progress_blip_text DOING CASES
    .account_complete_panel_nav_progress_blip.blip10
      .account_complete_panel_nav_progress_blip_text REVIEW FEEDBACK
    .account_complete_panel_nav_progress_blip.blip11


.application_spinner_container
  .application_spinner

/ #account_complete_panel_submit.application_submit_button_with_disable.btn.btn-red.btn-large.btn-block{:href => "#", :type => "submit", tabindex: "8"}
/   Complete Sign up