- provide(:title, 'Complete the sign-up process')


- content_for :javascript_includes do
  :javascript
    var account_completeedit_currentuser_university_image = "#{current_user.university.image}";

#account_complete_panel
  
  #account_complete_panel_nav_arrow_left.application_tooltip{"data-container"=>"body", "data-original-title"=>"Previous page...", rel: "tooltip", "data-placement"=>"bottom"}
    %i.icon-fontawesome-webfont-31


  #account_complete_panel_nav_arrow_right.application_tooltip{"data-container"=>"body", "data-original-title"=>"Next page...", rel: "tooltip", "data-placement"=>"bottom"}
    %i.icon-fontawesome-webfont-2

  #application_arrownav_page_1.arrownav_page

    .modal_help_title Welcome #{current_user.username}
    
    .modal_help_text 
      Casenexus.com is a platform for live case interview practice.
      %br
      The best way to practice for case interviews is live practice
      %br
      It's said that you should do 50 cases before walking in to your first round!

  #application_arrownav_page_2.arrownav_page

    .modal_help_title The Premise
    
    .modal_help_text 
      Not only can you practice in person, but you can also practice effectively via teleconference e.g. using Skype
      %br
      collect case ‘partners’ to practice with regularly, and learn together
      %br
      Brief tutorial explaining how you take it turns...we provide a mechanism to be the interviewer

    .modal_help_image
      = image_tag "help/image_1.png"

  #application_arrownav_page_3.arrownav_page

    .modal_help_title Use Casenexus to
    
    .modal_help_text

      %ul
        %li Find partners
        %li Find cases
        %li Book appointments
        %li Do cases
        %li Review feedback

  #application_arrownav_page_4.arrownav_page

    .modal_help_title Profile info

    .modal_help_text 
      We need some information to help other users find you

    #account_complete_form_info_container
      = render 'complete_form_info'


  #application_arrownav_page_5.arrownav_page

    .modal_help_title Add first partners
    
    .modal_help_text 
      Here are a selection of other users near you with similar case experience

      .btn.btn-colour.btn-green.pull-right#account_complete_form_suggested_button_sendtoall
        Send requests to all

    = render 'complete_form_suggested'


  #application_arrownav_page_6.arrownav_page

    .modal_help_title Your profile
    
    .modal_help_text 
      Your profile is your case interview HQ

    .modal_help_image
      = image_tag "help/image_1.png"


  #application_arrownav_page_7.arrownav_page

    .modal_help_title Arrange case appointments
    
    .modal_help_text Once approved as a partner, use case appointments to book cases across time zones. Your partner needs 30mins to prepare a case for you beforehand, so select a case from our library and it will be emailed to them.

    #account_complete_form_timezone_container.modal_help_control_centered
      = render 'complete_form_timezone'


    .modal_help_image
      = image_tag "help/image_2.png"

  #application_arrownav_page_8.arrownav_page

    .modal_help_title Case Library
    
    .modal_help_text Cases from top busines schools

    .modal_help_image
      / = image_tag "help/image_3.png"


  #application_arrownav_page_9.arrownav_page

    .modal_help_title Do cases
    
    .modal_help_text When you're ready to start a case, a console brings together the case script, a timer, and a performance feedback form, designed by a consultant from a top-tier firm with years of interviewing experience. LOOK FOR THE START BUTTON.

    .modal_help_control_centered

      #account_complete_form_skype_container.modal_help_control_centered
        = render 'complete_form_skype'


    .modal_help_image
      = image_tag "help/image_3.png"


  #application_arrownav_page_10.arrownav_page

    .modal_help_title Review your feedback

    .modal_help_text Feedback you receive is collected in your profile, for you to review whenever you wish. Your scores are illustrated to help you identify your strengths and weaknesses.
      
    .modal_help_image
      = image_tag "help/image_4.png"

  #application_arrownav_page_11.arrownav_page

    .spacer100

    .modal_help_title That's it, good luck.
    
    .modal_help_text.last_page

      Feel free to only use the features you need.
      %br
      %br
      Casenexus is still in Beta - do contact us if you encounter any bugs.

      .spacer15

      = form_for(@user, url: account_path) do |f|

        = f.hidden_field :complete_page, value: "end"

        %button.btn.btn-large
          Start now!


  #modal_help_page_num
    Part 1 of 11

  #account_complete_panel_nav_progress_container
    #account_complete_panel_nav_progress_backbone_line
    #account_complete_panel_nav_progress_follower_line

    .account_complete_panel_nav_progress_blip.blip1{"data-page_id"=> 1}
    .account_complete_panel_nav_progress_blip.blip2{"data-page_id"=> 2}
    .account_complete_panel_nav_progress_blip.blip3{"data-page_id"=> 3}
    .account_complete_panel_nav_progress_blip.blip4{"data-page_id"=> 4}
      .account_complete_panel_nav_progress_blip_outline
    .account_complete_panel_nav_progress_blip.blip5{"data-page_id"=> 5}
      .account_complete_panel_nav_progress_blip_text PARTNER
      .account_complete_panel_nav_progress_blip_outline 
    .account_complete_panel_nav_progress_blip.blip6{"data-page_id"=> 6}
    .account_complete_panel_nav_progress_blip.blip7{"data-page_id"=> 7}
      .account_complete_panel_nav_progress_blip_text APPOINTMENT
      .account_complete_panel_nav_progress_blip_outline
    .account_complete_panel_nav_progress_blip.blip8{"data-page_id"=> 8}
      .account_complete_panel_nav_progress_blip_outline 
      .account_complete_panel_nav_progress_blip_text CASE LIBRARY
    .account_complete_panel_nav_progress_blip.blip9{"data-page_id"=> 9}
      .account_complete_panel_nav_progress_blip_text DO CASES
    .account_complete_panel_nav_progress_blip.blip10{"data-page_id"=> 10}
      .account_complete_panel_nav_progress_blip_text REVIEW FEEDBACK
    .account_complete_panel_nav_progress_blip.blip11{"data-page_id"=> 11}
.application_spinner_container
  .application_spinner

/ #account_complete_panel_submit.application_submit_button_with_disable.btn.btn-red.btn-large.btn-block{:href => "#", :type => "submit", tabindex: "8"}
/   Complete Sign up