- provide(:title, 'Change your password')

#account_editpassword_panel

  = form_for(@user, url: account_path, method: :put) do |f|

    #flash_notifications
      = render 'shared/error_messages', object: @user

    .static_home_form_input_container
      .static_home_form_input_icon_container
        = image_tag "icons/forms/password.png"
      = f.password_field :password, placeholder: "New password...", :autofocus => true, class: "span30 large",tabindex: "1"

    .static_home_form_input_container
      .static_home_form_input_icon_container
        %i.icon-checkmark
      = f.password_field :password_confirmation, placeholder: "Confirm your new password...", class: "span30 large",tabindex: "2"

    .application_submit_button_with_disable.btn.btn-red.btn-large.btn-block{tabindex: "3"}
      Change my password...


  = render "devise/shared/links"