- provide(:title, 'Change my password')
- provide(:sub_title, 'Enter a new password and confirmation, below')

= render 'shared/title'

.row
  .span28.offset32
    .panel.gradient
      = form_for(@user, url: account_path, method: :put) do |f|
        = f.text_field :password, placeholder: "New Password"
        = f.text_field :password_confirmation, placeholder: "Confirm your New Password"
        .spacer10
        = f.submit "Change my password", class: "btn btn-medium btn-inverse offset3"



