- provide(:title, 'Edit Profile')
- provide(:sub_title, 'Modify your settings, and your location')

- content_for :javascript_includes do
  = javascript_include_tag('account')

  :javascript
    var account_completeedit_map_lat_start = "#{current_user.lat}";
    var account_completeedit_map_lng_start = "#{current_user.lng}";

#account_edit_form
  .row
    = form_for(@user, url: account_path, method: :put) do |f|
      .span94
        = render 'shared/error_messages', object: @user
        .span47
          .panel.dark
            .row
              .span12
                = f.label :first_name
              .span25
                = f.text_field :first_name
            .row
              .span12
                = f.label :last_name
              .span25
                = f.text_field :last_name
            .spacer5
            .row
              .span12
                = f.label :email
              .span25
                = f.text_field :email, class: "span27"
            .row
              .span25.offset12
                %a.btn.btn-inverse.btn-small{href: "/account/edit_password"}
                  I want to edit my password
                .spacer5
            .spacer5
            .row.font-small
              .span3.offset12
                = f.check_box :email_admin
              .span25
                .spacer5
                Receive site news and consulting advice
            .row.font-small
              .span3.offset12
                = f.check_box :email_users
              .span25
                .spacer5
                Receive notiffications via email
            .row
              .span25.offset12
                .spacer10
                = link_to("I want to delete my account", delete_account_path, class: "btn btn-inverse btn-small")


        .span47
          .panel.dark.kill_left.kill_bottom
            .spacer5
            .row
              .span12
                = image_tag 'icons/skype_large.png'
                #account_completeedit_skype_link
                  = link_to "Need to register?", "https://login.skype.com/account/signup-form"
              .span22
                = f.text_field :skype, placeholder: "Skype username"
                .font-small
                  %ul.application_bullets
                    %li 
                      %span.account_completeedit_condition
                        (required)
                      for the Roulette
            .row
              .span12
                = image_tag 'icons/linkedin_large.png'
              .span22
                = f.text_field :linkedin, placeholder: "LinkedIn username (not email)"
          .panel.darker.kill_left
            = f.hidden_field :lat, id: "account_completeedit_lat"
            = f.hidden_field :lng, id: "account_completeedit_lng"
            #account_completeedit_map.edit.map
            .spacer10
            #account_completeedit_map_location
              .row
                .account_completeedit_map_location_title.span6
                  Country
                .span15
                  = @user.country
                .account_completeedit_map_location_title.span4
                  City
                .span12
                  = @user.city
          .panel.dark.kill_top.kill_left
            .row
              .span10.offset7
                .row
                  .spacer5
                  = f.submit "Save changes", class: "btn btn-large btn-inverse", id: "account_edit_button_submit"
    - if current_user.completed?
      .row
        .span94
          = render 'invitations_panel'

