- provide(:title, 'Edit Profile')
- provide(:sub_title, 'Modify your settings, and your location')

- content_for :javascript_includes do
  = javascript_include_tag('account')

  :javascript
    var account_completeedit_map_lat_start = "#{current_user.lat}";
    var account_completeedit_map_lng_start = "#{current_user.lng}";

#account_edit_form.panel.dark.kill_left.kill_right.kill_bottom
  .spacer10
  .row
    = form_for(@user, url: account_path, method: :put, class: "") do |f|
      = render 'shared/error_messages', object: @user

      .account_edit_form_space


      .row
        .span24.offset2
          = f.label :username
        .span30
          = f.text_field :username, class: "span26 application_form_input_alternative"


      .account_edit_form_spacer



      .row#account_edit_form_info
        .span12.offset2.account_form_label
          Info
        .span10
          .row#account_edit_form_info_avatar
            %span.fui-user
          .row
            .spacer15
            #account_edit_form_info_reputation= @user.points_tally
            .spacer10
            #account_edit_form_info_reputation_text reputation

        .span30.offset2
          .row.account_form_label_bold
            = @user.email
          .spacer5
          .row.account_form_label
            %span.account_form_label_university_logo
              = image_tag "universities/"+ @user.university.image
            %span.account_form_label_bold
              = @user.university.name
          .spacer10
          .row
            %span.account_form_label_gray Degree Level:
            %span.account_form_label_bold
              = @user.degree_level_in_words
          .row
            %span.account_form_label_gray Subject:
            %span.account_form_label_bold
              = @user.subject.name
          .row
            %span.account_form_label_gray Cases Interviewed:
            %span.account_form_label_bold
              = @user.case_count_givn
          .row
            %span.account_form_label_gray Cases Interviewee'd
            %span.account_form_label_bold
              = @user.case_count_recd
          .row
            %span.account_form_label_gray Member for
            %span.account_form_label_bold
              = time_ago_in_words(@user.created_at)



          .spacer15

          .row
            %a.btn.btn-primary.btn-small{href: "/account/edit_password"}
              %i.icon-pencil
              Edit my password

          .spacer5
          .row
            = link_to(raw("<i class=icon-remove></i> Delete my account"), delete_account_path, class: "btn btn-primary btn-embossed btn-small")


      .account_edit_form_spacer

      .account_edit_block_title
        Reputation Point History
      .row#account_edit_reputation_history_container
        - if @user.points.count > 0
          - @user.points.each do |point|
            .row
              .span2
                = "+" + point.score.to_s
              .span20.offset1
                = point.method
              .span10.pull-right
                = point.date_fb
        - else
          You have no reputation points yet
      .spacer20
      .row
        .row.btn.btn-primary.btn-embossed +5
        Vote up on your Question, Answer or Comment
        .row.btn.btn-primary.btn-embossed +10
        Did a case (received feedback)
        .row.btn.btn-primary.btn-embossed +20
        Gave a case (sent feedback)


      .account_edit_form_spacer


      = f.hidden_field :lat, id: "account_completeedit_lat"
      = f.hidden_field :lng, id: "account_completeedit_lng"
      .row
        .span24.offset2.account_form_label
          Location
          .account_form_sublabel
            Move the marker to your location
        .span30
          #account_completeedit_map.edit.map

          #account_completeedit_map_location
            .row
              .account_completeedit_map_location_title.span6
                Country
              .span10
                = @user.country.name unless @user.country.blank?
              .account_completeedit_map_location_title.span4
                City
              .span10
                = @user.city unless @user.city.blank?




      .account_edit_form_spacer


      .row
        .span24.offset2.account_form_label
          Degree Level
        .span26
          = f.select :degree_level, options_for_select([['Undergraduate/Masters', 0], ['MBA', 1]]), {}, {class: "chzn-select-nosearch span26"}

      .spacer20

      .row
        .span24.offset2.account_form_label
          Degree Subject
        .span26
          = f.collection_select :subject_id, Subject.all, :id, :name, {selected: @user.subject}, {class: "chzn-select span26"}

      .account_edit_form_spacer



      .row
        .span24.offset2.account_form_label
          Languages
        .span26
          = f.collection_select :language_ids, Language.all, :id, :name, {selected: @user.language_ids}, {multiple: true, class: "chzn-select span26"}

      .spacer20

      .row
        .span24.offset2.account_form_label
          Time Zone
        .span26
          = f.collection_select :time_zone, ActiveSupport::TimeZone.all, :name, :to_s, {selected: @user.time_zone}, { class: "chzn-select span26" }

      .spacer20

      .row
        .span24.offset2
          = image_tag 'icons/skype_large.png'
          #account_completeedit_skype_link
            = link_to "Need to register?", "https://login.skype.com/account/signup-form"

            
        .span26
          = f.text_field :skype, placeholder: "Skype username", class: "span26 application_form_input_alternative"




      .account_edit_form_spacer


      .row
        .span24.offset2.account_form_label
          Cases outside of casenexus
        .span23
          = f.text_field :cases_external, class: "span6 application_form_input_alternative", id: "account_completedit_casesexternal_field"

      .account_edit_form_spacer


      .row

        .span24.offset2.account_form_label
          Emailing

        .span3
          = f.check_box :email_admin
        .span30.offset1
          .spacer5
          Receive site news and consulting advice
      .row
        .span3.offset26
          = f.check_box :email_users
        .span30.offset1
          .spacer5
          Receive notiffications via email


      .spacer30


      .row
        #account_edit_form_submit_panel
          = f.submit "Save changes", class: "btn btn-large btn-primary btn-embossed", id: "account_edit_button_submit"

      .spacer20