- provide(:title, 'Edit Profile')
- provide(:sub_title, 'Modify your basic info, your status, and your location')

- content_for :javascript_includes do
  = javascript_include_tag('users.js')

  :javascript
    var users_newedit_map_lat_start = "#{current_user.lat}";
    var users_newedit_map_lng_start = "#{current_user.lng}";

= render 'shared/title'

#users_edit_form
  .row
    = form_for(@user, url: account_path, method: :put) do |f|
      .span94
        = render 'shared/error_messages', object: @user
        .span47
          .panel.dark
            .row
              .span12
                = f.label :first_name
              .span25
                = f.text_field :first_name
            .row
              .span12
                = f.label :last_name
              .span25
                = f.text_field :last_name
            .spacer5
            .row
              .span12
                = f.label :email
              .span25
                = f.text_field :email, class: "span27"
            .row
              .span25.offset12
                %a.btn.btn-inverse.btn-small{href: "/account/edit_password"}
                  I want to edit my password
                .spacer5
            .spacer5
            .row
              .span3.offset12
                = f.check_box :email_admin
              .span25
                = f.label :email_admin, "Receive case interview advice email letter"
            .row
              .span3.offset12
                = f.check_box :email_users
              .span25
                = f.label :email_users, "Send notifications from users to your email"
            .row
              .span25.offset12
                .spacer10
                = link_to("I want to delete my account", account_path, method: :delete, class: "btn btn-inverse btn-small", confirm: "Are you sure you want to delete your account?")

          .panel.darker.kill_bottom
            .row.font-small
              Edit your status
              %span#users_edit_status_note.pull-right (NB edits must be approved by an administrator)
              .spacer5
              = f.text_area :status, id: 'users_edit_status'

        .span47
          .panel.dark.kill_left.kill_bottom
            .spacer5
            .row
              .span12
                = image_tag 'icons/skype_large.png'
                #users_newedit_skype_link
                  = link_to "Need to register?", "https://login.skype.com/account/signup-form"
              .span25
                = f.text_field :skype, placeholder: "Skype username"
            .spacer5
            .row
              .span12
                = image_tag 'icons/linkedin_large.png'
              .span25
                = f.text_field :linkedin_name, placeholder: "LinkedIn email address"

          .panel.darker.kill_left
            = f.hidden_field :lat, id: "users_newedit_lat"
            = f.hidden_field :lng, id: "users_newedit_lng"
            #users_newedit_map.edit.map
            .spacer10
            #users_newedit_map_location
              .row
                .users_newedit_map_location_title.span6
                  Country
                .span15
                  = @user.country
                .users_newedit_map_location_title.span4
                  City
                .span12
                  = @user.city
          .panel.dark.kill_top.kill_left
            .row
              .span10.offset7
                .row
                  .spacer5
                  = f.submit "Save changes", class: "btn btn-large btn-inverse", id: "users_edit_button_submit"
    - if current_user.completed?
      .row
        .span94
          = render 'invitations'

