.profile_index_feedback_cases_item{"data-case_id" => cases_item.id, "data-case_date" => cases_item.created_at.strftime("%Y-%m-%d-%H-%I-%S"), class: ("unread" unless cases_item.read?)}
  
  .profile_index_feedback_cases_item_read_highlight

  .profile_index_feedback_cases_item_score
    = cases_item.totalscore_percentage.to_f.round(0).to_s + "%"

  .profile_index_feedback_cases_item_user
    .profile_index_feedback_cases_item_username
      = cases_item.interviewer.username
    .profile_index_feedback_cases_item_subject
      = cases_item.subject_function_trunc

  .profile_index_feedback_cases_item_delete
    = link_to cases_item, method: :delete, confirm: "Are you sure you want to delete this feedback from " + cases_item.interviewer.username + "? This cannot be undone." do
      %i.icon-cancel

  .profile_index_feedback_cases_item_date
    = cases_item.date_fb
  / = link_to_remote cases_path(cases_item), :method => :delete, :confirm => "Are you sure you want to permanently delete this post?", :success => "$(this).up('.profile_index_feedback_cases_item').remove();" do
  /   .close