.profile_index_friends_friends_item{ class: ("unread" if Friendship.requested?(current_user,friends_item)) }


  .profile_index_friends_friends_item_requested_highlight


  .profile_index_friends_friends_item_avatar
    = avatar_for(friends_item,size: "medium")

  .profile_index_friends_friends_item_user

    .profile_index_friends_friends_item_username
      = friends_item.username_trunc

    - unless Friendship.requested?(current_user,friends_item)
      .profile_index_friends_friends_item_actions

        .profile_index_friends_actions_message.btn.btn-colour.btn-round.btn-round-small{ "data-container"=>"body", "data-original-title"=>"Send message...", rel: "tooltip", "data-placement"=>"bottom", class: "application_tooltip","data-friend_id"=> friends_item.id }
          %i.icon-email-mail-streamline

        .profile_index_friends_actions_event.btn.btn-colour.btn-round.btn-round-small{ "data-container"=>"body", "data-original-title"=>"Book case appointment...", rel: "tooltip", "data-placement"=>"bottom", class: "application_tooltip","data-friend_id"=> friends_item.id}
          %i.icon-calendar

        %a.profile_index_friends_actions_start.btn.btn-colour.btn-round.btn-round-small{ href:"/console?friend_id=" + friends_item.id.to_s, "data-container"=>"body", "data-original-title"=>"Start case...", rel: "tooltip", "data-placement"=>"bottom", class: "application_tooltip"}
          %i.icon-arrow-right-1

        %a.profile_index_friends_actions_profile.btn.btn-colour.btn-round.btn-round-small{ href: "/map?user_id=" + friends_item.id.to_s, "data-container"=>"body", "data-original-title"=>"Jump to map profile", rel: "tooltip", "data-placement"=>"bottom", class: "application_tooltip"}
          %i.icon-map-pin-streamline




    - if Friendship.requested?(current_user,friends_item)
      .profile_index_friends_friends_requested
        = link_to accept_friendship_path(id: Friendship.friendship(current_user,friends_item), back_url: "/"), method: :put, class: "btn btn-colour btn-micro profile_index_friends_friends_item_friendship_button application_tooltip","data-container"=>"body", "data-original-title"=>"Accept partner request...", rel: "tooltip", "data-placement"=>"bottom" do
          %i.icon-checkmark
        = link_to reject_friendship_path(id: Friendship.friendship(current_user,friends_item), back_url: "/"), method: :put, class: "btn btn-colour btn-micro profile_index_friends_friends_item_friendship_button application_tooltip","data-container"=>"body", "data-original-title"=>"Decline partner request...", rel: "tooltip", "data-placement"=>"bottom" do
          %i.icon-cancel
          %a.profile_index_friends_actions_profile.btn.btn-colour.btn-round.btn-round-small{ href: "/map?user_id=" + friends_item.id.to_s, "data-container"=>"body", "data-original-title"=>"Jump to map profile", rel: "tooltip", "data-placement"=>"bottom", class: "application_tooltip"}
            %i.icon-map-pin-streamline

  / .profile_index_friends_friends_item_activity{style: "background: url(#{Case.user_activity_chart(friends_item,"profile")})no-repeat"}

  - unless Friendship.requested?(current_user,friends_item)
    .profile_index_friends_friends_item_status

      %i.icon-fontawesome-webfont-26.profile_index_friends_friends_item_status_icon{class: (if friends_item.online_now? then "online_now" elsif friends_item.online_earlier? then "online_earlier" else "online_not" end)}