
- content_for :javascript_includes do
  :javascript
    var cases_analysis_chart_case_count = #{@case_count_bracket};

    var cases_analysis_chart_site_average = #{Case.cases_analysis_stats_global("totalscore")};
    var cases_analysis_chart_top_quart = #{Case.cases_analysis_stats_global("totalscore_top_quart")};
    var cases_analysis_chart_bottom_quart = #{Case.cases_analysis_stats_global("totalscore_bottom_quart")};

    $(document).ready(function(){  
      if (cases_analysis_chart_case_count < 2) {
        $("#cases_analysis_chart_progress_empty").fadeIn("fast");
      } else {
        window.cases_analysis_chart_progress_init(cases_analysis_chart_case_count, cases_analysis_chart_site_average, cases_analysis_chart_top_quart, cases_analysis_chart_bottom_quart);
      }
    });



#profile_index_container

  #profile_index_calendar
    = render "events/calendar"


  #profile_index_info
    #profile_index_info_avatar
      = avatar_for(current_user,size:"medium")
    #profile_index_info_username
      = current_user.username

    .spacer10

    #profile_index_info_degreelevel
      = current_user.degree_level_in_words

    #profile_index_info_cases_joined
      Signed up:
      = time_ago_in_words(current_user.created_at)
      ago

    #profile_index_info_cases_rate
      Rate: 2 cases per week
      
    .spacer15

    #profile_index_info_cases
      #profile_index_info_cases_givn
        = current_user.case_count_givn
        %span.profile_index_info_cases_text
          rec'd
      #profile_index_info_cases_recd    
        = current_user.case_count_recd
        %span.profile_index_info_cases_text
          given
      #profile_index_info_cases_external
        = current_user.cases_external
        %span.profile_index_info_cases_text
          ext.











  #profile_index_friends

    .profile_index_title
      Partners
      %span#profile_index_friends_actions.pull-right
        / %i#profile_index_friends_actions_invite.icon-plus
        / %span#profile_index_friends_actions_skype.fui-skype
        %i#profile_index_friends_actions_start.icon-arrow-right
        %i#profile_index_friends_actions_message.icon-envelope
        %i#profile_index_friends_actions_profile.icon-globe

      %input#profile_index_friends_action_input{type:"hidden"}

    #profile_index_friends_friends
      - for friends_item in @friends
        .profile_index_friends_friends_item{"data-friend_id"=>friends_item.id }

          .profile_index_friends_friends_item_status{class: (if friends_item.online_now? then "online_now" elsif friends_item.online_earlier? then "online_earlier" else "online_not" end)}

          .profile_index_friends_friends_item_avatar
            = avatar_for(friends_item,size: "small")

          .profile_index_friends_friends_item_username
            = friends_item.username_trunc





  #profile_index_feedback
    .profile_index_title
      Feedback
      %span.pull-right
        %i#profile_index_feedback_actions_resultstable.icon-list


    #profile_index_feedback_cases

      - if @cases.count > 0
        - @cases.each do |cases_item|
          .profile_index_feedback_cases_item
          
            .profile_index_feedback_cases_item_score
              = cases_item.totalscore.to_f.round(1)
            .profile_index_feedback_cases_item_username
              = link_to case_path(cases_item) do
                = cases_item.interviewer.username
            .profile_index_feedback_cases_item_date
              = cases_item.date_fb

    #profile_index_feedback_chart

    #profile_index_feedback_chart_legend

    
  / .profile_index_icon
  /   =image_tag "flat-ui/icons/Calendar_2x.png"
  / .profile_index_icon
  /   =image_tag "flat-ui/icons/Clipboard_2x.png"
  / .profile_index_icon
  /   =image_tag "flat-ui/icons/Book_2x.png"
  / .profile_index_icon
  /   =image_tag "flat-ui/icons/Mail_2x.png"
