
- content_for :javascript_includes do
  :javascript
    var cases_analysis_chart_case_count = #{@case_count_bracket};

    var cases_analysis_chart_site_average = #{Case.cases_analysis_stats_global("totalscore")};
    var cases_analysis_chart_top_quart = #{Case.cases_analysis_stats_global("totalscore_top_quart")};
    var cases_analysis_chart_bottom_quart = #{Case.cases_analysis_stats_global("totalscore_bottom_quart")};

    $(document).ready(function(){  
      if (cases_analysis_chart_case_count < 2) {
        $("#cases_analysis_chart_progress_empty").fadeIn("fast");
      } else {
        window.cases_analysis_chart_progress_init(cases_analysis_chart_case_count, cases_analysis_chart_site_average, cases_analysis_chart_top_quart, cases_analysis_chart_bottom_quart);
      }
    });



#profile_index_container

  #profile_index_widgets
    %div
      %i.icon-cogs
    %div
      %i.icon-envelope
    %div
      %i.icon-user



  #profile_index_calendar
    = render "events/calendar"


  #profile_index_friends

    .profile_index_title
      Friends

    #profile_index_friends_friends
      - for friends_item in @friends
        .profile_index_friends_friends_item

          .profile_index_friends_friends_item_status{class: (if friends_item.online_now? then "online_now" elsif friends_item.online_earlier? then "online_earlier" else "online_not" end)}

          .profile_index_friends_friends_item_avatar
            = avatar_for(friends_item,size: "small")

          .profile_index_friends_friends_item_username
            = link_to friends_item.username_trunc, "/map?user_id=" + friends_item.id.to_s



  #profile_index_notes
    #profile_index_notes_canvas
      #profile_index_notes_input


  #profile_index_feedback
    .profile_index_title
      Feedback

    #profile_index_feedback_cases

      - if @cases.count > 0
        - @cases.each do |cases_item|
          .profile_index_feedback_cases_item
          
            .profile_index_feedback_cases_item_score
              = cases_item.totalscore.to_f.round(1)
            .profile_index_feedback_cases_item_username
              = link_to case_path(cases_item) do
                = cases_item.interviewer.username

    #profile_index_feedback_chart

    #profile_index_feedback_chart_legend

    
  / .profile_index_icon
  /   =image_tag "flat-ui/icons/Calendar_2x.png"
  / .profile_index_icon
  /   =image_tag "flat-ui/icons/Clipboard_2x.png"
  / .profile_index_icon
  /   =image_tag "flat-ui/icons/Book_2x.png"
  / .profile_index_icon
  /   =image_tag "flat-ui/icons/Mail_2x.png"
