
- content_for :javascript_includes do

  :javascript
    var cases_analysis_chart_case_count = #{@case_count_bracket};

    var account_completeedit_map_lat_start = "#{current_user.lat}";
    var account_completeedit_map_lng_start = "#{current_user.lng}";

    var account_completeedit_currentuser_university_image = "#{current_user.university.image}";

    $(document).ready(function(){  
      // if (cases_analysis_chart_case_count < 3) {
      //   $("#cases_analysis_chart_progress_empty").fadeIn("fast");
      // } else {
      window.cases_analysis_chart_progress_init(cases_analysis_chart_case_count);
      // }

    });

- if flash[:success] == 'Welcome'
  :javascript
    $(document).ready(function(){  
      setTimeout(function() {
        window.modal_help_show();
      }, 500);
    });



#profile_index_container

  #profile_index_calendar
    = render "events/calendar"


  #profile_index_info
    #profile_index_info_avatar
      = avatar_for(current_user,size:"medium")
    #profile_index_info_username
      = current_user.username

    #profile_index_info_degreelevel
      = current_user.degree_level_in_words

    #profile_index_info_cases_joined
      Signed up:
      = time_ago_in_words(current_user.created_at)
      ago

    / #profile_index_info_cases_rate
    /   Rate: 2 cases per week



    .spacer15

    #profile_index_info_actions
      #profile_index_info_actions_settings{"data-original-title"=>"Your settings", rel: "tooltip", "data-container"=>"body", "data-placement"=>"bottom", class: "application_tooltip"}
        %i.icon-cogs
      / #profile_index_info_actions_visitors{"data-original-title"=>"Visitors", rel: "tooltip", "data-placement"=>"bottom", class: "application_tooltip"}
      /   %i.icon-user
      /     %span.iconbar-unread
      /       = current_user.visits.count
      #profile_index_info_actions_invite{"data-original-title"=>"Invite friends", rel: "tooltip", "data-container"=>"body", "data-placement"=>"bottom", class: "application_tooltip"}
        %i.icon-plus
      = link_to destroy_user_session_path, id: "profile_index_info_actions_signout", "data-container"=>"body", "data-original-title"=>"Sign out", rel: "tooltip", "data-placement"=>"bottom", class: "application_tooltip", method: :delete do
        %i.icon-reply


    .spacer15

    #profile_index_info_cases
      #profile_index_info_cases_givn
        = current_user.case_count_givn
        %span.profile_index_info_cases_text
          taken
      #profile_index_info_cases_recd    
        = current_user.case_count_recd
        %span.profile_index_info_cases_text
          given
      #profile_index_info_cases_external
        = current_user.case_count_external
        %span.profile_index_info_cases_text
          ext.



      





  #profile_index_friends

    .profile_index_title
      Partners
      - if @friends_requested.count > 0
        %span.iconbar-unread
          = @friends_requested.count.to_s
      %span#profile_index_friends_actions.pull-right
        / %i#profile_index_friends_actions_invite.icon-plus
        / %span#profile_index_friends_actions_skype.fui-skype
        %i#profile_index_friends_actions_start.icon-arrow-right{ "data-container"=>"body", "data-original-title"=>"Start case...", rel: "tooltip", "data-placement"=>"bottom", class: "application_tooltip"}
        %i#profile_index_friends_actions_message.icon-envelope{ "data-container"=>"body", "data-original-title"=>"Send message...", rel: "tooltip", "data-placement"=>"bottom", class: "application_tooltip"}
        %i#profile_index_friends_actions_profile.icon-globe{ "data-container"=>"body", "data-original-title"=>"Jump to map profile", rel: "tooltip", "data-placement"=>"bottom", class: "application_tooltip"}
        %i#profile_index_friends_actions_event.icon-calendar{ "data-container"=>"body", "data-original-title"=>"Book case appointment...", rel: "tooltip", "data-placement"=>"bottom", class: "application_tooltip"}

      %input#profile_index_friends_action_input{type:"hidden"}

    #profile_index_friends_friends
      - if @friends_requested.count > 0
        - for friends_requested_item in @friends_requested
          = render partial: "friends_item",locals:{friends_item: friends_requested_item}
        #profile_index_friends_friends_requested_divider
      - if @friends.count > 0
        - for friends_item in @friends
          = render partial: "friends_item",locals:{friends_item: friends_item}
      - else
        #profile_index_friends_friends_empty
          %i.icon-user
          %div
            No partners yet



  #profile_index_feedback
    .profile_index_title
      Feedback
      - if @cases.unread.count > 0
        %span.iconbar-unread
          = @cases.unread.count.to_s
      %span.pull-right
        %i#profile_index_feedback_actions_resultstable.icon-list{ "data-container"=>"body", "data-original-title"=>"Show detailed results...", rel: "tooltip", "data-placement"=>"bottom", class: "application_tooltip"}


    #profile_index_feedback_cases

      - if @cases.count > 0
        - @cases.each do |cases_item|
          .profile_index_feedback_cases_item{"data-case_id" => cases_item.id}
            
            .profile_index_feedback_cases_item_read_highlight{ class: ("unread" unless cases_item.read?) }

            .profile_index_feedback_cases_item_score
              = cases_item.totalscore.to_f.round(1)
            .profile_index_feedback_cases_item_username
              = cases_item.interviewer.username
            .profile_index_feedback_cases_item_date
              = cases_item.date_fb
      - else
        #profile_index_feedback_cases_empty
          %i.icon-edit
          %div
            No feedback yet

    #profile_index_feedback_chart

    #profile_index_feedback_chart_legend

    
  / .profile_index_icon
  /   =image_tag "flat-ui/icons/Calendar_2x.png"
  / .profile_index_icon
  /   =image_tag "flat-ui/icons/Clipboard_2x.png"
  / .profile_index_icon
  /   =image_tag "flat-ui/icons/Book_2x.png"
  / .profile_index_icon
  /   =image_tag "flat-ui/icons/Mail_2x.png"
