= form_tag 'console/sendpdf', remote: true do |f|
  .row
    .span21.offset1
      %select#console_index_subnav_select_books.chzn-select.span21{name: "book_id", "data-placeholder" => "Select Case" }
        %option
        - @books.each do |books_select_item|
          %option{value: books_select_item.id, "selected" => ("selected" if (books_select_item.id == @book.id) unless @book.blank?) }
            = books_select_item.author.split(' ')[0] + " - " + books_select_item.title

    .span17.offset1
      = button_tag raw("<i class=\"icon-envelope icon-white\"/></i> Email case to your friend"), { class: "btn btn-inverse btn-small", id: "console_index_subnav_button_sendpdf", style: ("display:inline" if !@friend.blank? && !@book.blank?)}

    .span16.pull-right
      %select#console_index_subnav_select_friends.chzn-select.span16{name: "target_id", "data-placeholder" => "Select Friend" }
        %option
        = options_from_collection_for_select @friends, :id, :name, (@friend.id unless @friend.blank?)
    .span11#console_index_subnav_button_skype_container
      = render 'console/skypebutton', layout: false
  .row
    .span.offset1
      .btn.btn-inverse.btn-small.console_index_subnav_button_timer_set{"data-set"=>30}
        30
      .btn.btn-inverse.btn-small.console_index_subnav_button_timer_set{"data-set"=>45}
        45
      .btn.btn-inverse.btn-small.console_index_subnav_button_timer_set{"data-set"=>60}
        60
    .span.offset1
      #console_index_subnav_button_timer_start.btn.btn-inverse.btn-small
        Start
    .span.offset1
      #console_index_subnav_timer
        00:00
        