

#console_index_pdfjs
  %iframe#console_index_pdfjs_iframe{ src: ("/console/pdfjs?id=#{@book.id}" unless @book.blank?) }


#console_index_pdfjs_blank{style:("display:none;" unless @book.blank?)}

  #console_index_pdfjs_blank_header

  #console_index_pdfjs_blank_message
    #console_index_panel_blank_message_text
      Select a case




/ BOOK SELECT - if you put in subnav can't locate here with css
#console_index_subnav_select_books_container.offset1
  %select#console_index_subnav_select_books.chzn-select{name: "book_id", "data-placeholder" => "Choose a Case" }
    %option{value: ""} Select a case...
    - @books.each do |books_select_item|
      %option{value: books_select_item.id, "selected" => ("selected" if (books_select_item.id == @book.id) unless @book.blank?) }
        = books_select_item.author.split(' ')[0] + " - " + books_select_item.title





#console_index_feedback_subnav
  = render 'subnav'

#console_index_feedback_frame
  - unless @friend.blank?
    = render partial: "cases/new", locals: { user_id: @friend.id }
  - else
    #console_index_feedback_blank
      = image_tag "icons/forms/user.png"
      #console_index_feedback_blank_text
        Select a friend to open a feedback form