

#console_index_splash{ class: ("single-left" if @view == "single-left") }
  #console_index_splash_header 
    CASE CONSOLE

  = image_tag "art/laptop.png", id: "console_index_splash_art"

  #console_index_splash_panel
    #console_index_splash_panel_button_interviewer.btn
      Interviewer
      %i.icon-fontawesome-webfont-18
    %br
    #console_index_splash_text
      Which are you?
    %br
    %br
    %br
    #console_index_splash_panel_button_interviewee.btn
      Interviewee
      %i.icon-fontawesome-webfont-18

  #console_index_splash_friend

    %span#console_index_splash_friend_text
      With:

    %select#console_index_subnav_select_friends{name: "target_id", "data-placeholder" => "Select Friend" }
      %option{value: ""} Select a partner...
      = options_from_collection_for_select @friends, :id, :username, (@friend.id unless @friend.blank?)

  #console_index_splash_book

    %span#console_index_splash_book_text
      Case:

    %select#console_index_subnav_select_books{name: "book_id", "data-placeholder" => "Choose a Case" }
      %option{value: ""} Select a case...
      - @books.each do |books_select_item|
        %option{value: books_select_item.id, "selected" => ("selected" if (books_select_item.id == @book.id) unless @book.blank?) }
          = books_select_item.author.split(' ')[0] + " - " + books_select_item.title_trunc


#console_index_interviewee_container
  = render 'interviewee_panel'

#console_index_interviewer_container{ class: ("single-left" if @view == "single-left") }

  #console_index_pdfjs{ class: ("single-left" if @view == "single-left") }
    %iframe#console_index_pdfjs_iframe{ src: ("/console/pdfjs?id=#{@book.id}" unless @book.blank?) }


  #console_index_pdfjs_blank{style:("display:none;" unless @book.blank?), class: ("single-left" if @view == "single-left")}

    #console_index_pdfjs_blank_header

    #console_index_pdfjs_blank_message
      #console_index_panel_blank_message_text
        Select a case





  #console_index_feedback_subnav
    = render 'subnav'

  #console_index_feedback_frame{class: ("single-left" if @view == "single-left")}
    - unless @friend.blank?
      = render partial: "cases/new", locals: { user_id: @friend.id }
    - else
      #console_index_feedback_blank
        = image_tag "icons/forms/user.png"
        #console_index_feedback_blank_text
          Select a friend to open a feedback form



