= form_tag '#', method: 'get', id: "users_index_users_form", onsubmit: 'return false' do
  .row
    / search field
    = text_field_tag :search, params[:search], placeholder: "Search for candidates...", id: "users_index_users_form_searchfield", class: 'search-query'

  .spacer5
  .row
    #users_index_users_form_buttons
      .btn-group
        %a#users_index_users_form_button_0.btn.btn-small < 100mi
        %a#users_index_users_form_button_1.btn.btn-small.active Global
        %a#users_index_users_form_button_2.btn.btn-small.btn-inverse Contacts
  #users_index_users_form_radiogroup
    = radio_button_tag :users_listtype, 'local'
    = radio_button_tag :users_listtype, 'global', checked: true
    = radio_button_tag :users_listtype, 'contacts'