- provide(:title, 'Map')

- content_for :javascript_includes do
  = javascript_include_tag "lib/amcharts"
  = javascript_include_tag "lib/markerclustererplus"

  = javascript_include_tag "http://download.skype.com/share/skypebuttons/js/skypeCheck.js"

  / Params link to user marker
  - if params[:user_id]
    :javascript
      var map_index_map_lat_start = "#{User.find(params[:user_id]).lat}";
      var map_index_map_lng_start = "#{User.find(params[:user_id]).lng}";
      setTimeout(function() {
        window.map_index_map_marker_click("#{params[:user_id]}");
      }), 1000
      
  - else
    :javascript
      var map_index_map_lat_start = "#{current_user.lat}";
      var map_index_map_lng_start = "#{current_user.lng}";
      setTimeout(function() {
        window.map_index_map_marker_click("#{current_user.id}");
      }), 1000

  / - if current_user.help_2_checked
  /   :javascript
  /     $(document).ready(function() {
  /       google.maps.event.addListenerOnce(map, 'idle', function(){
  /         window.application_show_help(2);
  /       });
  /     });



/ #map_index_map_footerspacer

/ #map_index_mappanel_control.map_index_mappanel
/   = render 'control'
/ #map_index_mappanel_tooltip.map_index_mappanel
/ #map_index_mappanel_footer.map_index_mappanel
/   = render 'footer_map'


#map_index_container

  #map_index_container_users
    .row
      = render '/members/users_form'
      #map_index_users
      / content is rendered by members#index.js.erb


  #map_index_container_map.map

    .row
      .span.map_index_user_border.top
    .row
      .span.map_index_user_border.side
      .span
        #map_index_user
        / content is rendered by on marker click (in users.js)
      .span.map_index_user_border.side
    .row
      .span.map_index_user_border.bottom
    

