%header.navbar{:class => ("signedout" if !signed_in? || params[:action] == "complete_profile" || params[:back_url] == "/account/complete_profile") }
  .navbar-inner{:class => ("signedout" if !signed_in? || params[:action] == "complete_profile" || params[:back_url] == "/account/complete_profile") }
    .container
      #header_logo_nav{:class => ("signedout" if !signed_in? || params[:action] == "complete_profile" || params[:back_url] == "/account/complete_profile") }
        = link_to image_tag("app/logo.png"), root_path

      - if signed_in?

        #application_notify.alert

        - if current_user.completed?
          %ul#header_nav_links_left.nav.pull-left

            / %li.divider-vertical
            %li.offset1#header_nav_search_container
              = form_tag '#', method: 'get', id: "header_nav_search_form", onsubmit: 'return false', class: "form-search" do
                .input-prepend
                  %button.btn.btn-small{type: "submit"}
                    %span.fui-search
                  = text_field_tag :search, params[:search], placeholder: "Search...", id: "header_nav_search_field", "data-original-title"=>"Search for people to do cases with", rel: "tooltip", "data-placement"=>"bottom", class: 'search-query search-query-rounded small application_tooltip'

            %li{:class => ("active" if params[:controller] == "map") }
              = link_to raw("<i class='icon-circle-blank icon-large icon-fixed-width'></i> Connect"), map_path, "data-original-title"=>"Browse for people to do cases with", rel: "tooltip", "data-placement"=>"bottom", class: "application_tooltip"

            %li{:class => ("active" if params[:controller] == "books") }
              = link_to raw("<i class='icon-book icon-white icon-large icon-fixed-width'></i> Cases"), library_path, "data-original-title"=>"Find a case to practise", rel: "tooltip", "data-placement"=>"bottom", class: "application_tooltip"

            %li{:class => ("active" if params[:controller] == "questions") }
              = link_to raw("<i class='icon-comments-alt icon-large icon-fixed-width'></i> Q&A"), questions_path, "data-original-title"=>"Discussion", rel: "tooltip", "data-placement"=>"bottom", class: "application_tooltip"
            %li
              = link_to raw("<i class='icon-question icon-white icon-large icon-fixed-width'></i>"), '#', id: 'header_link_help', "data-original-title"=>"Help", rel: "tooltip", "data-placement"=>"bottom", class: "application_tooltip"
            %li
              = link_to raw("<i class='icon-bullhorn icon-white icon-large icon-fixed-width'></i>"), '#', id: "header_link_contact", "data-original-title"=>"Contact us", rel: "tooltip", "data-placement"=>"bottom", class: "application_tooltip"

          %ul#header_nav_links_right.nav.pull-right
          
            %li{:class => ("active" if params[:controller] == "events" || params[:controller] == "cases" || params[:controller] == "account") }
              = link_to events_path, id: "header_nav_links_right_name", class: "application_truncatable" do
                = current_user.username
                %span#header_user_points
                  = current_user.points_tally

        - else
          %ul.nav.pull-right
            %li
              = link_to current_user.email
              %span#header_nav_links_right_signedout
                = image_tag "universities/" + @user.university.image
              = @user.university.name
      - else
        %ul#header_nav_links_left.nav.pull-left
            
