%header.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      #logo_nav
        = link_to image_tag("app/logo-dome.png"), users_path, id: "logo-dome"
        = link_to image_tag("app/logo-text.png"), users_path, id: "logo-text"

      - if signed_in?
        %ul#nav_links_left.nav.pull-left

          %li.divider-vertical

          / MAP: pushpin or globe or picture or road or map-marker
          %li
            = link_to raw("<i class='icon-globe icon-large'></i> Users"), users_path

        %ul.nav.pull-right

          = render 'header/menu_notifications'

          = render 'header/menu_profile'

      - else
        %ul#nav_links_left.nav.pull-left

          %li.divider-vertical
          %li
            = link_to raw("<i class='icon-question icon-large'></i> About"), about_path

        = form_for(:session, url: sessions_path, :html => { :class => "navbar-form pull-right"} ) do |f|

          = f.text_field :email, class: 'span2', tabindex: "1"
          = f.password_field :password, class: 'span2', tabindex: "2"

          %button.btn.btn-inverse{:href => "#", :type => "submit", tabindex: "3"}
            %i.icon-share-alt.icon-white
