%header.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner{:class => ("signedout" if !signed_in?)}
    .container
      #header_logo_nav{:class => ("signedout" if !signed_in?)}
        = link_to image_tag("app/logo.png"), root_path

      - if signed_in?
        %ul#nav_links_left.nav.pull-left

          %li.divider-vertical

          / MAP: pushpin or globe or picture or road or map-marker
          %li
            = link_to raw("<i class='icon-globe icon-large icon-white'></i> Users"), users_path
          %li
            = link_to raw("<i class='icon-random icon-large icon-white'></i> Roulette"), '/roulette'

        %ul.nav.pull-right

          = render 'header/menu_notifications'

          = render 'header/menu_profile'

      - else
        %ul#nav_links_left.nav.pull-left

          %li.divider-vertical
          %li
            = link_to raw("<i class='icon-bolt icon-large icon-white'></i> About"), about_path

        = render 'header/signin'