%header.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner{:class => ("signedout" if !signed_in?) }
    .container
      #header_logo_nav{:class => ("signedout" if !signed_in?) }
        = link_to image_tag("app/logo.png"), root_path

      - if signed_in?

        - if current_user.completed?
          %ul#header_nav_links_left.nav.pull-left

            %li.divider-vertical

            / MAP: pushpin or globe or picture or road or map-marker
            %li
              = link_to raw("<i class='icon-pushpin icon-large icon-white'></i> Browse"), map_path
            %li
              = form_tag '#', method: 'get', id: "", onsubmit: 'return false' do
                = text_field_tag :search, params[:search], placeholder: "Search...", id: "", class: 'search-query'

            %li
              = link_to raw("<i class='icon-random icon-large icon-white'></i> Library"), library_path
            %li
              = link_to raw("<i class='icon-info-sign icon-large icon-white'></i> Help"), '#', id: 'header_link_help'

          %ul#header_nav_links_right.nav.pull-right

            = render 'header/menu_notifications'

            = render 'header/menu_profile'

        - else

          %ul.nav.pull-right

            = render 'header/menu_profile_incomplete'

      - else
        %ul#header_nav_links_left.nav.pull-left

          %li.divider-vertical

        = render 'header/signin_form'