%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      #logo_nav
        - if signed_in?
          = link_to image_tag("misc/logo-dome.png"), users_path, id: "logo-dome"
          = link_to image_tag("misc/logo-text.png"), users_path, id: "logo-text"
      %nav
        - if signed_in?
          %ul#nav_links_left.nav.pull-left

            %li.divider-vertical

            / MAP: pushpin or globe or picture or road or map-marker
            %li
              = link_to raw("<i class='icon-globe icon-large'></i> Users"), users_path

          %ul.nav.pull-right

            = render 'header/menu_notifications'

            = render 'header/menu_profile'
  
        - else
          %ul.nav.pull-left

            %li.divider-vertical
            %li
              = link_to raw("<i class='icon-globe icon-question'></i> About"), about_path