#application_profilepanel

  .row
    .span20{:class => ("active" if params[:controller] == "events") }
      = link_to events_path do
        .application_profilepanel_item
          %i.icon-calendar.icon-fixed-width
          .application_profilepanel_item_text
            My Calendar

    
    .span20{:class => ("active" if params[:controller] == "cases" && (params[:action] == "index" || params[:action] == "show")) }
      = link_to cases_path do
        .application_profilepanel_item
          %i.icon-edit.icon-fixed-width
          .application_profilepanel_item_text
            My Feedback

    .span20{:class => ("active" if params[:controller] == "cases" && params[:action] == "analysis") }
      = link_to analysis_cases_path do
        .application_profilepanel_item
          %i.icon-bar-chart.icon-fixed-width
          .application_profilepanel_item_text
            Feedback Analysis


    .span20
      #application_profilepanel_notifications

        = render '/notifications/menu3'

  .row
  


    .span20{:class => ("active" if params[:controller] == "account" && params[:action] == "visitors") }
      = link_to visitors_account_path do
        .application_profilepanel_item
          %i.icon-eye-open.icon-fixed-width
          .application_profilepanel_item_text
            Visitors
    
    .span20{:class => ("active" if params[:controller] == "account" && params[:action] == "edit") }
      = link_to edit_account_path do
        .application_profilepanel_item
          %i.icon-cogs.icon-fixed-width
          .application_profilepanel_item_text
            Settings

    .span20{:class => ("active" if params[:controller] == "invitations") }
      = link_to invitations_path do
        .application_profilepanel_item
          %i.icon-user.icon-fixed-width
          .application_profilepanel_item_text
            Invite

    .span20
      = link_to destroy_user_session_path, method: :delete do
        .application_profilepanel_item
          %i.icon-arrow-left.icon-fixed-width
          .application_profilepanel_item_text
            Sign out