#application_profilenav

  .row{:class => ("active" if params[:controller] == "events") }
    = link_to events_path do
      .application_profilenav_item
        %i.icon-calendar.icon-fixed-width
        .application_profilenav_item_text
          My Calendar

  
  .row{:class => ("active" if params[:controller] == "cases" && (params[:action] == "index" || params[:action] == "show")) }
    = link_to cases_path do
      .application_profilenav_item
        %i.icon-edit.icon-fixed-width
        .application_profilenav_item_text
          My Cases
  .row{:class => ("active" if params[:controller] == "cases" && params[:action] == "analysis") }
    = link_to analysis_cases_path do
      .application_profilenav_item
        %i.icon-bar-chart.icon-fixed-width
        .application_profilenav_item_text
          Analysis
    
  %br

  .row#application_profilenav_notifications

    = render '/notifications/menu2'


  .row{:class => ("active" if params[:controller] == "account" && params[:action] == "visitors") }
    = link_to visitors_account_path do
      .application_profilenav_item
        %i.icon-eye-open.icon-fixed-width
        .application_profilenav_item_text
          Visitors
  
  .row{:class => ("active" if params[:controller] == "account" && params[:action] == "edit") }
    = link_to edit_account_path do
      .application_profilenav_item
        %i.icon-cogs.icon-fixed-width
        .application_profilenav_item_text
          Settings

  .row{:class => ("active" if params[:controller] == "invitations") }
    = link_to invitations_path do
      .application_profilenav_item
        %i.icon-user.icon-fixed-width
        .application_profilenav_item_text
          Invite

  %br


  .row
    = link_to destroy_user_session_path, method: :delete do
      .application_profilenav_item
        %i.icon-arrow-left.icon-fixed-width
        .application_profilenav_item_text
          Sign out