!!!
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    / likely not the best place for this...but not sure where else?
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false"
    = javascript_include_tag "http://download.skype.com/share/skypebuttons/js/skypeCheck.js"
    = javascript_include_tag "jquery.ui.map.min"
    
    = csrf_meta_tags
    / IE shim
    = render 'layouts/shim'

  %body
    / header
    = render 'layouts/header'

    / flash div 
    #flash_application
      = render :partial => 'layouts/flash' , :locals => { :flash => flash }

    .container.main

      / :content now specified in all views - anoying, but enables nested view templates for 
      / e.g. for notifications and cases controllers
      = yield :content

      / footer
      = render 'layouts/footer'
