!!!
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = yield :javascript_includes

    = csrf_meta_tags
    / IE shim
    = render 'layouts/shim'

  %body{:class => ("application_body_signedout" if !signed_in?)}
    / header
    = render 'layouts/header'

    / flash div 
    #application_flash{:class => ("application_flash_signedout" if !signed_in?)}
      = render :partial => 'layouts/flash' , :locals => { :flash => flash }

    .container.main

      / :content now specified in all views - anoying, but enables nested view templates for 
      / e.g. for notifications and cases controllers
      = yield :content

      / footer
      = render 'layouts/footer'
