!!!
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=true"
    = yield :javascript_includes

    = csrf_meta_tags

    /[if lte IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svb/trunk/html5.js", media: 'screen', rel: 'stylesheet'

  %body{:class => ("signedout" if !current_user.completed?)}
    / header
    = render 'layouts/header'

    / flash div
    = render 'layouts/flash', flash: flash

    .container.main
      = render 'shared/title'
      .row
        .span94
          = yield

      / footer
      = render 'layouts/footer'

  = render 'shared/modal_help' if signed_in?
  = render 'shared/modal_bug' if signed_in?