!!!
%html.application_html_map
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = javascript_include_tag "onlinepanel"

    - if request.ssl?
      = javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=true"
    - else
      = javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=true"

    = javascript_include_tag "lib/infobox"
    
    = javascript_include_tag "http://maps.stamen.com/js/tile.stamen.js?v1.2.3"
    
    = javascript_include_tag "map"
    = javascript_include_tag "events"


    = javascript_include_tag "lib/amcharts"
    = javascript_include_tag "http://download.skype.com/share/skypebuttons/js/skypeCheck.js"

    = yield :javascript_includes

    = csrf_meta_tags

    = analytics_init if Rails.env.production?

    /[if lte IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svb/trunk/html5.js", media: 'screen', rel: 'stylesheet'

    = render partial: 'shared/pusher'


  %body

    #application_container_master
      = render 'layouts/header'

      = render 'layouts/flash', flash: flash

      #application_container_profilenav
        = render 'layouts/profilenav'
        
      #application_container_main
        = yield

    = render 'onlinepanel/container'

  = render 'shared/modal_help' if signed_in?
  = render 'shared/modal_contact'
  = render 'shared/modal_message'
  = render 'shared/modal_event'
  = render 'shared/modal_post'
  = render 'shared/modal_friendship_req'