!!!
%html{:dir => "ltr", :mozdisallowselectionprint => "", :moznomarginboxes => ""}
  %head
    %title= full_title(yield(:title))

    = stylesheet_link_tag    "pdfjs"

    / = javascript_include_tag "lib/pdfjs/pdf"
    %script{:src => "/javascripts/pdfjs/pdf.js"}

    :javascript
      var pdf_path = "/assets/library/#{@book.url}"
      PDFJS.workerSrc = '/javascripts/pdfjs/pdf.js';

    / #if !(FIREFOX || MOZCENTRAL || CHROME)
    %script{:src => "/javascripts/pdfjs/compatibility.js"}
    / #endif
    %script{:src => "/javascripts/pdfjs/debugger.js"}
    %script{:src => "/javascripts/pdfjs/l10n.js"}
    %script{:src => "/javascripts/pdfjs/viewer.js"}

    /[if lte IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svb/trunk/html5.js", media: 'screen', rel: 'stylesheet'
    /[if lte IE 7]
      = javascript_include_tag "lib/icon-font-ie7"

    / ALSO FOR PDFJS
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/

    / #if FIREFOX || MOZCENTRAL
    / #include viewer-snippet-firefox-extension.html
    / #endif

    / #if GENERIC || CHROME
    / #include viewer-snippet.html
    / #endif

    = csrf_meta_tags


  %body{:tabindex => "1"}

    = yield