!!!
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag    "application", media: "all"

    - if request.ssl?
      = javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=true"
    - else
      = javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=true"

    = javascript_include_tag "application"

    = javascript_include_tag "events"
    = javascript_include_tag "cases"
    = javascript_include_tag "lib/amcharts"
    = javascript_include_tag "account"

    = yield :javascript_includes

    = csrf_meta_tags

    = analytics_init if Rails.env.production?
    
    /[if lte IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svb/trunk/html5.js", media: 'screen', rel: 'stylesheet'

  %body
    / header
    = render 'layouts/header'

    = render 'layouts/flash', flash: flash


    .container.main
      = render 'shared/title'
      .row
        .span25
          .panel.dark.kill_bottom
            #profile_nav_item_over
            .row.profile_nav_item
              = link_to "Summary", summary_path
            .row.profile_nav_item
              = link_to "Cases", cases_path
            .row.profile_nav_item
              = link_to "Notifiations", notifications_path
            .row.profile_nav_item
              = link_to "Analysis", analysis_cases_path
            %br
            .row.profile_nav_item
              = link_to "Settings", edit_account_path
        .span73
          = yield



      / footer
      = render 'layouts/footer'

  = render 'shared/modal_help'
  = render 'shared/modal_contact'