!!!
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag    "application", media: "all"

    - if request.ssl?
      = javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=true"
    - else
      = javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=true"

    = javascript_include_tag "application"

    = javascript_include_tag "lib/amcharts"
    
    = javascript_include_tag "events"
    = javascript_include_tag "cases"
    = javascript_include_tag "account"
    = javascript_include_tag "summary"

    = yield :javascript_includes

    = csrf_meta_tags

    = analytics_init if Rails.env.production?
    
    /[if lte IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svb/trunk/html5.js", media: 'screen', rel: 'stylesheet'

    = render partial: 'shared/pusher'
    / %script{:charset => "utf-8", :type => "text/javascript"}
    / $(function() {
    / var pusher = new Pusher('937cfc180861aebef0e8'); // Replace with your app key
    / var channel = pusher.subscribe('private-1');
    
    / channel.bind('new_message', function(data) {
    / msg = data.from + ' has sent you a message: ' + data.subject;
    / dom_notify(msg);
    / title_notify(msg);
    / if (window.webkitNotifications) { webkit_notify(msg); }
    / });
    
    / \// In DOM alert
    / function dom_notify(msg) {
    / $('#notify').text(msg);
    / $('#notify').fadeIn();
    / setTimeout(function() {
    / $('#notify').fadeOut
    / ();
    / }, 2000);
    / }
    
    / \// <title> msg
    / function title_notify(msg) {
    / $.titleAlert(msg);
    / }
    
    / \// Webkit Notifications API
    / \// http://www.html5rocks.com/en/tutorials/notifications/quick/
    
    / \// Setup permissions
    / if (window.webkitNotifications) {
    / console.log("Notifications are supported!");
    / $('#notify_api').show();
    / }
    / else {
    / console.log("Notifications are not supported for this Browser/OS version yet.");
    / }
    
    / $('#ask_notify_permission').click(function() {
    / window.webkitNotifications.requestPermission();
    / });
    
    / \// Notify function
    / function webkit_notify(msg) {
    / notify = window.webkitNotifications.createNotification('http://pusher.com/stylesheets/images/feature_scalable.png', msg, '');
    / notify.show();
    / }
    
    / \// Some useful Pusher debug msgs
    / pusher.connection.bind('connecting', function() {
    / $('div#status').text('Connecting to Pusher...');
    / });
    / pusher.connection.bind('connected', function() {
    / $('div#status').text('Connected to Pusher!');
    / });
    / pusher.connection.bind('failed', function() {
    / $('div#status').text('Connection to Pusher failed :(');
    / });
    / channel.bind('subscription_error', function(status) {
    / $('div#status').text('Pusher subscription_error');
    / });
    / });

  %body
    / header
    = render 'layouts/header'

    = render 'layouts/flash', flash: flash


    .container.main
      = render 'shared/title'
      .row
        .span25
          .panel.dark.kill_bottom

            .row.profile_nav_item{:class => ("active" if params[:controller] == "summary") }
              = link_to "Summary", summary_path
            .row.profile_nav_item{:class => ("active" if params[:controller] == "cases" && (params[:action] == "index" || params[:action] == "show")) }
              = link_to "Cases", cases_path
            .row.profile_nav_item{:class => ("active" if params[:controller] == "notifications") }
              = link_to "Notifiations", notifications_path
            .row.profile_nav_item{:class => ("active" if params[:controller] == "cases" && params[:action] == "analysis") }
              = link_to "Analysis", analysis_cases_path
            %br
            .row.profile_nav_item{:class => ("active" if params[:controller] == "account" && params[:action] == "edit") }
              = link_to "Settings", edit_account_path
        .span73
          = yield



      / footer
      = render 'layouts/footer'

  = render 'shared/modal_help' if signed_in?
  = render 'shared/modal_contact'
  = render 'shared/modal_event' if signed_in?