!!!
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag    "application", media: "all"

    - if request.ssl?
      = javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=true"
    - else
      = javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=true"

    = javascript_include_tag "application"

    = javascript_include_tag "onlinepanel"
    
    = javascript_include_tag "lib/amcharts"
    
    = javascript_include_tag "events"
    = javascript_include_tag "cases"
    = javascript_include_tag "account"
    = javascript_include_tag "summary"
    = javascript_include_tag "notifications"

    = yield :javascript_includes

    = csrf_meta_tags

    = analytics_init if Rails.env.production?
    
    /[if lte IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svb/trunk/html5.js", media: 'screen', rel: 'stylesheet'

    = render partial: 'shared/pusher'

  %body



    #application_container_main

      = render 'layouts/header'

      = render 'layouts/flash', flash: flash


      .container.main
        = render 'shared/title'
        .row
          .span25
            .panel.dark.kill_bottom#profile_nav

              .row
                = link_to summary_path do
                  .profile_nav_item{:class => ("active" if params[:controller] == "summary") }
                    %i.icon-home.icon-fixed-width
                    %span.offset1
                      Summary
              .row
                = link_to events_path do
                  .profile_nav_item{:class => ("active" if params[:controller] == "events") }
                    %i.icon-calendar.icon-fixed-width
                    %span.offset1
                      Calendar
              
              .row
                = link_to cases_path do
                  .profile_nav_item{:class => ("active" if params[:controller] == "cases" && (params[:action] == "index" || params[:action] == "show")) }
                    %i.icon-edit.icon-fixed-width
                    %span.offset1
                      Cases
              .row
                = link_to analysis_cases_path do
                  .profile_nav_item{:class => ("active" if params[:controller] == "cases" && params[:action] == "analysis") }
                    %i.icon-bar-chart.icon-fixed-width
                    %span.offset1
                      Analysis
                
              %br

              .row
                = link_to viewers_account_path do
                  .profile_nav_item{:class => ("active" if params[:controller] == "account" && params[:action] == "viewers") }
                    %i.icon-eye-open.icon-fixed-width
                    %span.offset1
                      Profile Visitors

              %br

              .row
                = link_to notifications_path do
                  .profile_nav_item{:class => ("active" if params[:controller] == "notifications") }
                    %i.icon-comments-alt.icon-fixed-width
                    %span.offset1
                      Notifications
              
              .row
                = link_to edit_account_path do
                  .profile_nav_item{:class => ("active" if params[:controller] == "account" && params[:action] == "edit") }
                    %i.icon-cogs.icon-fixed-width
                    %span.offset1
                      Settings

              .row
                = link_to invitations_path do
                  .profile_nav_item{:class => ("active" if params[:controller] == "invitations") }
                    %i.icon-user.icon-fixed-width
                    %span.offset1
                      Invite Friends

              %br


              .row
                = link_to destroy_user_session_path, method: :delete do
                  .profile_nav_item
                    %i.icon-bolt.icon-fixed-width
                    %span.offset1
                      %strong
                        Sign out




          .span.profile_container_Width
            = yield

        / footer
        = render 'layouts/footer'


    = render 'onlinepanel/container'


  = render 'shared/modal_help'
  = render 'shared/modal_contact'
  = render 'shared/modal_event'
  = render 'shared/modal_post'
  = render 'shared/modal_message'
  = render 'shared/modal_friendship_req'