!!!
%html{lang: "en", "xml:lang" => "en", xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"

    = yield :javascript_includes

    = csrf_meta_tags
    %meta{charset: "UTF-8"}/
    %meta{content: "notranslate", name: "google"}/
    %meta{content: "en", "http-equiv" => "Content-Language"}/

    /[if lte IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svb/trunk/html5.js", media: 'screen', rel: 'stylesheet'
    /[if lte IE 7]
      = javascript_include_tag "lib/icon-font-ie7"

    = render partial: 'shared/pusher'

  %body



    / #application_container_master

    = render 'layouts/header'

    = render 'layouts/flash', flash: flash


    - if params[:controller] == "profile"
      #profile_index_colorblock




        
    #application_container_main.profile
      .container.scroll_less

        = yield

        / footer
        / = render 'layouts/footer'



  = render 'shared/modal_help'
  = render 'shared/modal_contact'
  = render 'shared/modal_event'
  = render 'shared/modal_profile'
  = render 'shared/modal_cases'
  = render 'shared/modal_message'
  = render 'shared/modal_friendship_req'
