!!!
%html
  %head
    %title= full_title(yield(:title))

    = csrf_meta_tags
    = analytics_init if Rails.env.production?

    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    - if request.ssl?
      = javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=true"
    - else
      = javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=true"
    = javascript_include_tag 'static_pages'
    /[if lte IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svb/trunk/html5.js", media: 'screen', rel: 'stylesheet'
    /[if lte IE 7]
      = javascript_include_tag "lib/icon-font-ie7"


    = yield :javascript_includes
    
  %body{:class => ("signedout" if !signed_in?) }
  
    = render 'layouts/header'

    = render 'layouts/flash', flash: flash

    #static_home_container_main
      = yield
    #static_home_logo
      = image_tag "home/logo.png"
      #static_home_welcome_text
        Welcome to
        %br
        %strong casenexus.com

    - if !signed_in?
      #static_home_switch_link_signup.static_home_switch_link{"data-switch_to"=>"signup", "data-switch_from"=>"signin"}
        = link_to "Not yet registered? Sign up", "#"
        
      #static_home_switch_link_signin.static_home_switch_link{"data-switch_to"=>"signin", "data-switch_from"=>"signup"}
        = link_to "Already registered? Sign in", "#"


  = render 'shared/modal_help' if signed_in?
  = render 'shared/modal_contact'