= form_tag '#', method: 'get', id: "map_index_users_form", onsubmit: 'return false' do

  = hidden_field_tag :search, params[:search], placeholder: "Search for candidates...", id: "map_index_users_form_search_field", class: 'search-query'

  .row

    %a.map_index_users_form_button.btn.btn-small.btn-primary.btn-embossed{"data-radio"=>0}
      %i.icon-user
      Local
      %span.iconbar-unread
        = User.list_local(current_user).count

    %a.map_index_users_form_button.btn.btn-small.btn-primary.btn-embossed.active{"data-radio"=>1}
      New
      %span.iconbar-unread
        = User.list_new.count




    %a.map_index_users_form_button.btn.btn-small.btn-primary.btn-embossed{"data-radio"=>2}
      Online today
      %span.iconbar-unread
        = User.list_online_today.count
    %a.map_index_users_form_button.btn.btn-small.btn-primary.btn-embossed{"data-radio"=>3}
      Online now
      %span.iconbar-unread
        = User.list_online_now.count

  .spacer10
  .row#map_index_users_form_row_second

    .btn-group.map_index_users_form_pulldown
      %button#map_index_users_form_pulldown_language_button.map_index_users_form_pulldown_button.btn.btn-small.btn-primary.btn-embossed.dropdown-toggle{"data-toggle" => "dropdown"}
        %span.filter-option.pull-left All Languages
        &nbsp;
        %span.caret.small
      %ul.dropdown-menu
        %li
          / data-id is blank
          %a{"data-category" => "language", "data-name" => "All Languages"}
            All Languages
        - Language.all.each do |language_item|
          %li
            %a{"data-category" => "language", "data-name" => language_item.name, "data-id" => language_item.id}
              = language_item.name

    .btn-group
      .map_index_users_form_button_degreelevel.btn.btn-small.btn-primary.btn-embossed{ "data-degreelevel_id" => 0,class: ("active" if current_user.degree_level == 0)}
        UG
      }
      .map_index_users_form_button_degreelevel.btn.btn-small.btn-primary.btn-embossed{ "data-degreelevel_id" => 1 ,class: ("active" if current_user.degree_level == 1)}
        MBA



    .btn-group


    
      / - @post_ondisplay = Post.where("approved = true").order("created_at asc").last
      / #onlinepanel_posts_post_container{"data-current_post_id" => @post_ondisplay.id }
      /   = render partial: 'posts/show', locals: { post: @post_ondisplay}

      #map_index_users_form_button_posts_new.btn.btn-small.btn-primary.btn-embossed
        +

      %a#map_index_users_form_button_shouts.map_index_users_form_button.btn.btn-small.btn-primary.btn-embossed{"data-radio"=>4}
        %i.icon-bullhorn
        Shoutouts
        %span.iconbar-unread
          = Post.count








  #map_index_users_form_radiogroup
    = radio_button_tag :users_listtype, 'local'
    = radio_button_tag :users_listtype, 'new', checked: true
    = radio_button_tag :users_listtype, 'online_today'
    = radio_button_tag :users_listtype, 'online_now'
    = radio_button_tag :users_listtype, 'posts'

    = text_field_tag :users_filter_degreelevel, current_user.degree_level
    = text_field_tag :users_filter_language