= form_tag '#', method: 'get', id: "map_index_users_form", onsubmit: 'return false' do


  #map_index_users_form_search_container

    = text_field_tag :search, params[:search], placeholder: "Search...", "data-original-title"=>"Search for people to do cases with", rel: "tooltip", "data-placement"=>"bottom", class: 'application_tooltip', id:"map_index_users_form_search_field"

    %button.btn.btn-small.btn-red{type: "submit"}
      %i.icon-search


  #map_index_users_form_filters_row_first.row

    .map_index_users_form_filters_span

      %div
        LOCATION

      .map_index_users_form_button.btn.btn-micro{"data-radio"=>0, class: ("active" if params[:user_id].blank? && params[:show].blank?)}
        Near you
        - user_near_count = User.list_local(current_user,false).completed.count
        %span.map_index_users_form_filters_button_user_count
          = user_near_count

      .map_index_users_form_button.btn.btn-micro{"data-radio"=>1}
        All
        - user_all_count = User.list_all_excl_current(current_user).completed.count
        %span.map_index_users_form_filters_button_user_count
          = user_all_count


    .map_index_users_form_filters_span

      %div
        JOINED

      .map_index_users_form_button.btn.btn-micro{"data-radio"=>2}
        New
        %span.map_index_users_form_filters_button_user_count
          = User.list_new.count


    .map_index_users_form_filters_span


      %div
        ONLINE
      .map_index_users_form_button.btn.btn-micro{"data-radio"=>3}
        Today
        - online_today_count = User.list_online_today(current_user).completed.count
        %span.map_index_users_form_filters_button_user_count
          = online_today_count

      .map_index_users_form_button#map_index_users_form_button_online_now.btn.btn-micro{"data-radio"=>4, class: ("active" unless params[:show].blank?) }
        Now
        - online_now_count = User.list_online_now(current_user).completed.count
        %span.map_index_users_form_filters_button_user_count
          = online_now_count




  .spacer5

  #map_index_users_form_filters_row_second.row

    .map_index_users_form_filters_span#map_index_users_form_filters_span_education

      %div
        EDUCATION

      .map_index_users_form_button_switch.btn.btn-micro{ "data-choice_id" => "", "data-switch_name" => "degreelevel" ,class: "active"}
        All

      .map_index_users_form_button_switch.btn.btn-micro{ "data-choice_id" => 0, "data-switch_name" => "degreelevel"}
        UG

      .map_index_users_form_button_switch.btn.btn-micro{ "data-choice_id" => 1, "data-switch_name" => "degreelevel"}
        MBA

      / %a.map_index_users_form_button.btn.btn-micro{"data-radio"=>1}
      /   New
      /   %span.iconbar-unread
      /     = User.list_new.count

    .map_index_users_form_filters_span#map_index_users_form_filters_span_language

      %div
        LANGUAGE

      .map_index_users_form_button_switch.btn.btn-micro{ "data-choice_id" => 0, "data-switch_name" => "language", class: "active"}
        All

      - Language.all.each do |language_item|
        .map_index_users_form_button_switch.btn.btn-micro{ "data-choice_id" => language_item.id, "data-switch_name" => "language" }
          = language_item.name


    .map_index_users_form_filters_span#map_index_users_form_filters_span_experience

      %div
        EXPERIENCE

      .map_index_users_form_button_switch.btn.btn-micro{ "data-choice_id" => "", "data-switch_name" => "experience", class: "active"}
        All

      .map_index_users_form_button_switch.btn.btn-micro{ "data-choice_id" => 0, "data-switch_name" => "experience"}
        0-10

      .map_index_users_form_button_switch.btn.btn-micro{ "data-choice_id" => 1, "data-switch_name" => "experience"}
        10+


  .spacer15


  #map_index_users_form_radiogroup
    = radio_button_tag :users_listtype, 'local', checked: true
    = radio_button_tag :users_listtype, 'all'
    = radio_button_tag :users_listtype, 'new'
    = radio_button_tag :users_listtype, 'online_today'

    / for footer link to who's online
    - unless params[:show].blank?
      = radio_button_tag :users_listtype, 'online_now', checked: true
    - else
      = radio_button_tag :users_listtype, 'online_now'

    / for params user_id link + posts
    - unless params[:user_id].blank?
      = radio_button_tag :users_listtype, 'params', checked: true
      = hidden_field_tag :user_id, params[:user_id]
    - else
      = radio_button_tag :users_listtype, 'params'
      = hidden_field_tag :user_id

    = text_field_tag :users_filter_degreelevel
    = text_field_tag :users_filter_language
    = text_field_tag :users_filter_experience