= form_tag '#', method: 'get', id: "map_index_users_form", onsubmit: 'return false' do
  / .row
  /   / search field
  /   = text_field_tag :search, params[:search], placeholder: "Search for candidates...", id: "map_index_users_form_searchfield", class: 'search-query'

  / .spacer5
  .row
    #map_index_users_navbar
      .btn-toolbar
        .btn-group
          %a#map_index_users_form_button_0.btn.btn-small.btn-inverse < 50mi
          %a#map_index_users_form_button_2.btn.btn-small.btn-inverse Recently Online
          %a#map_index_users_form_button_3.btn.btn-small.btn-inverse Partners
          %a#map_index_users_form_button_4.btn.btn-small.btn-inverse Country
          %a#map_index_users_form_button_6.btn.btn-small.btn-inverse Case count

        .btn-group
          %button.btn.btn-small.btn-inverse Lanuage
          %button.btn.btn-small.btn-inverse.dropdown-toggle{"data-toggle" => "dropdown"}
            %span.caret
          %ul.dropdown-menu
            %li
              %a English
            %li
              %a Spanish
        .btn-group
          %button.btn.btn-small.btn-inverse Firm applied for
          %button.btn.btn-small.btn-inverse.dropdown-toggle{"data-toggle" => "dropdown"}
            %span.caret
          %ul.dropdown-menu
            %li
              %a McKinsey
            %li
              %a Bain
            %li
              %a BCG
  #map_index_users_form_radiogroup
    = radio_button_tag :users_listtype, 'local'
    = radio_button_tag :users_listtype, 'global', checked: true
    = radio_button_tag :users_listtype, 'online'
    = radio_button_tag :users_listtype, 'contacts'
