= form_tag '#', method: 'get', id: "map_index_users_form", onsubmit: 'return false' do

  = hidden_field_tag :search, params[:search], placeholder: "Search for candidates...", id: "map_index_users_form_search_field", class: 'search-query'

  .row

    %a.btn.btn-small.btn-primary.btn-embossed{"data-radio"=>0}
      %i.icon-user


    %a.map_index_users_form_button.btn.btn-small.btn-primary.btn-embossed
      New
      %span.iconbar-unread
        = User.list_new.count

    .btn-group
      .btn.btn-small.btn-primary.btn-embossed
        UG
      .btn.btn-small.btn-primary.btn-embossed
        MBA


    .btn-group.map_index_users_form_pulldown
      %button#map_index_users_form_pulldown_language_button.map_index_users_form_pulldown_button.btn.btn-small.btn-primary.btn-embossed.dropdown-toggle{"data-toggle" => "dropdown"}
        %span.filter-option.pull-left All Languages
        &nbsp;
        %span.caret.small
      %ul.dropdown-menu
        %li
          / data-id is blank
          %a{"data-category" => "language", "data-radio" => 3, "data-name" => "All Languages"}
            All Languages
        - Language.all.each do |language_item|
          %li
            %a{"data-category" => "language", "data-radio" => 3, "data-name" => language_item.name, "data-id" => language_item.id}
              = language_item.name


  .spacer10
  .row#map_index_users_form_row_second

    .btn-group


    
      / - @post_ondisplay = Post.where("approved = true").order("created_at asc").last
      / #onlinepanel_posts_post_container{"data-current_post_id" => @post_ondisplay.id }
      /   = render partial: 'posts/show', locals: { post: @post_ondisplay}

      #map_index_posts_new_button.btn.btn-small.btn-primary.btn-embossed
        +

      %a#map_index_users_form_button_shouts.map_index_users_form_button.btn.btn-small.btn-primary.btn-embossed
        %i.icon-bullhorn
        Shoutouts
        %span.iconbar-unread
          = Post.count






    Online
    %a.map_index_users_form_button.btn.btn-small.btn-primary.btn-embossed{"data-radio"=>1}
      Today
      %span.iconbar-unread
        = User.list_online_today.count
    %a.map_index_users_form_button.btn.btn-small.btn-primary.btn-embossed{"data-radio"=>2}
      Now
      %span.iconbar-unread
        = User.list_online_now.count



  #map_index_users_form_radiogroup
    = radio_button_tag :users_listtype, 'local', checked: true
    = radio_button_tag :users_listtype, 'online_today'
    = radio_button_tag :users_listtype, 'online_now'

    = radio_button_tag :users_listtype, 'language'

    = text_field_tag :users_filter_language