= form_tag '#', method: 'get', id: "map_index_users_form", onsubmit: 'return false' do


  #map_index_users_form_search_container

    = text_field_tag :search, params[:search], placeholder: "Search...", "data-original-title"=>"Search for people to do cases with", rel: "tooltip", "data-placement"=>"bottom", class: 'application_tooltip', id:"map_index_users_form_search_field"

    %button.btn.btn-small.btn-red{type: "submit"}
      %i.icon-search


  #map_index_users_form_filters_row_first.row

    .map_index_users_form_filters_span

      %div
        LOCATION
      .map_index_users_form_button.btn.btn-micro.btn-colour{"data-radio"=>0, class: ("active" if params[:user_id].blank?)}
        Near you
        - user_near_count = User.list_local(current_user,false).count
        %span.map_index_users_form_filters_button_user_count
          = user_near_count

    .map_index_users_form_filters_span


      %div
        ONLINE
      .map_index_users_form_button.btn.btn-micro.btn-colour{"data-radio"=>2}
        Today
        - online_today_count = User.where(["users.id <> ?",current_user.id]).list_online_today.count
        %span.map_index_users_form_filters_button_user_count
          = online_today_count

      .map_index_users_form_button.btn.btn-micro.btn-colour{"data-radio"=>3}
        Now
        - online_now_count = User.where(["users.id <> ?",current_user.id]).list_online_now.count
        %span.map_index_users_form_filters_button_user_count
          = online_now_count

    .map_index_users_form_filters_span


      %div
        CONNECT

      .map_index_users_form_button.btn.btn-micro.btn-colour{"data-radio"=>4}
        Shoutouts
        - user_with_post_count = User.list_users_with_posts.count
        %span.map_index_users_form_filters_button_user_count
          = user_with_post_count

      #map_index_users_form_button_posts_new.btn.btn-micro.btn-colour
        Shout!


  .spacer5

  #map_index_users_form_filters_row_second.row

    .map_index_users_form_filters_span

      %div
        EDUCATION

      .map_index_users_form_button_switch.btn.btn-micro.btn-colour{ "data-choice_id" => "", "data-switch_name" => "degreelevel" ,class: "active"}
        All

      .map_index_users_form_button_switch.btn.btn-micro.btn-colour{ "data-choice_id" => 0, "data-switch_name" => "degreelevel"}
        UG

      .map_index_users_form_button_switch.btn.btn-micro.btn-colour{ "data-choice_id" => 1, "data-switch_name" => "degreelevel"}
        MBA

      / %a.map_index_users_form_button.btn.btn-micro.btn-colour{"data-radio"=>1}
      /   New
      /   %span.iconbar-unread
      /     = User.list_new.count

    .map_index_users_form_filters_span

      %div
        LANGUAGE

      .map_index_users_form_button_switch.btn.btn-micro.btn-colour{ "data-choice_id" => 0, "data-switch_name" => "language", class: "active"}
        All

      - Language.all.each do |language_item|
        .map_index_users_form_button_switch.btn.btn-micro.btn-colour{ "data-choice_id" => language_item.id, "data-switch_name" => "language" }
          = language_item.name



  .spacer15


  #map_index_users_form_radiogroup
    = radio_button_tag :users_listtype, 'local', checked: true
    = radio_button_tag :users_listtype, 'new'
    = radio_button_tag :users_listtype, 'online_today'
    = radio_button_tag :users_listtype, 'online_now'
    = radio_button_tag :users_listtype, 'posts'
    / for params user_id link
    - unless params[:user_id].blank?
      = radio_button_tag :users_listtype, 'params', checked: true
      = hidden_field_tag :user_id, params[:user_id]

    = text_field_tag :users_filter_degreelevel
    = text_field_tag :users_filter_language