= form_tag '#', method: 'get', id: "map_index_users_form", onsubmit: 'return false' do

  / = hidden_field_tag :search, params[:search], placeholder: "Search for candidates...", id: "", class: 'search-query'

  .form-search
    .input-prepend
      %button.btn.btn-small{type: "submit"}
        %span.fui-search
      = text_field_tag :search, params[:search], placeholder: "Search...", id: "map_index_users_form_search_field", "data-original-title"=>"Search for people to do cases with", rel: "tooltip", "data-placement"=>"bottom", class: 'search-query search-query-rounded small application_tooltip'

  .spacer10
  .row

    #map_index_users_form_button_container_local
      %a#map_index_users_form_button_local.map_index_users_form_button.btn.btn-small.btn-primary.active{"data-radio"=>0}
        / %i.icon-user
        = image_tag "icons/user.png"
        %br
        Near you
        - user_near_count = User.list_local(current_user).count
        - unless user_near_count == 0
          %span.iconbar-unread
            = user_near_count


    .map_index_users_form_button_container


      %a#map_index_users_form_button_shouts.map_index_users_form_button.btn.btn-small.btn-primary{"data-radio"=>4}
        %i.icon-bullhorn
        Shoutouts
        - user_with_post_count = User.list_users_with_posts.count
        - unless user_with_post_count == 0
          %span.iconbar-unread
            = user_with_post_count

      #map_index_users_form_button_posts_new.btn.btn-small.btn-primary
        Shout!



    .map_index_users_form_button_container.pull-right

      / %a.map_index_users_form_button.btn.btn-small.btn-primary{"data-radio"=>1}
      /   New
      /   %span.iconbar-unread
      /     = User.list_new.count

      %a#map_index_users_form_button_onlinetoday.map_index_users_form_button.btn.btn-small.btn-primary{"data-radio"=>2}
        Online today
        - online_today_count = User.where(["users.id <> ?",current_user.id]).list_online_today.count
        - unless online_today_count == 0
          %span.iconbar-unread
            = online_today_count

      %a#map_index_users_form_button_onlinenow.map_index_users_form_button.btn.btn-small.btn-primary{"data-radio"=>3}
        Online now
        - online_now_count = User.where(["users.id <> ?",current_user.id]).list_online_now.count
        - unless online_now_count == 0
          %span.iconbar-unread
            = online_now_count


    .map_index_users_form_button_container.pull-right

      .btn-group
        .map_index_users_form_button_degreelevel.btn.btn-small.btn-primary{ "data-degreelevel_id" => 0,class: ("active" if current_user.degree_level == 0)}
          UG
        }
        .map_index_users_form_button_degreelevel.btn.btn-small.btn-primary{ "data-degreelevel_id" => 1 ,class: ("active" if current_user.degree_level == 1)}
          MBA


      .btn-group.map_index_users_form_pulldown
        %button#map_index_users_form_pulldown_language_button.map_index_users_form_pulldown_button.btn.btn-small.btn-primary.dropdown-toggle{"data-toggle" => "dropdown"}
          %span.filter-option.pull-left All Languages
          &nbsp;
          %span.caret.small
        %ul.dropdown-menu
          %li
            / data-id is blank
            %a{"data-category" => "language", "data-radio"=>5, "data-name" => "All Languages"}
              All Languages
          - Language.all.each do |language_item|
            %li
              %a{"data-category" => "language", "data-radio"=>5,"data-name" => language_item.name, "data-id" => language_item.id}
                = language_item.name











  #map_index_users_form_radiogroup
    = radio_button_tag :users_listtype, 'local', checked: true
    = radio_button_tag :users_listtype, 'new'
    = radio_button_tag :users_listtype, 'online_today'
    = radio_button_tag :users_listtype, 'online_now'
    = radio_button_tag :users_listtype, 'posts'
    = radio_button_tag :users_listtype, 'language'

    = text_field_tag :users_filter_degreelevel, current_user.degree_level
    = text_field_tag :users_filter_language