= form_tag '#', method: 'get', id: "map_index_users_form", onsubmit: 'return false' do

  = hidden_field_tag :search, params[:search], placeholder: "Search for candidates...", id: "map_index_users_form_search_field", class: 'search-query'

  .row

    .btn-toolbar
      .span
        
        %a.map_index_users_form_button.btn.btn-small.btn-primary.btn-embossed
          %icon.icon-bullhorn
          Shoutouts
        %a.map_index_users_form_button.btn.btn-small.btn-primary.btn-embossed
          Online Now
        %a.map_index_users_form_button.btn.btn-small.btn-primary.btn-embossed
          New users
        %a.map_index_users_form_button.btn.btn-small.btn-primary.btn-embossed{"data-radio"=>0}
          %i.icon-user
        %a.map_index_users_form_button.btn.btn-small.btn-primary.btn-embossed{"data-radio"=>1} Online Today


        .btn-group
          .map_index_users_form_button.btn.btn-small.btn-primary.btn-embossed
            UG
          .map_index_users_form_button.btn.btn-small.btn-primary.btn-embossed
            MBA

        .map_index_users_form_pulldown.btn-group
          %button#map_index_users_form_pulldown_language_button.map_index_users_form_pulldown_button.btn.btn-small.btn-primary.btn-embossed.dropdown-toggle{"data-toggle" => "dropdown"}
            %span.filter-option.pull-left All Languages
            &nbsp;
            %span.caret.small
          %ul.dropdown-menu
            %li
              / data-id is blank
              %a{"data-category" => "language", "data-radio" => 3, "data-name" => "All Languages"}
                All Languages
            - Language.all.each do |language_item|
              %li
                %a{"data-category" => "language", "data-radio" => 3, "data-name" => language_item.name, "data-id" => language_item.id}
                  = language_item.name



  #map_index_users_form_radiogroup
    = radio_button_tag :users_listtype, 'local', checked: true
    = radio_button_tag :users_listtype, 'online_today'

    = radio_button_tag :users_listtype, 'language'

    = text_field_tag :users_filter_language