= form_tag '#', method: 'get', id: "map_index_users_form", onsubmit: 'return false' do
  .row
    / search field
    = hidden_field_tag :search, params[:search], placeholder: "Search for candidates...", id: "map_index_users_form_search_field", class: 'search-query'

  / .spacer5
  .row

    #map_index_users_subnav.map_index_subnav
      .btn-toolbar
        .span#map_index_users_subnav_filter
          Filter
          %i.icon-caret-right.offset1
        .span.btn-group
          
          %a.map_index_users_form_button.btn.btn-mini.btn-inverse{"data-radio"=>0} < 50mi
          %a.map_index_users_form_button.btn.btn-mini.btn-inverse{"data-radio"=>1} Online Today
          %a.map_index_users_form_button.btn.btn-mini.btn-inverse.active{"data-radio"=>2} Global

        .span
          .map_index_users_form_pulldown.btn-group
            %button#map_index_users_form_pulldown_language_button.map_index_users_form_pulldown_button.btn.btn-mini.btn-inverse.dropdown-toggle{"data-toggle" => "dropdown"}
              All Languages
              %span.caret
            %ul.dropdown-menu
              %li
                / data-id is blank
                %a{"data-category" => "language", "data-radio" => 3, "data-name" => "All Languages"}
                  All Languages
              - Language.all.each do |language_item|
                %li
                  %a{"data-category" => "language", "data-radio" => 3, "data-name" => language_item.name, "data-id" => language_item.id}
                    = language_item.name

        / .span.btn-group
        /   .map_index_users_form_pulldown
        /     %button#map_index_users_form_pulldown_firm_button.map_index_users_form_pulldown_button.btn.btn-mini.btn-inverse.dropdown-toggle{"data-toggle" => "dropdown"}
        /       All Firms
        /       %span.caret
        /     %ul.dropdown-menu
        /       %li
        /         / data-id is blank
        /         %a{"data-category" => "firm", "data-radio" => 4, "data-name" => "All Firms"}
        /           All Firms
        /       - Firm.all.each do |firm_item|
        /         %li
        /           %a{"data-category" => "firm", "data-radio" => 4, "data-name" => firm_item.name, "data-id" => firm_item.id}
        /             = firm_item.name

        .span
          .map_index_users_form_pulldown.btn-group
            %button#map_index_users_form_pulldown_university_button.map_index_users_form_pulldown_button.btn.btn-mini.btn-inverse.dropdown-toggle{"data-toggle" => "dropdown"}
              All Universities
              %span.caret
            %ul.dropdown-menu
              %li
                / data-id is blank
                %a{"data-category" => "university", "data-radio" => 5, "data-name" => "All Univerities"}
                  All Universities
              - University.all.each do |university_item|
                %li
                  %a{"data-category" => "university", "data-radio" => 5, "data-name" => university_item.name, "data-id" => university_item.id}
                    = university_item.name

        .span.btn-group
          .map_index_users_form_pulldown.btn-group
            %button#map_index_users_form_pulldown_country_button.map_index_users_form_pulldown_button.btn.btn-mini.btn-inverse.dropdown-toggle{"data-toggle" => "dropdown"}
              All Countries
              %span.caret
            %ul.dropdown-menu
              %li
                / data-id is blank
                %a{"data-category" => "country", "data-radio" => 6, "data-name" => "All Countries"}
                  All Countries
              - Country.in_use.each do |country_item|
                %li
                  %a{"data-category" => "country", "data-radio" => 6, "data-name" => country_item.name, "data-id" => country_item.id}
                    = country_item.name

  #map_index_users_form_radiogroup
    = radio_button_tag :users_listtype, 'local'
    = radio_button_tag :users_listtype, 'online_today'
    = radio_button_tag :users_listtype, 'global', checked: true

    = radio_button_tag :users_listtype, 'language'
    = radio_button_tag :users_listtype, 'firm'
    = radio_button_tag :users_listtype, 'university'
    = radio_button_tag :users_listtype, 'country'

  = text_field_tag :users_filter_language
  = text_field_tag :users_filter_firm
  = text_field_tag :users_filter_university
  = text_field_tag :users_filter_country