.map_index_users_item{'data-id' => users_item.id.to_s, 'data-lat' => users_item.lat.to_s, 'data-lng' => users_item.lng.to_s, id: "map_index_users_item_" + users_item.id.to_s}


  .map_index_users_item_avatar
    = avatar_for(users_item, { link: 0, size: "large" })

  .map_index_users_item_info

    .map_index_users_item_username
      = users_item.username

    .map_index_users_item_university
      = users_item.university.name.upcase


    - unless users_item.last_online_at.blank?
      .map_index_users_item_onlinestatus

        %i.icon-circle-blank.map_index_users_item_onlinestatus_icon{class: (if users_item.online_now? then "online_now" elsif users_item.online_earlier? then "online_earlier" else "online_not" end)}

        - unless users_item.online_now? || users_item.online_earlier? 
          .map_index_users_item_onlinestatus_text
            last online
            = time_ago_in_words(users_item.last_online_at)
            ago



    .map_index_users_item_actions

      - if users_item != current_user

        - if Friendship.friends?(current_user, users_item)

          .map_index_users_item_button_message.btn.btn-round.btn-round-small.application_tooltip{"data-container"=>"body", "data-original-title"=>"Send message...", rel: "tooltip", "data-placement"=>"bottom", "data-friend_id" => users_item.id }
            %i.icon-email-mail-streamline

          .map_index_users_item_button_event.btn.btn-round.btn-round-small.application_tooltip{"data-container"=>"body", "data-original-title"=>"Book case appointment...", rel: "tooltip", "data-placement"=>"bottom","data-friend_id" => users_item.id.to_s}
            %i.icon-calendar.icon-white

          %a.map_index_users_item_button_startcase.btn.btn-round.btn-round-small.application_tooltip{"data-container"=>"body", "data-original-title"=>"Start case...", rel: "tooltip", "data-placement"=>"bottom", href:"/console?friend_id=" + users_item.id.to_s}
            %i.icon-arrow-right-1

          - unless users_item.skype.blank?
            %a.map_index_users_item_button_skype.btn.btn-round.btn-round-small.application_tooltip{"data-container"=>"body", "data-original-title"=>"Call on Skype...", rel: "tooltip", "data-placement"=>"bottom", href: "skype:#{users_item.skype}?call"}
              %i.icon-skype


        - elsif Friendship.requested?(users_item, current_user)
          .map_index_users_item_friendship_requested
            Request sent

        - elsif Friendship.pending?(users_item, current_user)

          = link_to accept_friendship_path(id: Friendship.friendship(current_user, users_item), back_url: map_path), method: :put, class: "btn btn-colour btn-micro map_index_users_item_friendship_action_button application_tooltip","data-container"=>"body", "data-original-title"=>"Accept partner request...", rel: "tooltip", "data-placement"=>"bottom" do
            %i.icon-checkmark
            Accept
          = link_to reject_friendship_path(id: Friendship.friendship(current_user, users_item), back_url: map_path), method: :put, class: "btn btn-colour btn-micro map_index_users_item_friendship_action_button application_tooltip", "data-container"=>"body", "data-original-title"=>"Decline partner request...", rel: "tooltip", "data-placement"=>"bottom" do
            %i.icon-cancel
            Decline

        - elsif !Friendship.exist?(current_user, users_item)
          %a.map_index_users_item_button_add.btn.btn-micro.application_tooltip{"data-container"=>"body", "data-original-title"=>"Send partner request...", rel: "tooltip", "data-placement"=>"bottom","data-friend_id" => users_item.id }
            %i.icon-plus
            ADD PARTNER

        - unless users_item.linkedin.blank?
          %a.map_index_users_item_button_linkedin.btn.btn-round.btn-round-small.application_tooltip{href: "http://www.linkedin.com/"+users_item.linkedin,target:"_new","data-container"=>"body", "data-original-title"=>"Jump to Linkedin profile", rel: "tooltip", "data-placement"=>"bottom"}
            %i.icon-linkedin-alt




  .map_index_users_item_cases
    .map_index_users_item_cases_recd
      = users_item.case_count_recd
      %span.map_index_users_item_cases_text
        cases
    .map_index_users_item_cases_givn
      = users_item.case_count_givn
      %span.map_index_users_item_cases_text
        given
    .map_index_users_item_cases_external
      = users_item.case_count_external
      %span.map_index_users_item_cases_text
        ext.


  .map_index_users_item_stats
    CASES PER WEEK:
    = users_item.cases_per_week

  .map_index_users_item_activity{style: "background: url(#{Case.user_activity_chart(users_item,"map")})no-repeat"}



