.row
  - case @help_page
    - when "1"
      .span2
        = check_box_tag :help_1_checked, 1, current_user.help_1_checked, :class => 'modal_help_checkbox', 'data-page_id' => 1, 'data-user_id' => current_user.id
      .span30.font-small
        Display this everytime I login
    - when "2"
      .span2
        = check_box_tag :help_2_checked, 1, current_user.help_2_checked, :class => 'modal_help_checkbox', 'data-page_id' => 2, 'data-user_id' => current_user.id
      .span30.font-small
        Display this everytime I use the Map
    - when "3"
      .span2
        = check_box_tag :help_3_checked, 1, current_user.help_3_checked, :class => 'modal_help_checkbox', 'data-page_id' => 3, 'data-user_id' => current_user.id
      .span30.font-small
        Display this everytime I use the Roulette
    - when "4"
      .span2
        = check_box_tag :help_4_checked, 1, current_user.help_4_checked, :class => 'modal_help_checkbox', 'data-page_id' => 4, 'data-user_id' => current_user.id
      .span30.font-small
        Display this everytime I use the Feedback Form
    - when "5"
      .span2
        = check_box_tag :help_5_checked, 1, current_user.help_5_checked, :class => 'modal_help_checkbox', 'data-page_id' => 5, 'data-user_id' => current_user.id
      .span30.font-small
        Display this everytime I use the Case Index
    - when "6"
      .span2
        = check_box_tag :help_6_checked, 1, current_user.help_6_checked, :class => 'modal_help_checkbox', 'data-page_id' => 6, 'data-user_id' => current_user.id
      .span30.font-small
        Display this everytime I use the Progress Analysis
