.span3.application_avatar
  = avatar_for(@user, 'icon')
%span#map_index_map_subnav_mouseover_text
  %strong
    = @user.name
%span
  - unless @user.country.blank?
    = image_tag "countries/"+@user.country.code.to_s+".png", alt: @user.country.name
%span
  - if @user.last_online_at
    Last online
    = time_ago_in_words(@user.last_online_at)
    ago
%span
  = @user.cases.count.to_s + "+" + @user.cases_external.to_s