.panel.gradient

  %button#users_index_show_close.close ×

  #users_show_casecount
    = avatar_for(@user, 'chevron', @user.case_count)

  .row
    .span5
      .application_avatar
        = avatar_for(@user, 'icon', '')
    .span20
      #users_show_name
        = @user.name
  - if current_user.friend_with?(@user) && @user != current_user
    .spacer5
    .row.font-small
      = render '/shared/button_Group_linkedin_and_skype'
      .span
        = render '/shared/button_friend_remove'
    .spacer5
    .row
      = render '/shared/button_Group_feedback_req_and_send'


- if @user.status_approved
  .panel
    .row
      .span35
        #users_show_status
          = @user.status
    .row
      .pull-right
        = render '/shared/button_friend_req_or_message'

#modal_friendship_req.modal.hide.fade
  = render '/shared/modal_friendship_req_form'

= render '/shared/modal_Group_message_and_feedback_req'