.panel.gradient

  %button#users_index_show_close.close ×

  #users_show_casecount
    = avatar_for(@user, 'chevron')

  .row
    .span5
      .application_avatar
        = avatar_for(@user, 'icon')
    .span20
      #users_show_name
        = @user.name
      #users_show_headline
        = @user.headline

  - if Friendship.friends?(current_user, @user)
    .spacer5
    .row.font-small
      = render '/shared/button_group_linkedin_skype'
      .span
        .font-small
          = link_to raw("Remove as Contact"), friendships_path(@user), method: "delete", id: 'users_show_button_removefriend'
    .spacer5
    .row
      #users_show_button_Group_feedback
        .span
          #users_show_button_Group_feedback_title.font-small
            Feedback
        .span
          = link_to raw("<i class=\"icon-edit icon-white\"/> Send"), { controller: "cases", action: "new", user_id: @user.id }, class: "btn btn-inverse btn-small application_button_feedback", id: "users_index_user_button_sendfeedback"
        .span
          %a#users_index_user_button_feedback_req.btn.btn-inverse.btn-small.application_button_feedback
            %i.icon-refresh.icon-white
            %span
              Request

- if @user.status_approved
  .panel.gradient
    .row
      .span35
        #users_show_status
          = @user.status
    .spacer10
    .row
      .pull-left
        - if @user.last_online_at
          #users_show_lastonline
            Last online:
            = time_ago_in_words(@user.last_online_at)

      .pull-right
        - if Friendship.friends?(current_user, @user)
          %a#users_index_user_button_message.btn.btn-inverse.btn-small
            %i.icon-comment.icon-white
            %span
              Message

        - elsif Friendship.requested?(current_user, @user)
          .alert.alert-info
            Partner Request Pending

        - elsif @user != current_user
          %a#users_index_user_button_friend_req.btn.btn-inverse.btn-small
            %i.icon-comment.icon-white
            %span
              Send Friend Request

- if @friendship
  #modal_friendship_req.modal.hide.fade
    = render '/friendships/request_form'

= render '/shared/modal_group_message_and_feedback_req'